/* Public Sans */

@font-face {
    font-family: 'public_sansblack';
    src: url('../css/fonts/publicsans-black-webfont.woff2') format('woff2'),
         url('../css/fonts/publicsans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sansbold';
    src: url('../css/fonts/publicsans-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/publicsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Public Sans ExtraBold';
    src: url('../css/fonts/publicsans-extrabold-webfont.woff2') format('woff2'),
         url('../css/fonts/publicsans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sansextralight';
    src: url('../css/fonts/publicsans-extralight-webfont.woff2') format('woff2'),
         url('../css/fonts/publicsans-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sanslight';
    src: url('../css/fonts/publicsans-light-webfont.woff2') format('woff2'),
         url('../css/fonts/publicsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sansmedium';
    src: url('../css/fonts/publicsans-medium-webfont.woff2') format('woff2'),
         url('../css/fonts/publicsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Public Sans';
    src: url('../css/fonts/publicsans-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/publicsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sanssemibold';
    src: url('../css/fonts/publicsans-semibold-webfont.woff2') format('woff2'),
         url('../css/fonts/publicsans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Public Sans Thin';
    src: url('../css/fonts/publicsans-thin-webfont.woff2') format('woff2'),
         url('../css/fonts/publicsans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General */

body {
	color: #000000;
  font-family: 'Public Sans', sans-serif;
}
img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: 'Public Sans ExtraBold', sans-serif;
}
h1 {
  padding-bottom: 10px;
}
h2 {
  padding-bottom: 10px;
}
h3 {
  padding-bottom: 10px;
}
p, li {
  font-size: 18px;
}
p {
  padding-bottom: 10px;
}
a, a:visited, a:hover {
  color: #0071bc;
}
a, a:visited {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

sup {
  font-family: 'Public Sans Thin', sans-serif;
}

mark {
  background-color: #ffe49a;
  color: #000;
}

/* Mods */

.official p, .footer p, .alphabar p {
  font-size: 105%;
}

/* Letter */

.letter {
  background-color: #f9f9f9;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  padding: 30px;
}

/* Navbar */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar img {
  margin-top: 8px;
  max-height: 35px;
}
.navbar-brand {
  font-family: 'Public Sans ExtraBold', sans-serif;
  padding-left: 35px;
  background-image: url('../img/ca-light.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 10%;
}
.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: #000;
  border-color: #000;
}
.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background: #ffffff;
}
.navbar-header a, .navbar-header a:visited, .navbar-header a:hover {
  color: #ffffff;
  text-decoration: none;
}
.navbar img {
  width: 100%;
  height: auto;
  max-width: 50px;
}

/* Jumbotron */

.jumbotron {
  /*background-image: -webkit-linear-gradient(right, #212121 0%, #242424  30%, #303030 100%);
  background-image: -o-linear-gradient(right, #212121 0%, #242424  30%, #303030 100%);
  background-image: linear-gradient(to right, #212121 0%, #242424 30%, #303030 100%);*/
  background: #000;
  border-bottom: 0px solid #f1f1f1;
  margin-bottom: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.jumbotron, .jumbotron h1, .jumbotron .lead {
  color: #fff;
}
.jumbotron img {
  width: 100%;
  height: auto;
  max-width: 100px;
  padding: 10px 0;
}

/* Official */

.official {
  background: #ffffff;
  padding: 10px 0;
	color: #000000;
}
.official a, .official a:visited, .official a:hover {
  color: #FFF;
}
.official p {
  background-image: url('../img/ca-flag.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 3%;
  margin: 0 0;
  padding: 0 0 0 50px;
}
.official img {
  margin-right: 10px;
  max-width: 60px;
}
.official-footer {
  background-color: #ffffff;
  padding: 15px 0 55px 0;
}

/* alphabar */

.alphabar {
  border-top: 1px solid #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
}

.alphabar p {
  color: #fff;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.alphabar a {
  color: #fff;
}

/* Footer */

.footer {
  border-top: 1px solid #f1f1f1;
  background-color: #fff;
  margin-top: 50px;
  padding-bottom: 70px;
  padding-top: 50px;
}
.footer a, .footer a:visited, .footer a:hover, .footer {
  color: #000000;
}