<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Please share your feedback to help Alpha.CA.gov improve.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Alpha.CA.gov - State of California">
  <meta property="og:description" content="Please share your feedback to help Alpha.CA.gov improve.">
  <meta property="og:url" content="https://alpha.ca.gov/feedback/">

  <link rel="canonical" href="https://alpha.ca.gov/feedback/" />
  <title>Feedback</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>
  <%= require('html-loader!../partials/official.html') %>
  <%= require('html-loader!../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Please share your feedback</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <script>(function (t, e, s, n) { var o, a, c; t.SMCX = t.SMCX || [], e.getElementById(n) || (o = e.getElementsByTagName(s), a = o[o.length - 1], c = e.createElement(s), c.type = "text/javascript", c.async = !0, c.id = n, c.src = ["https:" === location.protocol ? "https://" : "http://", "widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd_2BHkAkgHavJBdUVWcya_2B9TmX6knDU4u_2FzgDZXNzk7OQy.js"].join(""), a.parentNode.insertBefore(c, a)) })(window, document, "script", "smcx-sdk");</script>
      </div>
    </div>

  </div>

  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/alphabar.html') %>
  <%= require('html-loader!../partials/ga.html') %>
  
  <style>
    .smcx-iframe-container {
      height: 1200px !important;
    }

    .smcx-widget {
      height: 1250px !important;
      border: 0px !important;
    }

    @media (max-width: 575.98px) { 
      .smcx-iframe-container {
        height: 1300px !important;
      }

      .smcx-widget {
        height: 1350px !important;
      }
		
    }
  </style>
</body>
	  <script>
	  	var delayInMilliseconds = 2000; //1 second
			setTimeout(function() {
			  var frameDiv = document.getElementsByClassName("smcx-iframe-container")[0];
			  var fframe = frameDiv.getElementsByTagName("iframe")[0];
				  	document.getElementById('smcx_frame').setAttribute('title', 'feedback form');
					document.getElementById('smcx_frame').removeAttribute('frameborder');
					fframe.style.width = "100%";
					fframe.style.height = "100%";
					fframe.style.border = "0";
				  	fframe.removeAttribute('width');
					fframe.removeAttribute('height');
					fframe.removeAttribute('frameborder');
				  	fframe.setAttribute('title', 'feedback form'); 
			}, delayInMilliseconds);	  
	  </script>

</html>
