<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <meta name="description" content="Every wildfire affects survivors differently. Consider these general suggestions, and take the advice that helps you.">
    <%= require('html-loader!../../partials/meta-common.html') %>
    <%= require('html-loader!../../partials/favicons.html') %>
    <title>Considerations after a wildfire - Alpha.CA.gov</title>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Considerations after a wildfire - Alpha.CA.gov">
    <meta property="og:description" content="Every wildfire affects survivors differently. Consider these general suggestions, and take the advice that helps you.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
    <!-- mapbox autocomplete -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css" type="text/css" />
</head>

<body>
    <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
    <header>
        <%= require('html-loader!../../partials/official.html') %>
        <%= require('html-loader!../../partials/experiment-banner.html') %>
        <%= require('html-loader!../../partials/navbar.html') %>
    </header>
    <main>
        <div class="container-fluid jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>Considerations after a wildfire</h1>
                        <p>Every wildfire affects survivors differently. Consider these general suggestions and do what makes sense for your situation.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
			  
        <cwds-step-list>
		<a href="#" class="show-all">Show all</a>
        <a href="#" class="show-all d-none">Hide all</a>
          <ul class="list-group list-group-flush">
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step one">1</span>Find shelter</button>
                <span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior pt-3">
          		<a class="action-link" href="../find-shelters-near-you/" role="button">Find shelters near you</a>
                </span></div>
            </li>
		<li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step two">2</span>Find out if your area is safe to enter
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                <p>Your local officials should make an announcement when your area is safe to enter.
              </p> 
               </span>
              </div>
            </li> 
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step three">3</span>Contact your disaster relief service 
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                <p>If the governor declares a state of emergency, your area should have 
                a Local Assistance Center. The center can help you with all of the steps on this list. 
              </p> 
              <p>Otherwise, you can contact <a href="https://www.redcross.org/find-your-local-chapter.html">Red Cross</a> and <a href="https://www.fema.gov/contact-us">FEMA</a>. 
              </p> 
               </span>
              </div>
            </li>    
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step four">4</span>Ask the DMV to replace lost IDs 
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                <p>Go to any DMV office or your Local Assistance Center to replace your lost driver’s license or ID card. They can look up your name and picture to send you a new ID. 
                  Then, you can use your driver’s license to replace your birth certificate and other important documents.</p>
		      <p>If the governor has declared a state of emergency, your drivers license should be processed within a week.</p>
               </span>
              </div>
            </li> 
            <li class="list-group-item lead unstyled list-group-item-action" >
              <button type="button" class="step-description">
                <span class="list-number step-list-and-or">[global-lang-and-lower]</span>Junk burned vehicles
				</button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                
                <p>Ask the DMV about vehicles registered under any name you’ve had. They will help you junk your burned vehicles. That way, you can get paid back for your vehicle licensing fees. And you won’t owe any future fees to the DMV on that vehicle.</p> 
               
                </span></div>
            </li>  
		  <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step five">5</span>Report or find burned vehicles
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
		      <p><strong>If you have insurance</strong>, report any burned vehicles to your insurance company.</p>
		      <ul class="inner-list">
			      <li>They should make a settlement on your vehicle and pay you for it.</li>
			      <li>Next you’ll file a <a href="https://www.dmv.ca.gov/portal/wcm/connect/d5054696-49aa-493e-ba24-2bc548a7b733/reg138.pdf?MOD=AJPERES&CVID=">Notice of 
                    Release of Liability</a> so that you’re no longer legally responsible for the vehicle.</li> 
			      <li>If you own your vehicle outright (that is, you don’t lease it), you should <a href="https://www.dmv.ca.gov/portal/dmv/detail/vr/checklists/ownership">transfer the title</a> to your insurance company. Then you’ll no longer own it.</li> 
		      </ul>
		      <p><strong>If you still own your vehicle and you don’t know where it is</strong>, you might get a bill from 
                      a storage or tow company. Ask the <a href="https://www.chp.ca.gov/home/contact-us">California Highway Patrol</a> to help find your vehicle. </p>
               </span>
              </div>
            </li> 
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step six">6</span>Ask about your utilities
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                <p>Local officials should tell you when it’s safe to turn on your water, gas, and electricity. 
                  If the fire department has shut them off, it’s unsafe to turn them on yourself. 
              </p> 
               </span>
              </div>
            </li>   
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step seven">7</span>Contact your home or renters insurance
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                <p><span class="bold">If you have home or renters insurance, report the fire to them</span>. 
                  Find out how they want you to make a list of things that were lost or damaged in the fire. 
                  Make sure that your insurance pays you for the cost to rebuild or move to a new home in California today. 
                  That includes the current cost of building permits, regulations, materials, and labor.</p>
 
                  <p><span class="bold">If you have a Local Assistance Center</span>, ask for their advice about
                    reporting the wildfire to your insurance company. Housing advocates are there to help you get payments to replace what you’ve lost.</p>
                   
		      <p><strong>If you don’t have home or renters insurance</strong>, you can contact your Local Assistance Center, <a href="https://www.redcross.org/find-your-local-chapter.html">Red Cross</a>, or <a href="https://www.fema.gov/contact-us">FEMA</a> for help.</p> 
               </span>
              </div>
            </li>    
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step eight">8</span>Contact your landlord or mortgage company 
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                <p>Contact your landlord or mortgage company to learn if they’ll let you pause on payments. They could also save you from late fees or a lower credit score. 

              </p> 
               </span>
              </div>
            </li>   
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step nine">9</span>Learn about debris removal
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
		      <p>After large wildfires, there are usually a few stages to debris removal:</p>
		      <ol>
			      <li><strong>We will remove dangerous waste</strong>, such as lead and asbestos.</li>
			      <li><strong>We will also remove debris from your property for free if you send us a <a href="https://wildfirerecovery.caloes.ca.gov/past-fires/november-2018-fires/debris-removal/">Right of Entry Form</a></strong>. Please note that we will remove your foundation. If you want to keep it, you could choose to remove debris on your own. Then, you could check if your foundation is able to be saved or repaired.</li>
			      <li><strong>You’ll have to remove dangerous trees from your property</strong>.</li>
		      </ol>
		      
               </span>
              </div>
            </li>     
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step ten">10</span>If you leave your home, let officials know 
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                <p>Let your local police department know if you temporarily leave your home. 
                  That way, they’ll know your property should be empty, and they can help to protect it. 

              </p> 
               </span>
              </div>
            </li>   
            
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step eleven">11</span>Save receipts related to wildfire loss 
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                <p>You may need your receipts later to get the payments you need from your insurance company. 
                  The receipts will also help you include your losses on your tax return.
              </p> 
               </span>
              </div>
            </li>    
          </ul>
        </cwds-step-list>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%= require('html-loader!../../partials/feedback.html') %>
        <%= require('html-loader!../../partials/footer.html') %>
        <%= require('html-loader!../../partials/alphabar.html') %>
		<%= require('html-loader!../../partials/ga.html') %>
		<%= require('html-loader!../../js/es6/js.html') %>
    </footer>
</body>

</html>

