<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Alpha website for the State of California.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="About Alpha.CA.gov - State of California">
  <meta property="og:description" content="We're making it easier to find and use government services and information in the State of California.
  ">
  <meta property="og:url" content="https://alpha.ca.gov/about/">

  <link rel="canonical" href="https://alpha.ca.gov/about/" />
  <title>Sobre Nosotros y Alpha.ca.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

  <%= require('html-loader!../partials/official.html') %>
  <%= require('html-loader!../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Sobre Nosotros y Alpha.ca.gov</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-10">
			<p dir="ltr">Somos un pequeño equipo de servidores públicos y expertos en el diseño centrado en el usuario y tecnología. Queremos re-imaginar su experiencia de <a href="https://www.ca.gov/">CA.gov</a> y simplificar la informacion y servicios del gobierno.</p>
			<p dir="ltr">Nuestro primer paso: Hacer CA.gov mas sensillo de usar para los Californianos. Hemos estado trabajando para ayudarlos acceder los servicios e información que usted necesite desde Diciembre del 2019.</p>
		  <h2>Sigue nuestro progreso</h2>
			<p>Compartiremos todo lo que vayamos aprendiendo en nuestro <a href="https://news.alpha.ca.gov">blog</a> y <a href="https://twitter.com/CAdotGov">Twitter</a>. Podrá ver cada paso de nuestro trabajo en progreso en <a href="https://github.com/cagov/">GitHub</a> y en este sitio web, <a href="https://alpha.ca.gov/">Alpha.CA.gov</a>.</p>
			<p>&nbsp;</p>
      </div>
    </div>
  </div>

  <%= require('html-loader!../partials/feedback.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/alphabar.html') %>
  <%= require('html-loader!../partials/ga.html') %>

</body>

</html>
