<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <%= require('html-loader!../../../partials/meta-common.html') %>
    <%= require('html-loader!../../../partials/favicons.html') %>
    <meta name="description" content="Follow these steps to apply for a Cal Grant. It’s money for college you don’t have to pay back.">
    <title>Apply for a Cal Grant: Step 2</title>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Apply for a Cal Grant: Step 2 - Alpha.CA.gov">
    <meta property="og:description" content="Follow these steps to apply for a Cal Grant. It’s money for college you don’t have to pay back.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
</head>

<body>
    <header>
        <%= require('html-loader!../../../partials/official.html') %>
        <%= require('html-loader!../../../partials/experiment-banner.html') %>
        <%= require('html-loader!../../../partials/navbar.html') %>
    </header>
    <main>
        <div class="container-fluid jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Apply for a Cal Grant: Step 2</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="alert alert-warning" role="alert">
                        Deadline to apply: Monday, March 2, 2020, 11:59 p.m.</div>
                    <h2>Check if your school has shared your GPA</h2>
                    <p>Once you’ve applied for financial aid, check if your school has shared your GPA with us.</p>
                    <p>To do so, simply <a href="https://mygrantinfo.csac.ca.gov/">log into WebGrants 4 Students</a>. There, you’ll find out if we’ve received your financial aid application and your GPA. If we have both, you’ve finished your Cal Grant application.</p>
                    <h3>If they haven’t, submit your own GPA form</h3>
                    <p>If your school hasn’t shared your GPA with us, you have to print and <a href="https://www.csac.ca.gov/sites/main/files/file-attachments/g4_gpa_form.pdf?1575914662">submit your own GPA form</a> to apply for a Cal Grant.</p>
                    <cwds-accordion>
                        <div class="card">
                            <button class="card-header accordion-alpha" type="button" aria-expanded="false">
                                <div class="accordion-title">Before you submit your form</div>
                            </button>
                            <div class="card-container collapsed">
                                <div class="card-body">
                                    <div class="col-md-10">
                                        <ul>
                                            <li> You’ll need to ask any official from your high school or college to help you fill out the section "For school use only."</li>
                                            <li> There’s no need to submit a transcript.</li>
                                            <li> You don’t need to know your grade point average (GPA). </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </cwds-accordion>
                    <cwds-accordion>
                        <div class="card">
                            <button class="card-header accordion-alpha" type="button" aria-expanded="false">
                                <div class="accordion-title">When to submit test scores instead of your GPA</div>
                            </button>
                            <div class="card-container collapsed">
                                <div class="card-body">
                                    <div class="col-md-8">
                                        <p>You should submit your test scores (from the ACT, SAT, GED, TASC, or HiSET exams) instead of your GPA if you:</p>
                                        <ul>
                                            <li> Were homeschooled</li>
                                            <li> Attended a high school that isn’t <a href="https://www.ctc.ca.gov/credentials/what-does-regional-accreditation-mean">regionally accredited</a></li>
                                            <li> Went to any school that can’t convert your grades to a 4.00 scale (pass/fail only or certain schools outside of the United States)</li>
                                        </ul>
                                        <p>If you’ve been out of school for five years or longer, you can submit test scores or your GPA.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </cwds-accordion>
                </div>
                <div class="col-md-8">
               
                    <p class="more">Next step: </p>
                    <a class="action-link" href="../finish/">Finish </a>
                    <p class="mt-3">Return to the beginning: <a href="../">Apply for a Cal Grant</a></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%= require('html-loader!../../../partials/feedback.html') %>
        <%= require('html-loader!../../../partials/footer.html') %>
        <%= require('html-loader!../../../partials/alphabar.html') %>
        <%= require('html-loader!../../../partials/ga.html') %>
    </footer>
    <%= require('html-loader!../../../js/es6/js.html') %>
</body>

</html>