<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <%= require('html-loader!../../../partials/meta-common.html') %>
    <%= require('html-loader!../../../partials/favicons.html') %>
    <meta name="description" content="Follow these steps to apply for a Cal Grant. It’s money for college you don’t have to pay back.">
    <title>Apply for a Cal Grant: Finish</title>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Apply for a Cal Grant: Finish - Alpha.CA.gov">
    <meta property="og:description" content="Follow these steps to apply for a Cal Grant. It’s money for college you don’t have to pay back.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
</head>

<body>
    <header>
        <%= require('html-loader!../../../partials/official.html') %>
        <%= require('html-loader!../../../partials/experiment-banner.html') %>
        <%= require('html-loader!../../../partials/navbar.html') %>
    </header>
    <main>
        <div class="container-fluid jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Finish applying for a Cal Grant</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>You’ve applied for a Cal Grant if:</p>
                    <ul>
                        <li>You’ve <a href="../step-1/">applied for FAFSA or CADAA</a> by March 2.</li>
                        <li>And you or your school has <a href="../step-2/">shared your GPA with us</a> by March 2.</li>
                    </ul>
                    <p class="d-none js-thanks-for-applying"> Thanks for applying for a Cal Grant!</p>
                </div>
                <div class="col-md-8">
                    <h2>What happens next</h2>
                    <ul>
                        <li>You can create an account with our online portal, <a href="https://mygrantinfo.csac.ca.gov/">WebGrants 4 Students</a>, to see if you qualify 7–10 business days after you apply.</li>
                        <li>Once you select a school, <a href="https://mygrantinfo.csac.ca.gov/">log into WebGrants 4 Students</a> to confirm your award and get your money.</li>
                    </ul>
                    <h3>If you’re a high school senior</h3>
                    <p>We’ll send you a letter in the mail to let you know if you qualify for a Cal Grant.</p>
                    <h3>If you’re a high school graduate or in college</h3>
                    <p>We’ll send you an email to let you know if you qualify for a Cal Grant.</p>
                </div>
                <div class="col-md-8">
                    <p>Return to the beginning: <a href="../">Apply for a Cal Grant</a></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%= require('html-loader!../../../partials/feedback.html') %>
        <%= require('html-loader!../../../partials/footer.html') %>
        <%= require('html-loader!../../../partials/alphabar.html') %>
        <%= require('html-loader!../../../partials/ga.html') %>
    </footer>
    <%= require('html-loader!../../../js/es6/js.html') %>
</body>

</html>