<!doctype html>
<html lang="en" xml:lang="en">

  <head>
    <%= require('html-loader!../partials/meta-common.html') %>
    <%= require('html-loader!../partials/favicons.html') %>
    <!-- Social media post -->
    <meta property="og:image" content="https://www.alpha.ca.gov/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="california office of digital innovation">
    <meta property="og:description" content="california office of digital innovation (odi)">
    <meta property="og:url" content="[code-url]">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="canonical" href="[code-url]"/>
    <title>California Office of Digital Innovation</title>
    <meta name="description" content="california office of digital innovation (odi)">
  </head>

  <body>
    <header>
      <%= require('html-loader!../partials/official.html') %>
      <%= require('html-loader!../partials/experiment-banner.html') %>
      <%= require('html-loader!../partials/navbar.html') %>
    </header>
    <main>
      <div class="container-fluid jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <h1>California Office of Digital Innovation</h1>
              <!-- <p class="lead">Transforming digital services for Californians</p>-->
            </div>
          </div>
        </div>
      </div>
      <!--<img src="/img/prototyping.jpg" class="img-fluid mt-3 mb-3" alt="">-->
      <div class="container">
        <div class="row">
          <div class="col-lg-9">

            <p>Government services, programs, rules, and operations too often serve the process not the people. That’s why Governor Gavin Newsom created the Office of Digital Innovation (ODI). We use people-centered design and technology to reimagine and deliver equitable, effective services to Caliornians. Better serving people starts with understanding their needs, challenges and expectations. 
            (<a href="https://state-of-california-agency.forms.fm/california-digital-were-hiring/forms/7721">Find out how you can join our growing team!</a>)  </p>

            <h2>What we do</h2>
            
            <p>We focus on creating and delivering lasting change, not just quick fixes. We work with state agencies and departments to reimagine the core processes, technology systems, and policies that problems are rooted in.</p>

            <div class="card-deck mb-3">
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Create solutions</h3>
                  <p>Build intuitive digital solutions like websites, data systems, and APIs, that make it easier to access state services.</p>
                </div>
              </div>
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">More accessibility</h3>
                  <p>Redesign how the state shows information, so all Californians can use it, understand it and get the resources they need.</p>
                </div>
              </div>
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Prototype services</h3>
                  <p>Envision solutions that anticipate Californians’ needs and help them get assistance quickly and with minimal effort.</p>
                </div>
              </div>
            </div>
            <div class="card-deck mb-3">
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Raise empathy</h3>
                  <p>Gather and share data and insights about Californians’ needs and challenges to improve programs and policy.</p>
                </div>
              </div>
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Improve equity</h3>
                  <p>Identify and eliminate inequity, exclusion, and bias in state program requirements, policies, and technical systems.</p>
                </div>
              </div>
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Build capacity</h3>
                  <p>Equip state workers with the training and tools they need to understand people’s needs and create better services.</p>
                </div>
              </div>
            </div>
            <div class="card-deck">
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Drive efficiencies</h3>
                  <p>Streamline state processes by eliminating redundancy, automating steps and reducing paper-to-digital transfer.</p>
                </div>
              </div>
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Frame priorities </h3>
                  <p>Focus leaders’ attention on those issues and problems that matter most to Californians and recommend solutions.</p>
                </div>
              </div>
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Safeguard rights</h3>
                  <p>Encourage data portability, collaboration, and transparency while protecting Californians’ security and privacy.</p>
                </div>
              </div>
            </div>
                          
            <p>&nbsp;</p>

            <h2>Who we are</h2>
            
            <p>We hire and develop cross-discipline staff with blended backgrounds in tech, design, data, policy, strategy, and research. Our team comes from within the public and private sector. We understand the intricacies of government services and programs. We bring empathy, curiosity, data, technology, and a host of other tools to identifying and solving problems.</p>

            <ul>
              <li><a href="https://www.linkedin.com/in/udayapatnaik/">Udaya Patnaik</a>, Director</li>
              <li><a href="https://www.linkedin.com/in/anneneville-bonilla/">Anne Neville-Bonilla</a>, Chief Deputy Director</li>
              <li><a href="https://www.linkedin.com/in/angelicaquirarte/">Angelica “Angie” Quirarte</a>, Deputy Director, Projects</li>
              <li><a href="https://www.linkedin.com/in/debra-waltman/">Debra Waltman</a>, Administration Chief</li>
              <li><a href="https://www.linkedin.com/in/aaronhans/">Aaron Hans</a>, Senior Developer</li>
              <li><a href="https://www.linkedin.com/in/jpetrucione/">JP Petrucione</a>, Deputy Director, Communications and Insights</li>
              <li><a href="https://www.linkedin.com/in/traintestbritt/">Britt Allen</a>, Performance Analyst</li>
              <li><a href="https://www.linkedin.com/in/krazydad/">Jim Bumgardner</a>, Full Stack Developer</li>
              <li><a href="https://www.linkedin.com/in/mediajunkie/">Christian Crumlisch</a>, Product Lead</li>
              <li><a href="https://www.linkedin.com/in/peggygartin/">Peggy Gartin</a>, Content Designer</li>
              <li><a href="https://www.linkedin.com/in/claragonzalezsueyro/">Clara Gonzalez Sueyro</a>, User Researcher</li>
              <li><a href="https://www.linkedin.com/in/daveguarino/">Dave Guarino</a>, Product Lead</li>
              <li><a href="https://www.linkedin.com/in/konstantinkoryaka/">Konstantin Koryaka</a>, Full Stack Developer</li>
              <li><a href="https://www.linkedin.com/in/justindlai/">Justin Lai</a>, User Researcher</li>
              <li><a href="https://www.linkedin.com/in/hannahslee/">Hannah Lee</a>, Product Lead</li>
              <li><a href="https://www.linkedin.com/in/nonlocal/">Adam Little</a>, Designer</li>
              <li><a href="https://www.linkedin.com/in/laura-littlefield-6a5090101/">Laura Littlefield</a>, Administration</li>
              <li><a href="https://www.linkedin.com/in/laura-littlefield-6a5090101/">Jessica Lopez</a>, Executive Fellow</li>
              <li><a href="https://www.linkedin.com/in/jeffery-marino-25962610/">Jeffery Marino</a>, Insights Product Lead</li>
              <li><a href="https://www.linkedin.com/in/carter-medlin-b1839b15/">Carter Medlin</a>, Full Stack Developer</li>
              <li><a href="https://www.linkedin.com/in/rsanjabi/">Rebecca Sanjabi</a>, Data Engineer</li>
              <li><a href="https://www.linkedin.com/in/chachasikes/">Chach Sikes</a>, Full Stack Developer</li>
              <li><a href="https://www.linkedin.com/in/mwsullivan7/">Michael Sullivan</a>, Content Designer</li>
            </ul>

            <ul>
              <li><a href="https://www.linkedin.com/in/chadbratton/">Chad Bratton</a>, Technical Architect (alumnus)</li>
              <li><a href="https://www.linkedin.com/in/dana-chisnell/">Dana Chisnell</a>, Content Designer (alumnus)</li>
              <li><a href="https://www.linkedin.com/in/orielgomez/">Oriel Gomez</a>, Fellow (alumnus)</li>
              <li><a href="https://www.linkedin.com/in/hilary-hoeber/">Hillary Hoeber</a>, User Researcher (alumnus)</li>
              <li><a href="https://www.linkedin.com/in/erichysen/">Eric Hysen</a>, Project Lead (alumnus)</li>
              <li><a href="https://www.linkedin.com/in/artuoma/">Artem Khomishen</a> (alumnus)</li>
              <li><a href="https://www.linkedin.com/in/coreycmahoney/">Corey Mahoney</a>, Content Designer (alumnus)</li>
              <li><a href="https://www.linkedin.com/in/jentress/">Jen Tress</a>, Recruitment and Talent Lead  (alumnus)</li>
            </ul>

          </div>

        </div>

      </div>

      <div class="bg-primary mt-5 mb-0 alpha">

        <div class="container text-left py-5">

          <h2 class="text-white">California needs you</h2>

          <p class="col-lg-8 lead text-white pl-0">If you’re interested in building solutions to help solve problems like COVID-19 vaccine distribution, homelessness, wildfires or any of the many issues facing California today:</p>

          <a class="btn" href="https://state-of-california-agency.forms.fm/california-digital-we-re-hiring/forms/7721" role="button">Join our team</a>

        </div>
      </div>

    </main>
    <footer>
      <div class="footer alpha-footer mt-0">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
                <li class="list-group-item alpha-footer">
                  <a href="/en/about/">[global-lang-about]</a>
                </li>
                <li class="list-group-item alpha-footer">
                  <a href="https://news.alpha.ca.gov/">[global-lang-news]</a>
                </li>
                <li class="list-group-item alpha-footer">
                  <a href="/en/contact-us/">[global-lang-contact-us]</a>
                </li>
                <li class="list-group-item alpha-footer">
                  <a href="[global-feedback-link]?source=[code-url]">[global-lang-feedback]</a>
                </li>
              </ul>
              <p>[global-lang-state-of-ca]</p>
            </div>
          </div>
        </div>
      </div>
      <script nomodule src="/js/es5.js?cache=false" ></script>

      <%= require('html-loader!../partials/alphabar.html') %>
      <%= require('html-loader!../partials/ga.html') %>
    </footer>
    <%= require('html-loader!../js/es6/js.html') %>
  </body>

</html>
