<!doctype html>
<html lang="en" xml:lang="en">

  <head>
    <%= require('html-loader!../partials/meta-common.html') %>
    <%= require('html-loader!../partials/favicons.html') %>
    <!-- Social media post -->
    <meta property="og:image" content="https://www.alpha.ca.gov/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="california office of digital innovation">
    <meta property="og:description" content="california office of digital innovation (odi)">
    <meta property="og:url" content="[code-url]">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="canonical" href="[code-url]"/>
    <title>California Office of Digital Innovation</title>
    <meta name="description" content="california office of digital innovation (odi)">
  </head>

  <body>
    <header>
      <%= require('html-loader!../partials/official.html') %>
      <%= require('html-loader!../partials/experiment-banner.html') %>
      <%= require('html-loader!../partials/navbar.html') %>
    </header>
    <main>
      <div class="container-fluid jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <h1>California Office of Digital Innovation</h1>
              <!-- <p class="lead">Transforming digital services for Californians</p>-->
            </div>
          </div>
        </div>
      </div>
      <!--<img src="/img/prototyping.jpg" class="img-fluid mt-3 mb-3" alt="">-->
      <div class="container">
        <div class="row">
          <div class="col-lg-9">

            <h2>What we’re building</h2>

            <p>Too often, government services don’t actually meet the needs of the people who use them. California Office of Digital Innovation (ODI) will work to change that by putting  residents’ needs at the heart of state services. Whether it’s homelessness, housing, wildfires, or any one of the serious issues facing California, ODI will partner with innovators across the state to deliver radically better services. 
            <a href="https://state-of-california-agency.forms.fm/california-digital-were-hiring/forms/7721">Learn how you can join our growing team</a>  </p>


            <h2>Meet our team</h2>

            <h3 class="h4">Udaya Patnaik </h3>
            <p>Director Udaya Patnaik is working to build a road map for transforming how California thinks about users and how digital services can improve lives. Before joining ODI, Udaya co-founded Jump Associates in 1998, a leading strategy and innovation consulting firm serving corporations, government agencies, non-profits and philanthropies.</p>

            <h3 class="h4">Jen Tress </h3>
            <p>Recruitment and Talent Lead Jen Tress is leading the work to attract and retain a diverse pool of smart, qualified people who are committed to building a better California. Before joining ODI, Jen was Chief of Staff at the Technology Transformation Service, and Talent Director at 18F (2015-2018) and spent several years as a consultant serving the public and private sectors.</p>

            <h3 class="h4">Eric Hysen </h3>
            <p>Project Lead Eric Hysen is helping to shape ODI’s approach to project work, via a partnership model. Before joining ODI, Eric was with the Chan Zuckerberg Initiative where he spearheaded their Justice & Opportunity Initiative to strengthen communities, and was a founding member of the United States Digital Service, leading the team at the Department of Homeland Security.</p>

            <h3 class="h4">JP Petrucione </h3>
            <p>Communications Lead JP Petrucione is putting transparency and openness into practice in support of ODI and <a href="https://twitter.com/CAdotGov">@CAdotgov’s</a> work. Before joining ODI, JP was the Global Digital Media Director for Public Policy at Airbnb, founder and Managing Partner at Social Stream Media and served as Governor Newsom’s Deputy Communications Director when he was the Mayor of San Francisco.</p>

            <h2>What we’ll do</h2>

            <p>ODI will work collaboratively with state agencies to improve digital services for Californians.  Our work will include early stage research and prototyping for new projects as well as independent counsel and advice on existing large projects.</p>

            <div class="card-deck">
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Focus on users and services</h3>
                  <p>Put Californians at the heart of service design. Use qualitative and quantitative user research to inform everything from discovery to delivery. </p>
                </div>
              </div>
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Create a new way of working </h3>
                  <p>Foster a culture of experimentation, creativity, and iteration. Build a team of passionate, diverse people committed to human-centered design and agile delivery practices.</p>
                </div>
              </div>
              <div class="card bg-light p-0">
                <div class="card-body">
                  <h3 class="h4">Build capacity in others</h3>
                  <p>Ensure long term product sustainability by making sure departments have the skills and capacity to continually improve services. </p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="bg-primary mt-5 mb-0 alpha">

        <div class="container text-left py-5">

          <h2 class="text-white">California needs you</h2>

          <p class="col-lg-8 lead text-white pl-0">If you’re interested in building solutions to help solve problems like homelessness, housing, wildfires or any of the many issues facing California today:</p>

          <a class="btn" href="https://state-of-california-agency.forms.fm/california-digital-we-re-hiring/forms/7721" role="button">Join our team</a>

        </div>
      </div>

    </main>
    <footer>
      <div class="footer alpha-footer mt-0">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
                <li class="list-group-item alpha-footer">
                  <a href="/en/about/">[global-lang-about]</a>
                </li>
                <li class="list-group-item alpha-footer">
                  <a href="https://news.alpha.ca.gov/">[global-lang-news]</a>
                </li>
                <li class="list-group-item alpha-footer">
                  <a href="/en/contact-us/">[global-lang-contact-us]</a>
                </li>
                <li class="list-group-item alpha-footer">
                  <a href="[global-feedback-link]?source=[code-url]">[global-lang-feedback]</a>
                </li>
              </ul>
              <p>[global-lang-state-of-ca]</p>
            </div>
          </div>
        </div>
      </div>
      <script nomodule src="/js/es5.js?cache=false" ></script>

      <%= require('html-loader!../partials/alphabar.html') %>
      <%= require('html-loader!../partials/ga.html') %>
    </footer>
    <%= require('html-loader!../js/es6/js.html') %>
  </body>

</html>