<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <%= require('html-loader!../partials/meta-common.html') %>
    <%= require('html-loader!../partials/favicons.html') %>
    <!-- Social media post -->
    <meta property="og:image" content="https://www.alpha.ca.gov/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="California Office of Digital Innovation">
    <meta property="og:description" content="California Office of Digital Innovation (ODI)">
    <meta property="og:url" content="[code-url]">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="canonical" href="[code-url]" />
    <title>California Office of Digital Innovation</title>
    <meta name="description" content="California Office of Digital Innovation (ODI)">
</head>

<body>
    <header>
      <%= require('html-loader!../partials/official.html') %>
      <%= require('html-loader!../partials/experiment-banner.html') %>
      <%= require('html-loader!../partials/navbar.html') %>
    </header>
    <main>
        <div class="container-fluid jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h1>California Office of Digital Innovation</h1>
                        <!-- <p class="lead">Transforming digital services for Californians</p>-->
                    </div>
                </div>
            </div>
        </div>
	<!--<img src="/img/prototyping.jpg" class="img-fluid mt-3 mb-3" alt="">-->
        <div class="container">
            <div class="row">
 				<div class="col-lg-9">

                    <h2>What we’re building</h2>

                    <p>Too often, government services don’t actually meet the needs of the people who use them. California Office of Digital Innovatin (ODI) will  work to change that by putting  residents’ needs at the heart of state services. Whether it’s homelessness, housing, wildfires, or any one of the serious issues facing California,  ODI will partner with innovators across the state to deliver radically better services.  </p>

                    <p>Drawing on lessons learned from similar efforts across the United States and globally, we’ll partner with California state agencies to bring a human-centered, agile and product-focused mindset to technology design and procurement.  </p>

                    <h2>What we’ll do</h2>

                    <p>ODI will work collaboratively with state agencies to improve digital services for Californians.  Our work will include early stage research and prototyping for new projects as well as independent counsel and advice on existing large projects.</p>
					
								
			  <div class="card-deck">
				<div class="card bg-light p-0">
					   <div class="card-body">
				   <h3 class="h4">Focus on users and services</h3>
                    <p>Put Californians at the heart of service design. Use qualitative and quantitative user research to inform everything from discovery to delivery. </p></div></div>
				<div class="card bg-light p-0">
					   <div class="card-body">
				     <h3 class="h4">Create a new way of working </h3>
                    <p>Foster a culture of experimentation, creativity, and iteration. Build a team of passionate, diverse people committed to human-centered design and agile delivery practices.</p></div></div>
				<div class="card bg-light p-0">
					   <div class="card-body">
				   <h3 class="h4">Build capacity in others</h3>
					<p>Ensure long term product sustainability by making sure departments have the skills and capacity to continually improve services. </p></div></div>
			  </div>

              </div>

            </div>


          </div>

          <div class="bg-primary mt-5 mb-0 alpha">

            <div class="container text-left py-5">

                <h2 class="text-white">California needs you</h2>

                <p class="col-lg-8 lead text-white pl-0">If you’re interested in building solutions to help solve problems like homelessness, housing, wildfires or any of the many issues facing California today:</p>

                    <a class="btn" href="https://state-of-california-agency.forms.fm/california-digital-we-re-hiring/forms/7721" role="button">Join our team</a>

            </div>
       </div>

    </main>
    <footer>
		<div class="footer alpha-footer mt-0">
		  <div class="container">
			<div class="row">
			  <div class="col-md-12"> 
				<ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
				  <li class="list-group-item alpha-footer"><a href="/en/about/">[global-lang-about]</a></li>
				  <li class="list-group-item alpha-footer"><a href="https://news.alpha.ca.gov/">[global-lang-news]</a></li>
				  <li class="list-group-item alpha-footer"><a href="/en/contact-us/">[global-lang-contact-us]</a></li>
				  <li class="list-group-item alpha-footer"><a href="[global-feedback-link]?Source=[code-url]">[global-lang-feedback]</a></li>          
				</ul>
					<p>[global-lang-state-of-ca]</p> 
			  </div>
			</div>
		  </div>
		</div>
		<script nomodule src="/js/es5.js?cache=false" ></script>

        <%= require('html-loader!../partials/alphabar.html') %>
        <%= require('html-loader!../partials/ga.html') %>
    </footer>
    <%= require('html-loader!../js/es6/js.html') %>
</body>

</html>
