<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Alpha website for the State of California.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Alpha.CA.gov - State of California">
  <meta property="og:description" content="We’re making it easier to find and use government services and information in the State of California.
  ">
  <meta property="og:url" content="https://alpha.ca.gov/services/minimum-wage-in-california/">

  <link rel="canonical" href="https://alpha.ca.gov/services/minimum-wage-in-california/" />
  <title>Welcome to Alpha.CA.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

  <%= require('html-loader!../../partials/experiment-banner.html') %>
  <%= require('html-loader!../../partials/official.html') %>
  <%= require('html-loader!../../partials/navbar.html') %>

  <div class="jumbotron text-left">
    <div class="container">
      <h1>Encuentra tu salario mínimo</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-8">

        <h2>Salario mínimo en tu ciudad</h2>
        <p>Tu salario mínimo depende de la ciudad donde trabajes.</p>
        <form>
          <div class="form-group wage-city-search">
            <label for="location-query">Por favor, introduzca su ciudad o código postal:</label><br>
            <input class="city-search form-control" data-multiple id="location-query" />
            <div class="invalid-feedback">Por favor, introduzca una ciudad o código postal en California.</div>
          </div>
          <button type="submit" class="btn btn-primary js-wage-lookup mt-3">Find your minimum wage</button>
        </form>
        <p></p>
        <div id="answer"></div>
        <p></p>
        <h2>Salario mínimo de California en 2020</h2>
        <p>Algunas ciudades tienen el mismo salario mínimo que el Estado.</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Empleadores con 25 o menos empleados</th>
              <th scope="col">Empleadores con 26 o más empleados</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$12/hora*</td>
              <td>$13/hora*</td>
            </tr>
          </tbody>
        </table>
        <p style="padding-bottom:0;">*Más sobre el <a href="https://www.dir.ca.gov/dlse/faq_minimumwage.htm">salario mínimo</a>.</p>
        <p></p>
        <h3>Salario mínimo por ciudad y condado</h3><p>Estas ciudades y condados de California tienen sus propias leyes de salario mínimo.</p>
        <div class="display-wage-by-city"></div>
      </div>

    </div>
  </div>

  <%= require('html-loader!../../partials/feedback.html') %>

  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>