<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <meta name="description" content="Find highway lanes that have been closed because of planned maintenance.">
    <%= require('html-loader!../../partials/meta-common.html') %>
    <%= require('html-loader!../../partials/favicons.html') %>
    <title>Check lane closures for your trip - Alpha.CA.gov</title>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Check lane closures for your trip - Alpha.CA.gov">
    <meta property="og:description" content="Find highway lanes that have been closed because of planned maintenance.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
    <!-- mapbox autocomplete -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css" type="text/css" />
</head>

<body>
    <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
    <header>
        <%= require('html-loader!../../partials/official.html') %>
        <%= require('html-loader!../../partials/experiment-banner.html') %>
        <%= require('html-loader!../../partials/navbar.html') %>
    </header>
    <main>
        <div class="container-fluid jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Check lane closures for your trip</h1>
                        <p class="lead">Find highway lanes that have been closed because of planned maintenance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Where are you going?</h2>
                    <div id="map" class="d-none"></div>
                    <form>
                        <label>Please enter a destination in California:
                            <div id="geocoder" class="geocoder"></div>
                        </label>
                        <div class="d-none invalid-feedback error1 alert alert-warning">Sorry, we can’t find that location. Please enter a valid location in California.</div>
                        <button type="submit" class="d-none destination-button btn btn-primary">Check lane closures</button>
                        <p class="d-none js-destination-address"></p>
                        <span class="d-none start"></span>
                        <h2>What’s your starting location?</h2>
                        <label>Please enter a starting location in California:
                            <div class="js-geocoder-start geocoder"></div>
                        </label>
                        <div class="d-none invalid-feedback error2 alert alert-warning">Sorry, we can’t find that location. Please enter a valid location in California.</div>
                        <button type="submit" class="start-button btn btn-primary">Check lane closures</button>
                        <p class="d-none js-starting-address"></p>
                        <span class="d-none end"></span>
                        <div class="d-none highways"></div>
                        <div class="obstructions-major" aria-live="polite"></div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%= require('html-loader!../../partials/feedback.html') %>
        <%= require('html-loader!../../partials/footer.html') %>
        <%= require('html-loader!../../partials/alphabar.html') %>
    </footer>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js" defer></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js" defer></script>
    <%= require('html-loader!../../partials/ga.html') %>
    <%= require('html-loader!../../js/es6/js.html') %>
</body>

</html>
