<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <meta name="description" content="Find highway lanes that have been closed because of planned maintenance.">
    <%= require('html-loader!../../partials/meta-common.html') %>
    <%= require('html-loader!../../partials/favicons.html') %>
    <title>Check lane closures for your trip - Alpha.CA.gov</title>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Check lane closures for your trip - Alpha.CA.gov">
    <meta property="og:description" content="Find highway lanes that have been closed because of planned maintenance.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
    <!-- mapbox autocomplete -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css" type="text/css" />
</head>

<body>
    <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
    <header>
        <%= require('html-loader!../../partials/official.html') %>
        <%= require('html-loader!../../partials/experiment-banner.html') %>
        <%= require('html-loader!../../partials/navbar.html') %>
    </header>
    <main>
        <div class="container-fluid jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Check lane closures for your trip</h1>
                        <p class="lead">Find highway lanes that have been closed because of planned maintenance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
<p>As part of ending this pilot project, we weren’t able to keep an example of this service on this site. Instead, we made this video so you can see how it worked.</p>
<lite-youtube videoid="woPq3BUZvl4" playlabel="Play: Demonstration of lane closure check"></lite-youtube>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%= require('html-loader!../../partials/footer.html') %>
        <%= require('html-loader!../../partials/alphabar.html') %>
    </footer>
    <%= require('html-loader!../../partials/ga.html') %>
    <%= require('html-loader!../../js/es6/js.html') %>
</body>
</html>