/* Public Sans */

@font-face {
    font-family: 'PublicSansBlack';
	src:url("../css/fonts/PublicSansBlack.woff2") format("woff2"), url(../css/fonts/PublicSansBlack.woff) format("woff"), url(../css/fonts/PublicSansBlack.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'PublicSansBlackItalic';
    src:url("../css/fonts/PublicSansBlackItalic.woff2") format("woff2"), url(../css/fonts/PublicSansBlackItalic.woff) format("woff"), url(../css/fonts/PublicSansBlackItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'PublicSansBold';
    src:url("../css/fonts/PublicSansBold.woff2") format("woff2"), url(../css/fonts/PublicSansBold.woff) format("woff"), url(../css/fonts/PublicSansBold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'PublicSansBoldItalic';
    src:url("../css/fonts/PublicSansBoldItalic.woff2") format("woff2"), url(../css/fonts/PublicSansBoldItalic.woff) format("woff"), url(../css/fonts/PublicSansBoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'PublicSansExtraBold';
    src:url("../css/fonts/PublicSansExtraBold.woff2") format("woff2"), url(../css/fonts/PublicSansExtraBold.woff) format("woff"), url(../css/fonts/PublicSansExtraBold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'PublicSansExtraBoldItalic';
    src:url("../css/fonts/PublicSansExtraBoldItalic.woff2") format("woff2"), url(../css/fonts/PublicSansExtraBoldItalic.woff) format("woff"), url(../css/fonts/PublicSansExtraBoldItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'PublicSansExtraLight';
    src:url("../css/fonts/PublicSansExtraLight.woff2") format("woff2"), url(../css/fonts/PublicSansExtraLight.woff) format("woff"), url(../css/fonts/PublicSansExtraLight.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'PublicSansExtraLightItalic';
    src:url("../css/fonts/PublicSansExtraLightItalic.woff2") format("woff2"), url(../css/fonts/PublicSansExtraLightItalic.woff) format("woff"), url(../css/fonts/PublicSansExtraLightItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'PublicSansItalic';
    src:url("../css/fonts/PublicSansItalic.woff2") format("woff2"), url(../css/fonts/PublicSansItalic.woff) format("woff"), url(../css/fonts/PublicSansItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'PublicSansLight';
    src:url("../css/fonts/PublicSansLight.woff2") format("woff2"), url(../css/fonts/PublicSansLight.woff) format("woff"), url(../css/fonts/PublicSansLight.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'PublicSansLightItalic';
    src:url("../css/fonts/PublicSansLightItalic.woff2") format("woff2"), url(../css/fonts/PublicSansLightItalic.woff) format("woff"), url(../css/fonts/PublicSansLightItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'PublicSansMedium';
    src:url("../css/fonts/PublicSansMedium.woff2") format("woff2"), url(../css/fonts/PublicSansMedium.woff) format("woff"), url(../css/fonts/PublicSansMedium.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'PublicSansMediumItalic';
    src:url("../css/fonts/PublicSansMediumItalic.woff2") format("woff2"), url(../css/fonts/PublicSansMediumItalic.woff) format("woff"), url(../css/fonts/PublicSansMediumItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'PublicSansRegular';
    src:url("../css/fonts/PublicSansRegular.woff2") format("woff2"), url(../css/fonts/PublicSansRegular.woff) format("woff"), url(../css/fonts/PublicSansRegular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'PublicSansSemiBold';
    src:url("../css/fonts/PublicSansSemiBold.woff2") format("woff2"), url(../css/fonts/PublicSansSemiBold.woff) format("woff"), url(../css/fonts/PublicSansSemiBold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'PublicSansSemiBoldItalic';
    src:url("../css/fonts/PublicSansSemiBoldItalic.woff2") format("woff2"), url(../css/fonts/PublicSansSemiBoldItalic.woff) format("woff"), url(../css/fonts/PublicSansSemiBoldItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'PublicSansThin';
    src:url("../css/fonts/PublicSansThin.woff2") format("woff2"), url(../css/fonts/PublicSansThin.woff) format("woff"), url(../css/fonts/PublicSansThin.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'PublicSansThinItalic';
    src:url("../css/fonts/PublicSansThinItalic.woff2") format("woff2"), url(../css/fonts/PublicSansThinItalic.woff) format("woff"), url(../css/fonts/PublicSansThinItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
      }



/* General */

body {
	color: #000000;
  font-family: 'Public Sans', sans-serif;
}
img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: 'Public Sans ExtraBold', sans-serif;
}
h1 {
  padding-bottom: 10px;
}
h2 {
  padding-bottom: 10px;
}
h3 {
  padding-bottom: 10px;
}
p, li {
  font-size: 18px;
}
p {
  padding-bottom: 10px;
}
a, a:visited, a:hover {
  color: #0071bc;
}
a, a:visited {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

sup {
  font-family: 'Public Sans Thin', sans-serif;
}

mark {
  background-color: #ffe49a;
  color: #000;
}

/* Mods */

.official p, .footer p, .alphabar p {
  font-size: 105%;
}

/* Letter */

.letter {
  background-color: #f9f9f9;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  padding: 30px;
}

/* Navbar */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar img {
  margin-top: 8px;
  max-height: 35px;
}
.navbar-brand {
  font-family: 'Public Sans ExtraBold', sans-serif;
  padding-left: 35px;
  background-image: url('../img/ca-light.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 10%;
}
.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: #000;
  border-color: #000;
}
.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background: #ffffff;
}
.navbar-header a, .navbar-header a:visited, .navbar-header a:hover {
  color: #ffffff;
  text-decoration: none;
}
.navbar img {
  width: 100%;
  height: auto;
  max-width: 50px;
}

/* Jumbotron */

.jumbotron {
  /*background-image: -webkit-linear-gradient(right, #212121 0%, #242424  30%, #303030 100%);
  background-image: -o-linear-gradient(right, #212121 0%, #242424  30%, #303030 100%);
  background-image: linear-gradient(to right, #212121 0%, #242424 30%, #303030 100%);*/
  background: #000;
  border-bottom: 0px solid #f1f1f1;
  margin-bottom: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.jumbotron, .jumbotron h1, .jumbotron .lead {
  color: #fff;
}
.jumbotron img {
  width: 100%;
  height: auto;
  max-width: 100px;
  padding: 10px 0;
}

/* Official */

.official {
  background: #ffffff;
  padding: 10px 0;
	color: #000000;
}
.official a, .official a:visited, .official a:hover {
  color: #FFF;
}
.official p {
  background-image: url('../img/ca-flag.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: contain;
  margin: 0 0;
  padding: 0 0 0 50px;
}
.official img {
  margin-right: 10px;
  max-width: 60px;
}
.official-footer {
  background-color: #ffffff;
  padding: 15px 0 55px 0;
}

/* alphabar */

.alphabar {
  border-top: 1px solid #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
}

.alphabar p {
  color: #fff;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.alphabar a {
  color: #fff;
}

/* Footer */

.footer {
  border-top: 1px solid #f1f1f1;
  background-color: #fff;
  margin-top: 50px;
  padding-bottom: 70px;
  padding-top: 50px;
}
.footer a, .footer a:visited, .footer a:hover, .footer {
  color: #000000;
}