<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Alpha website for the State of California.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Alpha.CA.gov - State of California">
  <meta property="og:description" content="We’re making it easier to find and use government services and information in the State of California.
  ">
  <meta property="og:url" content="https://alpha.ca.gov/services/california-birth-certificate/">

  <link rel="canonical" href="https://alpha.ca.gov/services/california-birth-certificate/" />
  <title>Welcome to Alpha.CA.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

  <%= require('html-loader!../../partials/experiment-banner.html') %>
  <%= require('html-loader!../../partials/official.html') %>
  <%= require('html-loader!../../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Request a birth certificate</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <p>There are three main ways to order a California birth certificate.</p>
    <div class="row">
      <div class="col-md-4 mb-5">
		<h2 class="border p-3 bg-light">Visit a county office</h2>
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">You have to apply with the county where the person was born.</li>
				  <li class="list-group-item">Cost: $28</li>
				  <li class="list-group-item">Processing time: Varies, but could be as soon as the same day</li>
				  <li class="list-group-item">You'll sign a sworn statement in front of a county worker.</li>
				  <li class="list-group-item">You may need to bring a driver’s license, passport, or other photo ID from the government that hasn't
                expired.</li>
				</ul>
		  <div class="col mt-3">
			  <a href="https://www.cdph.ca.gov/Programs/CHSI/Pages/County-Registrars-and-Recorders.aspx"><button
                    type="submit" class="btn btn-primary js-wage-lookup">Visit a county office</button></a>
		  </div>
      </div>
      <div class="col-md-4 mb-5">
		<h2 class="border p-3 bg-light">Mail a request</h2>
        <ul class="list-group list-group-flush">
				  <li class="list-group-item">To get an <a href="https://www.cdph.ca.gov/Programs/CHSI/Pages/Authorized-Copy-vs--Informational-Copy.aspx">authorized copy</a>, you have to hire a notary.</li>
				  <li class="list-group-item">Cost: $25 (plus the price of notarization)</li>
				  <li class="list-group-item">Processing time: 3 to 4 weeks or more (expected to take longer in 2020)</li>
				  <li class="list-group-item">You'll sign a sworn statement in front of a county worker.</li>
				  <li class="list-group-item">You may need to bring a driver’s license, passport, or other photo ID from the government that hasn't
                expired.</li>
				</ul>
		  <div class="col mt-3">
			  <a a href="https://www.cdph.ca.gov/Programs/CHSI/Pages/Birth-Mail.aspx"><button type="submit"
                    class="btn btn-primary js-wage-lookup">Mail a request</button></a>
		  </div>
      </div>
      <div class="col-md-4 mb-5">
        <h2 class="border p-3 bg-light">Apply online</h2>
		  <ul class="list-group list-group-flush">
				  <li class="list-group-item">You can apply online through private companies.</li>
				  <li class="list-group-item">Cost: $31–$110</li>
				  <li class="list-group-item">Processing time: 2 to 3 weeks</li>
				</ul>
		  <div class="col mt-3">
			 
			  <a href="https://www.cdph.ca.gov/Programs/CHSI/Pages/Obtaining-Certified-Copies-Online.aspx"><button
                    type="submit" class="btn btn-primary js-wage-lookup">Apply online</button></a>
			   </div>
		  
		
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p>More about requesting a <a
            href="https://www.cdph.ca.gov/Programs/CHSI/Pages/Vital-Records-Obtaining-Certified-Copies-of-Birth-Records.aspx">birth
            certificate</a>.</p>
      </div>
    </div>
  </div>

  <%= require('html-loader!../../partials/feedback.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>