<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <%= require('html-loader!../../../partials/meta-common.html') %>
    <%= require('html-loader!../../../partials/favicons.html') %>
    <meta name="description" content="Follow these steps to apply for a Cal Grant. It’s money for college you don’t have to pay back.">
    <title>Apply for a Cal Grant: Step 1</title>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Apply for a Cal Grant: Step 1 - Alpha.CA.gov">
    <meta property="og:description" content="Follow these steps to apply for a Cal Grant. It’s money for college you don’t have to pay back.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
</head>

<body>
    <header>
        <%= require('html-loader!../../../partials/official.html') %>
        <%= require('html-loader!../../../partials/experiment-banner.html') %>
        <%= require('html-loader!../../../partials/navbar.html') %>
    </header>
    <main>
        <div class="container-fluid jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Apply for a Cal Grant: Step 1</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-warning" role="alert">Deadline to apply: Monday, March 2, 2020, 11:59 p.m.</div>
                    <h2>Apply for financial aid, if you haven’t already</h2>
                    <p>There are two ways to apply for financial aid that can lead to a Cal Grant. Submit a FAFSA <em>or</em> CADAA form, if you haven’t already.</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <p class="list-group-item display-5 active">Apply for the Free Application for Federal Student Aid (FAFSA) if you:</p>
                        <li class="list-group-item ">Have U.S. Citizenship</li>
                        <li class="list-group-item "><strong>[global-lang-or-camel]</strong> are a Permanent Resident</li>
                        <li class="list-group-item"><strong>[global-lang-or-camel]</strong> do not have U.S. Citizenship, but you are <a href="https://studentaid.gov/understand-aid/eligibility/requirements/non-us-citizens#can-i-get-aid">eligible for federal student aid</a></li>
                        <li class="list-group-item"><strong>[global-lang-or-camel]</strong> [lang-have-a] <a href="https://www.uscis.gov/humanitarian/victims-human-trafficking-other-crimes/victims-human-trafficking-t-nonimmigrant-status/victims-human-trafficking-t-nonimmigrant-status">T Visa</a></li>
                    </ul>
                    <a class="action-link" href="https://studentaid.gov/h/apply-for-aid/fafsa" target="_self">Apply for FAFSA</a>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <p class="list-group-item display-5 active">Apply for the California Dream Act Application (CADAA) if you:</p>
                        <li class="list-group-item ">Are undocumented</li>
                        <li class="list-group-item "> <strong>[global-lang-or-camel]</strong> have Deferred Action for Childhood Arrivals (DACA) — valid or expired</li>
                        <li class="list-group-item"> <strong>[global-lang-or-camel]</strong> [lang-have-a] <a href="https://www.uscis.gov/humanitarian/victims-human-trafficking-other-crimes/victims-criminal-activity-u-nonimmigrant-status/victims-criminal-activity-u-nonimmigrant-status">U Visa</a></li>
                        <li class="list-group-item"> <strong>[global-lang-or-camel]</strong> [lang-have] <a href="https://www.uscis.gov/humanitarian/temporary-protected-status">Temporary Protected Status (TPS)</a></li>
                        <li class="list-group-item "> <strong>[global-lang-or-camel]</strong> [lang-are] <a href="https://admission.universityofcalifornia.edu/tuition-financial-aid/tuition-cost-of-attendance/ab-540-nonresident-tuition-exemption.html">eligible for AB540</a></li>
                    </ul>
                    <a class="action-link" href="https://dream.csac.ca.gov/" target="_self"> Apply for CADAA</a>
                </div>
                <div class="col-md-12">
                    <p class="more">Next step:</p>
                    <a class="action-link" href="../step-2/">Check your GPA status
                    </a>
                    <p>Return to the beginning: <a href="../">Apply for a Cal Grant</a></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%= require('html-loader!../../../partials/feedback.html') %>
        <%= require('html-loader!../../../partials/footer.html') %>
        <%= require('html-loader!../../../partials/alphabar.html') %>
        <%= require('html-loader!../../../partials/ga.html') %>
    </footer>
    <%= require('html-loader!../../../js/es6/js.html') %>
</body>

</html>