<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <%= require('html-loader!../../partials/meta-common.html') %>
    <%= require('html-loader!../../partials/favicons.html') %>
  	<meta name="description" content="Learn how to apply or renew online for California LifeLine, a discounted phone service.">
	<title>Apply online for a discounted phone service (California LifeLine) - Alpha.CA.gov</title>
	<!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Apply online for a discounted phone service (California LifeLine) - Alpha.CA.gov">
    <meta property="og:description" content="Learn how to apply or renew online for California LifeLine, a discounted phone service.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
	<link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>
 
<header>
	<%= require('html-loader!../../partials/official.html') %>
	<%= require('html-loader!../../partials/experiment-banner.html') %>
	<%= require('html-loader!../../partials/navbar.html') %>
</header>
<main>
  <div class="container-fluid jumbotron">
    <div class="container">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
			<li class="breadcrumb-item"><span class="ca-gov-icon-arrow-prev pr-1 smaller"></span><a href="../apply-discounted-phone-service/">Apply for a discounted phone service</a></li>
		  </ol>
		</nav>
      <div class="row">
        <div class="col-md-12">
          <h1>Apply or renew online for a discounted phone service </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
		  <p>Applying online for California LifeLine takes around five minutes.</p>
		  <a class="action-link" href="https://www.californialifeline.com/en/login">Apply or renew online</a>
		  
	        <h2>Before you start</h2>
		  <ul>
		  	<li>If you don’t have an application form, please <a href="../apply-discounted-phone-service/" target="_self">go to the application process</a>[global-lang-period]</li>
			<li>If you need a renewal form, please <a href="https://www.californialifeline.com/en/contact" target="_self">contact us</a>[global-lang-period] </li>
		  </ul>	
	      <h2>What you need to apply</h2>
		  
		    <p>To apply online, you’ll need two details from your application form: </p>
			  <ol>
			  	<li>Your <span class="bold">Personal Identification Number (PIN)</span> </li>
				<li>Your <span class="bold">applicant’s phone number</span> <br> <span class="bold">or enrollment code</span></li>
			  </ol>
		  	
	      
		
	   
	      <h2>Another option to apply</h2>
	      <p>You can also apply by mail. Simply fill out and mail back the form inside the pink letter you get after <a href="../apply-discounted-phone-service/" target="_self">starting your application process</a>[global-lang-period]</p>

      </div>

 </div>	
</div>	
</main>
<footer>
	<%= require('html-loader!../../partials/feedback.html') %>
	<%= require('html-loader!../../partials/footer.html') %>
	<%= require('html-loader!../../partials/alphabar.html') %>
	<%= require('html-loader!../../partials/ga.html') %>
</footer>
<%= require('html-loader!../../js/es6/js.html') %>
</body>
</html>
