<!doctype html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Siga estos pasos sugeridos para que las mejoras en su hogar sean de una manera segura y a la vez proteja su hogar y su dinero.">
  <meta name="author" content="Alpha.CA.gov - Estado de California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Contratar un contratista con licencia para mejorar su hogar">
  <meta property="og:description" content="Siga estos pasos sugeridos para que las mejoras en su hogar sean de una manera segura y a la vez proteja su hogar y su dinero.">
  <meta property="og:url" content="https://alpha.ca.gov/services/hire-licensed-contractor-home-improvements/">

  <link rel="canonical" href="https://alpha.ca.gov/services/hire-licensed-contractor-home-improvements/" />
  <title>Hire a licensed contractor for home improvements - Alpha.CA.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

<%= require('html-loader!../../partials/official.html') %>
<%= require('html-loader!../../partials/experiment-banner.html') %>
<%= require('html-loader!../../partials/navbar.html') %>


  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Contratar un contratista con licencia para mejorar su hogar</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>Pasos para contratar a un contratista con licencia</h2>
        <p>Siga estos pasos sugeridos para que las mejoras en su hogar sean de una manera segura y a la vez proteja su hogar y su dinero.</p>
        <cwds-step-list>
          <ul class="list-group list-group-flush">
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">1</span>
				  <span class="bold"> Decida qué tipo de contratista necesita</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p><strong>Los contratistas de ingeniería general</strong> y <strong> los contratistas generales de construcción</strong>
                    usualmente supervisan proyectos y dirigen trabajos de subcontratistas.</p>

                  <p><strong>Los contratistas especializados</strong> a veces son contratados para hacer un solo trabajo, como techos o plomería</p>

                  <p><a href="http://cslb.ca.gov/About_Us/Library/Licensing_Classifications/">Elija el tipo de contratista que necesite</a></p>

                  <br>

                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">2</span>
                <span class="bold">Compruebe si necesita un permiso de construcción</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <a
                    href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Building_Permit_Requirements.aspx">Consulte con su departamento de construcción local</a>
                </span>
              </div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">3</span>
                <span class="bold">Compare al menos tres contratistas con licencia</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item inner-list">Pregúntele a amigos y familiares si tienen contratistas que recomienden</li>
                    <li class="list-group-item inner-list">Busque por internet que commentarios otros tienen acerca del contratista, pero a la vez, asegúrese de que el sitio de internet sea legítimo.</li>
                    <li class="list-group-item inner-list">Si es dueño de su casa, su cobertura de seguro de vivienda podría cubrir el costo y conseguir contratistas por usted.</li>
                  </ul>
                  <br>
                  <p><a
                      href="http://cslb.ca.gov/OnlineServices/CheckLicenseII/ZipCodeSearch.aspx">Encuentre contratistas con licencia en su ciudad</a></p>
                </span><span class="show">Show</span><span class="hide">Hide</span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">4</span>
                <span class="bold">Verifique la licencia de su contratista</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior"><br>
                  <p>Cada contratista debe tener una licencia para hacer cualquier tipo de trabajo que cuesta $500 dólares o más.</p>

                  <p>Para verificar la licencia de su contratista, podría:</p>
                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item unstyled no-border">Llamar al (800) 321-2752</li>
                    <span class="nested-and-or">O</span>
                    <li class="list-group-item unstyled no-border"><a
                        href="https://www.cslb.ca.gov/OnlineServices/CheckLicenseII/CheckLicense.aspx">Revise las licencias de sus contratistas por internet</a></li>
                  </ul>
                </span><span class="show">Mostrar</span><span class="hide">Ocultar</span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">5</span>
                <span class="bold">Obtenga al menos tres precios estimados por escrito</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior"><br>
                  <p>Compare los tres estimados y costos proveídos por el mismo proyecto.</p>

                  <p>Tenga cuidado con estimaciones que sean mucho más bajos que los demás. Esto puede implicar que le podrían hacer el trabajo con materiales baratos o mala calidad.</p>
                </span></div>
            </li>
            <li class="list-group-item and-or-lead lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">6</span>
                <span class="bold">Pídele a su contratista prueba de seguro</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>Usted podría ser responsable de las heridas de los trabajadores si su contratista no tiene el seguro correcto.</p>
                  <p>Pídales que compartan el nombre de su compañía de seguros o copias de su:</p>

                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item inner-list">Seguro de compensación de trabajadores</li>
                    <li class="list-group-item inner-list">Seguro de responsabilidad civil general</li>
                  </ul>
                  <br>
                  <p>Su seguro de propietarios puede o no cubrir los costos de heridas. Pero su proveedor de seguros podrá ayudarle a verificar el seguro de su contratista.</p>
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number step-list-and-or">Y tambien</span>
                <span class="bold">Confirme su información de contacto</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>Asegúrese que su contratista tenga una dirección comercial y un número de teléfono válido. Así si su trabajo necesita reparos después que el proyecto haya terminado, usted ya tendrá información de contacto después de haber pagado la última factura.</p>

                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">7</span>
                <span class="bold">Póngase en contacto con las referencias del contratista</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>Pregúntele a su contratista por la información de contacto de sus clientes anteriores. Esto le ayudará a entender la calidad del trabajo de su contratista.</p>

                  <p>Póngase en contacto con esos clientes para preguntar si estaban satisfechos con el proyecto de su contratista. Pida ver fotos, si es posible.</p>

                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">8</span>
                <span class="bold">Pida ver la licencia de bolsillo de su contratista</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior">
                  <br>

                  <p>Cuando el contratista venga a su casa, pida que le muestre una copia de su licencia de tamaño de bolsillo. Compárelo con su licencia de conducir u otra identificación con foto.</p>
                  <p>Esto le ayuda a estar más seguro de que su contratista es la persona correcta.</p>
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">9</span>
                <span class="bold">Firme un buen contrato</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>Un buen contrato debe incluir cómo y cuándo se realizará el trabajo, los materiales utilizados y el costo total. Esto le protegerá si tiene un desacuerdo con su contratista.</p>
                  <p><a
                      href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Contracts_And_Binding_Agreements.aspx">Qué buscar en su contrato</a></p>
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">10</span>
                <span class="bold">No pague más de $1,000 o el 10% de la cantidad total en su depósito. Escoja la cantidad que sea menos</span>
              </span><span class="show">Mostrar</span><span class="hide">Ocultar</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>Por ley, un contratista no le puede cobrar un depósito que sobresalga $1,000 o 10% de la cantidad total que costará el proyecto. Por ejemplo, si el proyecto le costará $5,000, el contratista no le puede requerir que pague $1,000.00 de depósito, ya que usted puede elegir darle $500.00 (10 por ciento de $5,000) por ser la cantidad más baja.</p>
                  <p>Y para proteger su dinero, <strong>nunca pague en efectivo</strong>, ya que, si hay algún desacuerdo, usted necesitará prueba de los pagos que hizo.</p>
                </span></div>
            </li>
          </ul>
        </cwds-step-list>

      </div>

    </div>
  </div>

  <%= require('html-loader!../../partials/feedback.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>
