<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <%= require('html-loader!../../partials/meta-common.html') %>
    <%= require('html-loader!../../partials/favicons.html') %>
  	<meta name="description" content="Find out if you’re eligible for the California LifeLine Program, a discounted phone service.">
  	<title>Check if you can get a discounted phone service (California LifeLine) - Alpha.CA.gov</title>
	<!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Check if you can get a discounted phone service (California LifeLine) - Alpha.CA.gov">
    <meta property="og:description" content="Find out if you’re eligible for the California LifeLine Program, a discounted phone service.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
	<link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
</head>

<body>
 
<header>
	<%= require('html-loader!../../partials/official.html') %>
	<%= require('html-loader!../../partials/experiment-banner.html') %>
	<%= require('html-loader!../../partials/navbar.html') %>
</header>
		
<main>	
  <div class="container-fluid jumbotron">
    <div class="container">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
			<li class="breadcrumb-item"><span class="ca-gov-icon-arrow-prev pr-1 smaller"></span><a href="../apply-discounted-phone-service/">Apply for a discounted phone service</a></li>
		  </ol>
		</nav>
      <div class="row">
        <div class="col-md-12">
          <h1>Check if you can get a discounted phone service</h1>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-lg-8" >
				<div id="div-checkform">
		  	<h2>					
					Do you or someone in your <button class="tooltip-button" data-tooltip-content="A household is a group of people who live together and share income and expenses (even if they are not related to each other).">household</button>
					get support from any of these programs? </h2>
					<p>
				<a href="no-not-sure/?programs=no" class="btn btn-primary ml-2">[global-lang-no-camel]</a>
				<a href="no-not-sure/?programs=notsure" class="btn btn-primary">I’m not sure</a>
			</p>
				<h2> Please check all that apply.</h2>
				<form method="get" action="qualified/">
  					<div class="form-group">
						<ul class="list-group custom-control custom-checkbox pb-5 pt-3">
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-3">
								<label for="check-3" class="custom-control-label">Medicaid/Medi-Cal</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-4">
								<label for="check-4" class="custom-control-label">CalFresh, Food Stamps or Supplemental Nutrition Assistance Program (SNAP)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-5">
								<label for="check-5" class="custom-control-label">Low Income Home Energy Assistance Program (LIHEAP)</label></li>  
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-6">
								<label for="check-6" class="custom-control-label">Supplemental Security Income (SSI)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-7">
								<label for="check-7" class="custom-control-label">Federal Public Housing Assistance or Section 8</label></li>				
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-8">
								<label for="check-8" class="custom-control-label">Women, Infants and Children Program (WIC)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-9">
								<label for="check-9" class="custom-control-label">National School Lunch Program (NSL)</label></li>				
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-10">
								<label for="check-10" class="custom-control-label">Temporary Assistance for Needy Families (TANF)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-11">
								<label for="check-11" class="custom-control-label">California Work Opportunity and Responsibility to Kids (CalWORKs)</label></li>				
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-12">
								<label for="check-12" class="custom-control-label">Stanislaus County Work Opportunity and Responsibility to Kids (StanWORKs)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-13">
								<label for="check-13" class="custom-control-label">Welfare-to-Work (WTW)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-14">
								<label for="check-14" class="custom-control-label">Greater Avenues for Independence (GAIN)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-15">
								<label for="check-15" class="custom-control-label">Tribal TANF</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-16">
								<label for="check-16" class="custom-control-label">Bureau of Indian Affairs General Assistance</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-17">
								<label for="check-17" class="custom-control-label">Head Start Income Eligible (Tribal Only)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-18">
								<label for="check-18" class="custom-control-label">Food Distribution Program on Indian Reservations</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-19">
								<label for="check-19" class="custom-control-label">Federal Veterans and Survivors Pension Benefit Program</label></li>	
						</ul>	
						<p>
						<input class="btn btn-primary" type="submit" value="[global-lang-next]" id="btn-next" aria-disabled="true" disabled>
						</p>
					</div>
				</form>
				</div>



		  
		</div>
	</div>
</div>		  
</main>	
<footer>
	<%= require('html-loader!../../partials/feedback.html') %>
	<%= require('html-loader!../../partials/footer.html') %>
	<%= require('html-loader!../../partials/alphabar.html') %>
	<%= require('html-loader!../../partials/ga.html') %>
</footer>
</body>
</html>
