<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <%= require('html-loader!../../partials/meta-common.html') %>
    <%= require('html-loader!../../partials/favicons.html') %>
  	<meta name="description" content="Find out if you’re eligible for the California LifeLine Program, a discounted phone service.">
  	<title>Check if you can get a discounted phone service (California LifeLine) - Alpha.CA.gov</title>
	<!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Check if you can get a discounted phone service (California LifeLine) - Alpha.CA.gov">
    <meta property="og:description" content="Find out if you’re eligible for the California LifeLine Program, a discounted phone service.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
	<link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
</head>

<body>
 
<header>
	<%= require('html-loader!../../partials/official.html') %>
	<%= require('html-loader!../../partials/experiment-banner.html') %>
	<%= require('html-loader!../../partials/navbar.html') %>
</header>
		
<main>	
  <div class="container-fluid jumbotron">
    <div class="container">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
			<li class="breadcrumb-item"><span class="ca-gov-icon-arrow-prev pr-1 smaller"></span><a href="../apply-discounted-phone-service/">Apply for a discounted phone service</a></li>
		  </ol>
		</nav>
      <div class="row">
        <div class="col-md-12">
          <h1>Check if you can get a discounted phone service</h1>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-lg-8" >
				<div id="div-checkform">
		  	<h2>					
					Do you or someone in your <button class="tooltip-button" data-tooltip-content="A household is a group of people who live together and share income and expenses (even if they are not related to each other).">household</button>
					get support from any of these programs? </h2><p> Please check all that apply.</p>
				<form onsubmit="return false" >
  					<div class="form-group">
						<ul class="list-group custom-control custom-checkbox pb-5 pt-3">
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-not-sure">
								<label for="check-not-sure" class="custom-control-label">I’m not sure</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-no">
								<label for="check-no" class="custom-control-label">[global-lang-no-camel]</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-3">
								<label for="check-3" class="custom-control-label">Medicaid/Medi-Cal</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-4">
								<label for="check-4" class="custom-control-label">CalFresh, Food Stamps or Supplemental Nutrition Assistance Program (SNAP)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-5">
								<label for="check-5" class="custom-control-label">Low Income Home Energy Assistance Program (LIHEAP)</label></li>  
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-6">
								<label for="check-6" class="custom-control-label">Supplemental Security Income (SSI)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-7">
								<label for="check-7" class="custom-control-label">Federal Public Housing Assistance or Section 8</label></li>				
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-8">
								<label for="check-8" class="custom-control-label">Women, Infants and Children Program (WIC)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-9">
								<label for="check-9" class="custom-control-label">National School Lunch Program (NSL)</label></li>				
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-10">
								<label for="check-10" class="custom-control-label">Temporary Assistance for Needy Families (TANF)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-11">
								<label for="check-11" class="custom-control-label">California Work Opportunity and Responsibility to Kids (CalWORKs)</label></li>				
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-12">
								<label for="check-12" class="custom-control-label">Stanislaus County Work Opportunity and Responsibility to Kids (StanWORKs)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-13">
								<label for="check-13" class="custom-control-label">Welfare-to-Work (WTW)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-14">
								<label for="check-14" class="custom-control-label">Greater Avenues for Independence (GAIN)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-15">
								<label for="check-15" class="custom-control-label">Tribal TANF</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-16">
								<label for="check-16" class="custom-control-label">Bureau of Indian Affairs General Assistance</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-17">
								<label for="check-17" class="custom-control-label">Head Start Income Eligible (Tribal Only)</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-18">
								<label for="check-18" class="custom-control-label">Food Distribution Program on Indian Reservations</label></li>
							<li class="list-group-item list-group-item-action"><input type="checkbox" id="check-19">
								<label for="check-19" class="custom-control-label">Federal Veterans and Survivors Pension Benefit Program</label></li>	
						</ul>	
						<p>
						<input class="btn btn-primary" type="submit" value="[lang-next]" id="btn-next" aria-disabled="true" disabled>
						</p>
					</div>
				</form>
				</div>




			<div class="container d-none" id="div-qualified">
				<div class="row">
					<div class="col-lg-8">	
					<h2>You can get a discount!</h2>
						<p>Next, you’ll want to find an official document to prove you get support from:</p>
						<ul id="ul-programs"></ul>
						<p>Have your document with you as you <a href="../apply-discounted-phone-service/#2" target="_self">continue to step two</a>. Here are examples of documents that could prove you qualify: </p>
						<ul>
						<li>ID card </li>
						<li>Decision letter </li>
						<li>Statement of benefits</li>
						<li>Other official documents </li>
						</ul>  
					</div>
				</div>
      		</div>

			<div class="container d-none" id="div-no-not-sure">
				<div class="row">
					<div class="col-lg-8 pl-0">	
					<h2>How many people are in your household?</h2>
						<p>A household is a group of people who live together and share income and expenses (even if they are not related to each other).</p>
						<form onsubmit="return false">
							<div class="form-group">
							<input type="number" required="required" min="1" max="999" class="form-control form-control-md col-lg-6" id="lst-household-size" name="data">

							<p><input class="btn btn-primary mt-3" type="submit" value="[lang-next]" id="btn-select-people">
								</p>
							</div>
						</form>
						<div class="more">
						<a href class="" onclick="show('div-checkform')">Back to last question</a>
						</div>
				</div>
			</div>
		</div>
			<div class="container d-none" id="div-total-income">
				<div class="row">
					<div class="col-lg-8">
						<h2>Is your household’s total income below $<span id="spn-income-cap"></span>?</h2>
						<button type="button" class="btn btn-primary"  id="btn-yes">[global-lang-yes-camel]</button>
						<button type="button" class="btn btn-primary ml-2" id="btn-no">[global-lang-no-camel]</button>
						<div class="more">
						<a href class="" onclick="show('div-checkform')">Back to last question</a>
						</div>
					</div>
				</div>
			</div>
	
			<div class="container d-none" id="div-qualified-income">
				<div class="row">
					<div class="col-lg-8 pl-0">	
					<h2>You can get a discount!</h2>
						<p>Next, you’ll want to find one of the following documents:</p>
						<ul>
						<li>The front page of your state, federal, or tribal tax return from last year.</li>
						<li>Or income statements or paycheck stubs for three months in a row. Those three months should be within the past 12 months.</li>			  
						</ul>
						<p>Have the document with you as you continue to step two. </p>
						<a class="action-link" href="../apply-discounted-phone-service/#2" target="_self">Go to step 2</a>
					</div>
				</div>
			</div>

			<div class="container d-none" id="div-not-sure-qualified">
				<div class="row">
					<div class="col-lg-8 pl-0">	
					<h2>Contact us to find out if you can get California LifeLine</h2>
						<p><strong>Monday–Friday</strong><br>
						7 a.m.–7 p.m.</p>
						
						<p><strong>General number</strong> 1-866-272-0357<br>
						<strong>English</strong> 1-866-272-0349<br>
						<strong>Spanish</strong> 1-866-272-0350<br>
						<strong>Lao/Hmong</strong> 1-866-272-0351<br>
						<strong>Khmer (Cambodian)</strong> 1-866-272-0352<br>
						<strong>Tagalog</strong> 1-866-272-0353<br>
						<strong>Korean</strong> 1-866-272-0354<br>
						<strong>Vietnamese</strong> 1-866-272-0355 <br>
						<strong>Chinese</strong> (Mandarin/Cantonese)1-866-272-0356<br>
						<strong>Japanese</strong> 1-866-296-0860<br>
						<strong>TTY Number</strong> 866-272-0358<br>
						</p>
					</div>
				</div>
			</div>

			<div class="container d-none" id="div-not-qualified">
				<div class="row">
					<div class="col-lg-8 pl-0">	
						<h2>Sorry, you may not be able to get a discount. </h2>
						 <p>To be sure, contact us about California LifeLine:</p>
							<p><strong>Monday–Friday</strong><br>
							7 a.m.–7 p.m.</p>
							
							<p><strong>General number</strong> 1-866-272-0357<br>
							<strong>English</strong> 1-866-272-0349<br>
							<strong>Spanish</strong> 1-866-272-0350<br>
							<strong>Lao/Hmong</strong> 1-866-272-0351<br>
							<strong>Khmer (Cambodian)</strong> 1-866-272-0352<br>
							<strong>Tagalog</strong> 1-866-272-0353<br>
							<strong>Korean</strong> 1-866-272-0354<br>
							<strong>Vietnamese</strong> 1-866-272-0355 <br>
							<strong>Chinese</strong> (Mandarin/Cantonese)1-866-272-0356<br>
							<strong>Japanese</strong> 1-866-296-0860<br>
							<strong>TTY Number</strong> 866-272-0358<br>
							</p>
					</div>
				</div>
			</div>
	
		  
		  
		</div>
	</div>
</div>		  
</main>	
<footer>
	<%= require('html-loader!../../partials/feedback.html') %>
	<%= require('html-loader!../../partials/footer.html') %>
	<%= require('html-loader!../../partials/alphabar.html') %>
	<%= require('html-loader!../../partials/ga.html') %>
</footer>
</body>
</html>
