<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Alpha website for the State of California.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Alpha.CA.gov - State of California">
  <meta property="og:description" content="We’re making it easier to find and use government services and information in the State of California.
  ">
  <meta property="og:url" content="https://alpha.ca.gov/services/minimum-wage-in-california/">

  <link rel="canonical" href="https://alpha.ca.gov/services/minimum-wage-in-california/" />
  <title>Welcome to Alpha.CA.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

  <%= require('html-loader!../../partials/experiment-banner.html') %>
  <%= require('html-loader!../../partials/official.html') %>
  <%= require('html-loader!../../partials/navbar.html') %>


  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Hire a licensed contractor for home improvements</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>Steps to hire a licensed contractor</h2>
        <p>Follow these suggested steps to make home improvements the safe way and protect your home and your money.</p>
        <cwds-step-list>
          <ul class="list-group list-group-flush">
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">1</span>
                Decide what type of contractor you need
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p><strong>General Engineering Contractors</strong> and <strong>General Building Contractors</strong>
                    usually oversee projects and manage subcontractors for a job.</p>

                  <p><strong>Specialty Contractors</strong> are often hired to do a single job, such as roofing or
                    plumbing.</p>

                  <p><a href="http://cslb.ca.gov/About_Us/Library/Licensing_Classifications/">Choose the type of
                      contractor you need</a></p>

                  <br>

                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">2</span>
                Check if you need a building permit
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <span class="ca-gov-icon-link lead pr-2"></span><a
                    href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Building_Permit_Requirements.aspx">Check
                    with your local building department</a>
                </span>
              </div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">3</span>
                Find at least three licensed contractors
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item unstyled">Ask friends and family for contractors they’d recommend.</li>
                    <li class="list-group-item unstyled">Search online and read reviews, but consider the source.</li>
                    <li class="list-group-item unstyled">For repairs, your homeowners insurance might cover the cost and
                      suggest contractors for you. </li>
                  </ul>
                  <br>
                  <p><span class="ca-gov-icon-online-services lead pr-2"></span><a
                      href="http://cslb.ca.gov/OnlineServices/CheckLicenseII/ZipCodeSearch.aspx">Find licensed
                      contractors in your city</a></p>
                </span><span class="show">Show</span><span class="hide">Hide</span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">4</span>
                Look up their licenses
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior"><br>
                  <p>Contractors must have a license to do work that costs $500 or more.</p>

                  <p>To look up their licenses, you could:</p>
                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item unstyled no-border">Call (800) 321-2752</li>
                    <span class="nested-and-or">OR</span>
                    <li class="list-group-item unstyled no-border"><a
                        href="https://www.cslb.ca.gov/OnlineServices/CheckLicenseII/CheckLicense.aspx">Check your
                        contractors’ licenses online</a></li>
                  </ul>
                </span><span class="show">Show</span><span class="hide">Hide</span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">5</span>
                Get at least three price estimates in writing
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior"><br>
                  <p>Compare your contractors' costs for the same project.</p>

                  <p>Beware of a price estimate that’s much lower than the others. They may do the job with cheap
                    materials or poor quality of work.</p>
                </span></div>
            </li>
            <li class="list-group-item and-or-lead lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">6</span>
                Ask your contractor to share their insurance
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>You might be held responsible for workers’ injuries if your contractor doesn’t have the right
                    insurance.</p>
                  <p>Ask them to share the name of their insurance carrier or copies of both their:</p>

                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item unstyled">Workers’ compensation insurance</li>
                    <li class="list-group-item unstyled">General liability insurance</li>
                  </ul>
                  <br>
                  <p>Your homeowners insurance may or may not cover the costs of injuries. But your insurance provider
                    should be able to help you check your contractor’s insurance.</p>
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number step-list-and-or">and</span>
                Confirm their contact information
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>Make sure your contractor has a current business address and phone number. If their work needs
                    repair, you’ll want to be able to find them after you’ve paid the last bill.</p>

                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">7</span>
                Contact their references
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>Ask your contractor for the contact information of their former customers. This will help you
                    understand the quality of your contractor's work.</p>

                  <p>Contact those customers to ask if they were happy with your contractor’s project. Ask to see
                    pictures, if possible.</p>

                  <p><a
                      href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Finding_The_Right_Contractor.aspx">Find
                      the right contractor</a></p>
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">8</span>
                Ask to see your contractor’s pocket license
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>

                  <p>When your contractor comes to your house, ask to see a copy of their pocket license. Compare it to
                    their driver’s license or other photo ID.</p>
                  <p>This helps you to be extra sure that your contractor is the right person.</p>
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">9</span>
                Sign a contract
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>A good contract includes how and when the work will be done, the materials used, and the total
                    cost. It will protect you if you have a disagreement with your contractor.</p>
                  <p><a
                      href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Contracts_And_Binding_Agreements.aspx">What
                      to look for in your contract</a></p>
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <span class="step-description">
                <span class="list-number">10</span>
                Pay no more than $1,000 or 10 percent down, whichever is less
              </span><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>By law, a contractor can't charge you a downpayment of more than $1,000 or 10 percent of your total
                    price, whichever is less.</p>
                  <p>And to protect your money, never pay in cash.</p>
                </span></div>
            </li>
          </ul>
        </cwds-step-list>

      </div>

    </div>
  </div>

  <%= require('html-loader!../../partials/feedback.html') %>

  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>