<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <meta name="description" content="Follow these steps to apply for a Cal Grant. It’s money for college you don’t have to pay back.">
    <%= require('html-loader!../../partials/meta-common.html') %>
    <%= require('html-loader!../../partials/favicons.html') %>
    <title>Apply for a Cal Grant - Alpha.CA.gov</title>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Apply for a Cal Grant - Alpha.CA.gov">
    <meta property="og:description" content="Follow these steps to apply for a Cal Grant. It’s money for college you don’t have to pay back.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
</head>

<body>
    <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
    <header>
        <%= require('html-loader!../../partials/official.html') %>
        <%= require('html-loader!../../partials/experiment-banner.html') %>
        <%= require('html-loader!../../partials/navbar.html') %>
    </header>
    <main>
        <div class="container-fluid jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Apply for a Cal Grant (college financial aid)</h1>
                        <p class="lead">A Cal Grant is money for college you don’t have to pay back.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="alert alert-warning" role="alert">Deadline to apply: Monday, March 2, 2020, 11:59 p.m.</div>
                    <div class="cwds-step-list">
                        <cwds-step-list>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item unstyled list-group-item-action">
                                    <button class="step-description" type="button">
                                        <span class="list-number" aria-label="step one">1</span>Apply for financial aid, if you haven’t already</button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
                                    <div class="details"><span class="step-interior">Submit the Free Application for Federal Student Aid (FAFSA)
                                            <span class="and-or">[global-lang-or-lower]</span>
                                            <p>the California Dream Act Application (CADAA)</p>
                                            <p>If you’ve already submitted your FAFSA or CADAA, you can go to step two.</p>
                                            <a class="action-link" href="step-1/" role="button">Apply for financial aid</a>
                                        </span></div>
                                </li>
                                <li class="list-group-item unstyled list-group-item-action">
                                    <button class="step-description" type="button">
                                        <span class="list-number" aria-label="step two">2</span>Check if your school has shared your GPA
                                    </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
                                    <div class="details"><span class="step-interior">
                                            <p>Once you’ve applied for financial aid, check if your school has shared your GPA with us.</p>
                                            <p>If they haven’t, you’ll fill out a one-page form and get it signed by any official from your high school or college. There’s no need to submit a transcript.</p>
                                            <a class="action-link" href="step-2/" role="button">Check your GPA status</a>
                                        </span></div>
                                </li>
                            </ul>
                        </cwds-step-list>
                    </div>
                    <cwds-accordion>
                        <div class="card">
                            <button class="card-header accordion-alpha" type="button" aria-expanded="false">
                                <div class="accordion-title">Who can get a Cal Grant</div>
                            </button>
                            <div class="card-container collapsed">
                                <div class="card-body">
                                    <p>To qualify for a Cal Grant, you must:</p>
                                    <ul>
                                        <li>
                                            Be a California resident for one year or more</li>
                                        <li>
                                            Attend or plan to attend an <a href="https://www.csac.ca.gov/sites/main/files/file-attachments/2020_21_eligible_cal_grant_schools.pdf?1576277804">eligible California college</a></li>
                                        <li>
                                            Not already have a bachelor’s or professional degree</li>
                                        <li>
                                            Have U.S. citizenship
                                            <strong>or</strong> be <a href="https://studentaid.gov/understand-aid/eligibility/requirements/non-us-citizens#can-i-get-aid"> eligible for federal student aid</a>
                                            <strong>or</strong> be <a href="https://admission.universityofcalifornia.edu/tuition-financial-aid/tuition-cost-of-attendance/ab-540-nonresident-tuition-exemption.html">eligible for AB540</a></li>
                                        <li>
                                            Need financial help to pay for your college’s tuition</li>
                                        <li>
                                            Have family income and assets (such as savings) <a href="https://www.csac.ca.gov/sites/main/files/file-attachments/2020-21_income_and_asset_ceilings_for_new_applicants_and_renewing_recipients.pdf?1565127243">at or below the minimum</a> </li>
                                        <li>
                                            Be enrolled or plan to enroll in a program that leads to an undergraduate degree or certificate</li>
                                        <li>
                                            Be enrolled or plan to enroll at least half time</li>
                                        <li>
                                            Have registered with the U.S. Selective Service, if you’re <a href="https://www.sss.gov/Registration-Info/Who-Registration">required to register</a></li>
                                        <li>
                                            Not owe a refund on any state or federal grant or be in default on a student loan</li>
                                        <li>
                                            Not be in jail</li>
                                        <li>
                                            Meet the <a href="https://studentaid.gov/understand-aid/eligibility/staying-eligible#satisfactory-academic-progress">Satisfactory Academic Progress standards</a> set by your school</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </cwds-accordion>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%= require('html-loader!../../partials/feedback.html') %>
        <%= require('html-loader!../../partials/footer.html') %>
        <%= require('html-loader!../../partials/alphabar.html') %>
    </footer>
    <%= require('html-loader!../../partials/ga.html') %>
    <%= require('html-loader!../../js/es6/js.html') %>
</body>

</html>
