<!doctype html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Le ayudaremos a encontrar los bancos de alimentos y despensas más cercanos a usted.">
  <meta name="author" content="Alpha.CA.gov - Estado de California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Encuentre bancos de alimentos cerca de usted - Alpha.CA.gov">
  <meta property="og:description" content="Le ayudaremos a encontrar los bancos de alimentos y despensas más cercanos a usted.">
  <meta property="og:url" content="https://alpha.ca.gov/es/services/find-food-banks-near-you/">

  <link rel="canonical" href="https://alpha.ca.gov/es/services/find-food-banks-near-you/" />
  <title>Encuentre bancos de alimentos cerca de usted - Alpha.CA.gov</title>
</head>

<body>

<%= require('html-loader!../../partials/official.html') %>
<%= require('html-loader!../../partials/experiment-banner.html') %>
<%= require('html-loader!../../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Encuentre bancos de alimentos cerca de usted</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <p>Le ayudaremos a encontrar los bancos de alimentos y despensas más cercanos a usted.</p>

        <div class="form-group">
          <form class="form-inline mb-20 js-food-lookup">
            <label for="city-input" class="mr-10">Por favor introduzca su ciudad o código postal:</label>
            <input type="text" class="form-control city-search" id="city-input" data-multiple>
            <button type="submit" class="btn btn-primary ml-10">Search</button>
            <div class="invalid-feedback">Por favor introduzca su ciudad o código postal.</div>
          </form>
        </div>
<!-- [html-validate-disable-next empty-heading] -->
        <h2 class="js-location-display"></h2>
        <div class="js-nearest-results"></div>

        <div id="mapid" class="mv-20"></div>

        <h2>Otros recursos</h2>
        <h3>Envíe un mensaje de texto para encontrar comida cerca de usted</h3>

        <div class="alert alert-secondary display-6">
          <p>Envíenos un mensaje de texto en cualquier momento al <a href="tel:1-415-630-4521" class="lead">(415) 630-4521</a> con el nombre de su ciudad o código postal.</p>
          <p> Responderemos con el banco de alimentos más cercano a usted. </p>
        </div>

        <h3>Llame al 211 con sus preguntas</h3>

        <div class="alert alert-secondary display-6">
          <p class="lead">Numero de telephono:  <a href="tel:211">211</a>
            <br>Horario: 24 horas al día, todos los días del año</p>
          <p><a href="http://211.org">211.org</a> es un sito web que te conecta a varios recursos y servicios sociales en todo Estados Unidos. Un experto capacitado puede ayudarle a encontrar muchos recursos, incluyendo:</p>
          <ul>
            <li>programas de alimentación</li>
            <li>servicios de refugio y vivienda</li>
            <li>información sobre emergencias</li>
            <li>ayuda con su búsqueda de empleo</li>
            <li>cuidado de salud y vacunas</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%= require('html-loader!../../partials/feedback.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <script nomodule src="/js/es5Food.js?cache=false" ></script>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>
