<!doctype html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Alpha website for the State of California.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Alpha.CA.gov - State of California">
  <meta property="og:description" content="We're making it easier to find and use government services and information in the State of California.
  ">
  <meta property="og:url" content="https://alpha.ca.gov/services/state-of-california-employee-holidays/">

  <link rel="canonical" href="https://alpha.ca.gov/services/state-of-california-employee-holidays/" />
  <title>Welcome to Alpha.CA.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

  <%= require('html-loader!../../partials/experiment-banner.html') %>
  <%= require('html-loader!../../partials/official.html') %>
  <%= require('html-loader!../../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>State of California employee holidays</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col">
        <h2>Next holiday</h2>

        <div class="alert alert-secondary " role="alert">
          <p class="display-4 alert">January 20</p>
          <p class="display-5 alert">Monday, Martin Luther King Jr. Day</p>

        </div>

        <p><i class="far lead fa-calendar-alt"></i> <a href="https://api.alpha.ca.gov/StateHolidayCalendar.ics"
            download>Add State holidays to
            your calendar (iCalendar
            subscription)</a></p>


        <h2>Upcoming holidays</h2>
        <p>State of California employees have paid holidays on the following dates.</p>

        <div class="container mb-20">

          <cwds-accordion>
            <div class="card">
              <div class="card-header py-20" id="headingOne">
                <button class="btn btn-link" type="button" aria-expanded="false">
                  <h3 class="pl-3">2020 holidays</h3>
                </button>
              </div>
              <div class="card-container collapsed" aria-labelledby="headingOne">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="lead">Date</th>
                        <th scope="col" class="lead">Day of the week</th>
                        <th scope="col" class="lead">Holiday</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>January 1</td>
                        <td>Wednesday</td>
                        <td>New Year's Day</td>
                      </tr>
                      <tr>
                        <td>January 20</td>
                        <td>Monday</td>
                        <td>Martin Luther King Jr. Day</td>
                      </tr>
                      <tr>
                        <td>February 17</td>
                        <td>Monday</td>
                        <td>Presidents' Day</td>
                      </tr>
                      <tr>
                        <td>March 31</td>
                        <td>Tuesday</td>
                        <td>Cesar Chavez Day</td>
                      </tr>
                      <tr>
                        <td>May 25</td>
                        <td>Monday</td>
                        <td>Memorial Day</td>
                      </tr>
                      <tr>
                        <td>July 4 (<a href="#credits">holiday credit</a>)</td>
                        <td>Saturday</td>
                        <td>Independence Day</td>
                      </tr>
                      <tr>
                        <td>September 7</td>
                        <td>Monday</td>
                        <td>Labor Day</td>
                      </tr>
                      <tr>
                        <td>November 11</td>
                        <td>Wednesday</td>
                        <td>Veterans Day</td>
                      </tr>
                      <tr>
                        <td>November 26</td>
                        <td>Thursday</td>
                        <td>Thanksgiving Day</td>
                      </tr>
                      <tr>
                        <td>November 27</td>
                        <td>Friday</td>
                        <td>Day after Thanksgiving</td>
                      </tr>
                      <tr>
                        <td>December 25</td>
                        <td>Friday</td>
                        <td>Christmas Day</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="container">

                    <h4>Additional holidays</h4>

                    <div class="alert" role="alert">

                      <p>Most employees get</p>
                      <p class="display-5 alert"><a href="#credits">1 personal holiday</a></p>
                      <p>and</p>
                      <p class="display-5 alert"><a href="#credits">1 holiday credit (8 hours)</a></p>
                      <p>July 1, 2020, to June 30, 2021</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </cwds-accordion>
        </div>

        <div class="container mb-20">
          <cwds-accordion>
            <div class="card">
              <div class="card-header py-20" id="headingOne">
                <button class="btn btn-link" type="button" aria-expanded="false">
                  <h3 class="pl-3">2021 holidays</h3>
                </button>
              </div>
              <div class="card-container collapsed" aria-labelledby="headingOne">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="lead">Date</th>
                        <th scope="col" class="lead">Day of the week</th>
                        <th scope="col" class="lead">Holiday</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>January 1</td>
                        <td>Friday</td>
                        <td>New Year's Day</td>
                      </tr>
                      <tr>
                        <td>January 18</td>
                        <td>Monday</td>
                        <td>Martin Luther King Jr. Day</td>
                      </tr>
                      <tr>
                        <td>February 15</td>
                        <td>Monday</td>
                        <td>Presidents' Day</td>
                      </tr>
                      <tr>
                        <td>March 31</td>
                        <td>Wednesday</td>
                        <td>Cesar Chavez Day</td>
                      </tr>
                      <tr>
                        <td>May 31</td>
                        <td>Monday</td>
                        <td>Memorial Day</td>
                      </tr>
                      <tr>
                        <td>July 4 (or <a href="#credits">July 5</a>)</td>
                        <td>Sunday (or <a href="#credits">Monday</a>)</td>
                        <td>Independence Day</td>
                      </tr>
                      <tr>
                        <td>September 6</td>
                        <td>Monday</td>
                        <td>Labor Day</td>
                      </tr>
                      <tr>
                        <td>November 11</td>
                        <td>Thursday</td>
                        <td>Veterans Day</td>
                      </tr>
                      <tr>
                        <td>November 25</td>
                        <td>Thursday</td>
                        <td>Thanksgiving Day</td>
                      </tr>
                      <tr>
                        <td>November 26</td>
                        <td>Friday</td>
                        <td>Day after Thanksgiving</td>
                      </tr>
                      <tr>
                        <td>December 25 (<a href="#credits">holiday credit</a>)</td>
                        <td>Saturday</td>
                        <td>Christmas Day</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="container">
                    <h4>Additional holidays</h4>

                    <div class="alert " role="alert">

                      <p>Most employees get</p>
                      <p class="display-5 alert"><a href="#credits">1 personal holiday</a></p>
                      <p>and</p>
                      <p class="display-5 alert"><a href="#credits">1 holiday credit (8 hours)</a></p>
                      <p>July 1, 2021, to June 30, 2022</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </cwds-accordion>
        </div>

        <div class="container">

          <a name="credits">
            <cwds-accordion class="js-credits">
              <div class="card">
                <div class="card-header py-20" id="headingOne">
                  <button class="btn btn-link js-credit-button" type="button" aria-expanded="false">
                    <h3 class="pl-3">More details about holidays</h3>
                  </button>
                </div>
                <div class="card-container collapsed" aria-labelledby="headingOne">
                  <div class="card-body">
                    <h4>Weekend holidays</h4>
                    <ul>
                      <li>When a holiday is on a Saturday, most employees get one holiday credit (eight hours of leave).
                      </li>
                      <li>When a holiday is on a Sunday, most employees have a paid holiday on the following Monday.
                      </li>
                    </ul>
                    <h4>Holiday credits</h4>
                    <ul>
                      <li>Spend your holiday credit on the day or hours you choose.</li>
                    </ul>
                    <h4>Personal holidays</h4>
                    <ul>
                      <li>Most employees get one personal holiday every fiscal year (July 1 to June 30).</li>
                      <li>Take your personal holiday on the day you choose.</li>
                      <li>Most employees get personal holidays after they've worked with the State for six months.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </cwds-accordion>
          </a>
        </div>
      </div>
    </div>
  </div>


  <%= require('html-loader!../../partials/feedback.html') %>

  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>