<!doctype html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Días festivos para empleados estatales de California.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Días festivos para empleados estatales de California - Alpha.CA.gov">
  <meta property="og:description" content="Días festivos para empleados estatales de California.">
  <meta property="og:url" content="https://alpha.ca.gov/es/services/state-california-employee-holidays/">

  <link rel="canonical" href="https://alpha.ca.gov/es/services/state-california-employee-holidays/" />
  <title>Días festivos para empleados estatales de California - Alpha.CA.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />


</head>

<body>

<%= require('html-loader!../../partials/official.html') %>
<%= require('html-loader!../../partials/experiment-banner.html') %>
<%= require('html-loader!../../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Días festivos para empleados estatales de California</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col">
        <h2>Proximo día Festivo</h2>

        <div class="alert alert-secondary " role="alert">
          <p class="display-4 alert">Lunes, 20 de enero</p>
          <p class="h2 alert">Día de Martin Luther King Jr.</p>

        </div>

        <p><i class="far lead ca-gov-icon-calendar"></i> <a href="https://api.alpha.ca.gov/StateHolidayCalendar.ics"
            download>Agregue los días festivos a su calendario</a></p>


        <h2>Proxímos días festivos</h2>
        <p>Empleados estatales de California tienen los días festivos pagados en las próximas fechas.</p>

        <div class="column mb-20">

          <cwds-accordion>
            <div class="card">
              <div class="card-header accordion-alpha" id="headingOne">
                <button class="btn btn-link mb-n3" type="button" aria-expanded="false">
                  <h3 class="pl-3 h4">2020 holidays</h3>
                </button>
              </div>
              <div class="card-container collapsed" aria-labelledby="headingOne">
                <div class="card-body">
                  <table class="table table-responsive-sm">
                    <thead>
                      <tr>
                        <th scope="col" class="lead">Fecha</th>
                        <th scope="col" class="lead">Día de la semana</th>
                        <th scope="col" class="lead">Día festivo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1 de Enero</td>
                        <td>Miércoles</td>
                        <td>Año Nuevo</td>
                      </tr>
                      <tr>
                        <td>20 de Enero</td>
                        <td>Lunes</td>
                        <td>Día de Martin Luther King Jr.</td>
                      </tr>
                      <tr>
                        <td>17 de Febrero</td>
                        <td>Lunes</td>
                        <td>Día de los Presidentes</td>
                      </tr>
                      <tr>
                        <td>31 de Marzo</td>
                        <td>Martes</td>
                        <td>Día de Cesar Chavez</td>
                      </tr>
                      <tr>
                        <td>25 de Mayo</td>
                        <td>Lunes</td>
                        <td>Día de la Conmemoración de los Caídos</td>
                      </tr>
                      <tr>
                        <td>4 de Julio (<a href="#credits">crédito de vacaciones</a>)</td>
                        <td>Sábado</td>
                        <td>Día de la Independencia</td>
                      </tr>
                      <tr>
                        <td>7 de Septiembre</td>
                        <td>Lunes</td>
                        <td>Día del trabajo</td>
                      </tr>
                      <tr>
                        <td>11 de Noviembre</td>
                        <td>Miércoles</td>
                        <td>Día de los Veteranos</td>
                      </tr>
                      <tr>
                        <td>26 de Noviembre</td>
                        <td>Jueves</td>
                        <td>Día de Acción de Gracias</td>
                      </tr>
                      <tr>
                        <td>27 de Noviembre</td>
                        <td>Viernes</td>
                        <td>Día después de Acción de Gracias</td>
                      </tr>
                      <tr>
                        <td>25 de Diciembre</td>
                        <td>Viernes</td>
                        <td>Navidad</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="container">

                    <h4>Días festivos adicionales</h4>

                    <div class="alert" role="alert">

                      <p>La mayoría de los empleados reciben</p>
                      <p class="display-5 alert"><a href="#credits">Un día libre </a></p>
                      <p>Y</p>
                      <p class="display-5 alert"><a href="#credits">Un crédito de vacaciones (8 horas)</a></p>
                      <p>Entre el 1 de julio de 2020 a 31 de junio de 2021</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </cwds-accordion>
        </div>

        <div class="column mb-20">
          <cwds-accordion>
            <div class="card">
              <div class="card-header accordion-alpha" id="headingOne">
                <button class="btn btn-link mb-n3" type="button" aria-expanded="false">
                  <h3 class="pl-3 h4">2021 holidays</h3>
                </button>
              </div>
              <div class="card-container collapsed" aria-labelledby="headingOne">
                <div class="card-body">
                  <table class="table table-responsive-sm">
                    <thead>
                      <tr>
                        <th scope="col" class="lead">Fecha</th>
                        <th scope="col" class="lead">Día de la semana</th>
                        <th scope="col" class="lead">Día festivo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1 de enero</td>
                        <td>Viernes</td>
                        <td>Año Nuevo</td>
                      </tr>
                      <tr>
                        <td>18 de enero</td>
                        <td>Lunes</td>
                        <td>Día de Martin Luther King Jr.</td>
                      </tr>
                      <tr>
                        <td>15 de Febrero</td>
                        <td>Lunes</td>
                        <td>Día de los Presidentes</td>
                      </tr>
                      <tr>
                        <td>31 de Marzo</td>
                        <td>Miércoles</td>
                        <td>Día de Cesar Chavez</td>
                      </tr>
                      <tr>
                        <td>31 de Mayo</td>
                        <td>Monday</td>
                        <td>Día de la Conmemoración de los Caídos</td>
                      </tr>
                      <tr>
                        <td>4 de Julio (o <a href="#credits">5 de julio</a>)</td>
                        <td>Domingo (o <a href="#credits">Lunes</a>)</td>
                        <td>Día de la Independencia</td>
                      </tr>
                      <tr>
                        <td>6 de Septiembre</td>
                        <td>Lunes</td>
                        <td>Día del Trabajo</td>
                      </tr>
                      <tr>
                        <td>11 de Noviembre</td>
                        <td>Jueves</td>
                        <td>Día de los Veteranos</td>
                      </tr>
                      <tr>
                        <td>25 de Noviembre</td>
                        <td>Jueves</td>
                        <td>Día de Acción de Gracias</td>
                      </tr>
                      <tr>
                        <td>26 de Noviembre</td>
                        <td>Viernes</td>
                        <td>Día después del Día de Acción de Gracias</td>
                      </tr>
                      <tr>
                        <td>25 de Diciembre (<a href="#credits">crédito de vacaciones</a>)</td>
                        <td>Sábado</td>
                        <td>Navidad</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="container">
                    <h4>Días festivos adicionales</h4>

                    <div class="alert " role="alert">

                      <p>La mayoría de empleados reciben</p>
                      <p class="display-5 alert"><a href="#credits">Un día libre</a></p>
                      <p>y</p>
                      <p class="display-5 alert"><a href="#credits">Un crédito de vacaciones (8 horas)</a></p>
                      <p>Entre el 1 de junio de 2021 a 30 de junio de 2022</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </cwds-accordion>
        </div>

        <div class="column">

          <a name="credits">
            <cwds-accordion class="js-credits">
              <div class="card">
                <div class="card-header accordion-alpha" id="headingOne">
                  <button class="btn btn-link js-credit-button mb-n3" type="button" aria-expanded="false">
                    <h3 class="pl-3 h4 text-left" >Más información sobre días festivos del estado</h3>
                  </button>
                </div>
                <div class="card-container collapsed" aria-labelledby="headingOne">
                  <div class="card-body">
                    <h4>Días festivos en fines de semana</h4>
                    <ul>
                      <li>Cuando un día festivo cae en un sábado, la mayoría de empleados reciben un crédito de vacaciones (8 horas de permiso laboral).
                      </li>
                      <li>Cuando un día festivo cae en un domingo, la mayoría de empleados tienen libre el lunes siguiente después del día festivo.
                      </li>
                    </ul>
                    <h4>Crédito de vacaciones</h4>
                    <ul>
                      <li>Aplice su crédito de vacaciones durante el día o horas que usted elige.</li>
                    </ul>
                    <h4>Días de vacaciones personales</h4>
                    <ul>
                      <li>La mayoría de empleados reciben un día de vacaciones personal cada año fiscal (entre el 1 de julio a 30 de junio).</li>
                      <li>Tome su día personal en el día que usted elige.</li>
                      <li>La mayoría de los empleados obtienen un dia personal después de haber trabajado con el Estado durante seis meses.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </cwds-accordion>
          </a>
        </div>
      </div>
    </div>
  </div>


  <%= require('html-loader!../../partials/feedback.html') %>

  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>
