<!doctype html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Find the minimum wage in your California city and the State of California. Compare your city's minimum wage to other cities in California..">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="FEncuentre el salario mínimo en su ciudad - Alpha.CA.gov">
  <meta property="og:description" content="Find the minimum wage in your California city and the State of California. Compare your city's minimum wage to other cities in California.">
  <meta property="og:url" content="https://alpha.ca.gov/services/minimum-wage-in-california/">

  <link rel="canonical" href="https://alpha.ca.gov/services/minimum-wage-in-california/" />
  <title>Encuentre el salario mínimo en su ciudad - Alpha.CA.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

<%= require('html-loader!../../partials/official.html') %>
<%= require('html-loader!../../partials/experiment-banner.html') %>
<%= require('html-loader!../../partials/navbar.html') %>

  <div class="jumbotron text-left">
    <div class="container">
      <h1>Encuentre el salario mínimo en su ciudad</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-10">
        <form class="form-inline">
          
          <div class="form-group wage-city-search">
            <label for="location-query">Por favor, introduzca su ciudad o código postal:</label><br>
            <input type="text" class="city-search form-control mr-3 mb-3" data-multiple id="location-query" aria-controls="submit-form" />
            <div class="invalid-feedback">Por favor, introduzca una ciudad o código postal en California.</div>
			  <button id="submit-form" type="submit" class="btn btn-primary js-wage-lookup mb-3">Encuentre su salario minimo</button>
          </div>
          
        </form>
        <p></p>
        <div id="answer"></div>
        <p></p>
        <h2>Salario mínimo de California en 2020</h2>
        <p>El salario mínimo depende de la ciudad donde trabaja. Algunas ciudades tienen el mismo salario mínimo que el Estado de California.</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Empleadores con 25 o menos empleados</th>
              <th scope="col">Empleadores con 26 o más empleados</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$12/hora*</td>
              <td>$13/hora*</td>
            </tr>
          </tbody>
        </table>
        
        <h3>Compare minimum wage across cities</h3>
        <p>These California cities and counties have their own minimum wage laws.</p>
        <div class="display-wage-by-city"></div>
      </div>
		<div class="col-md-12 mt-5">
				<hr>
        <p>*Más sobre el <a href="https://www.dir.ca.gov/dlse/faq_minimumwage.htm">salario mínimo</a>.</p>
				<p></p>
			  </div>
    </div>

  </div>
	  
	  

  <%= require('html-loader!../../partials/feedback.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <script nomodule src="/js/es5Minwage.js?cache=false" ></script>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>