<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <meta name="description" content="The Alpha website for the State of California.">
    <%= require('html-loader!../partials/meta-common.html') %>
    <%= require('html-loader!../partials/favicons.html') %>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="About Alpha.CA.gov - State of California">
    <meta property="og:description" content="We’re making it easier to find and use government services and information in the State of California.">
    <meta property="og:url" content="https://alpha.ca.gov/about/">
    <link rel="canonical" href="https://alpha.ca.gov/about/" />
    <title>About Alpha.CA.gov</title>
    <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
</head>

<body>
    <%= require('html-loader!../partials/official.html') %>
    <%= require('html-loader!../partials/navbar.html') %>
    <div class="container-fluid jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>We’re a small but mighty team of public servants and outside experts in user research and design. Together, we’re reimagining <a href="https://www.ca.gov/">CA.gov</a> with and for the people of California.</p>
                <p>Our first step: Make CA.gov easier for Californians to use. We’ve been working to help you access the services and information you need since December 2019.</p>
                <h2>Follow our progress</h2>
                <p>We’re sharing our insights on our <a href="https://news.alpha.ca.gov">blog</a> [global-lang-and-lower] <a href="https://twitter.com/CAdotGov">Twitter</a>[global-lang-period] Our work in progress will live on <a href="https://github.com/cagov/">GitHub</a> and this website, <a href="https://alpha.ca.gov/">Alpha.CA.gov</a>[global-lang-period]</p>
            </div>
        </div>
    </div>
    <%= require('html-loader!../partials/feedback.html') %>
    <%= require('html-loader!../partials/footer.html') %>
    <%= require('html-loader!../partials/alphabar.html') %>
    <%= require('html-loader!../partials/ga.html') %>
    <%= require('html-loader!../js/es6/js.html') %>
</body>

</html>