<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Alpha website for the State of California.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="/img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="[lang-meta-og-title]">
  <meta property="og:description" content="[lang-meta-og-description]">
  <meta property="og:url" content="https://alpha.ca.gov/about/">

  <link rel="canonical" href="https://alpha.ca.gov/about/" />
  <title>[lang-title]</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

  <%= require('html-loader!../partials/official.html') %>
  <%= require('html-loader!../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>[lang-h1]</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-10">
			<p dir="ltr">[lang-p-1a] <a href="https://www.ca.gov/">[lang-p-1b]</a> [lang-p-1c]</p>
			<p dir="ltr">[lang-p-2]</p>
		  <h2>[lang-h2]</h2>
			<p>[lang-p-3a] <a href="https://medium.com/cadotgov">[lang-p-3b]</a> [lang-p-3c] <a href="https://twitter.com/CAdotGov">[lang-p-3d]</a>. [lang-p-3e] <a href="https://github.com/cagov/">[lang-p-3f]</a> [lang-p-3g] <a href="https://alpha.ca.gov/">Alpha.CA.gov</a>.</p>
			<p>&nbsp;</p>
      </div>
    </div>
  </div>

  <%= require('html-loader!../partials/feedback.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/alphabar.html') %>
  <%= require('html-loader!../partials/ga.html') %>

</body>

</html>
