<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <%= require('html-loader!../../../partials/meta-common.html') %>
    <%= require('html-loader!../../../partials/favicons.html') %>
    <meta name="description" content="What you need to apply for unemployment insurance (UI).">
    <title>What you need before you apply - Apply for unemployment insurance - Alpha.CA.gov</title>
</head>
<body>
    <header>
        <%= require('html-loader!../../../partials/official.html') %>
        <%= require('html-loader!../../../partials/experiment-banner.html') %>
        <%= require('html-loader!../../../partials/navbar.html') %>
    </header>
    <main>
    <div class="container-fluid jumbotron">
        <div class="container">
            <nav aria-label="breadcrumb">
                <!--  <ol class="breadcrumb">
      <li class="breadcrumb-item"><span class="ca-gov-icon-arrow-prev pr-1 smaller"></span><a href="/UX/apply-discounted-phone-service/">Apply for a discounted phone service</a></li>
      </ol> -->
            </nav>
            <div class="row">
                <div class="col-lg-8">
                    <h1>Apply for unemployment insurance </h1>
                    <p class="lead">Unemployment insurance (UI) pays part of your income after your employer lays you off or reduces your hours. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="aside"><span class="display-5"></span>
                    <div class="list-group">
                        <a href="../#who" class="list-group-item list-group-item-action guide">Who can apply</a>
                        <a href="../when-to-apply/#when" class="list-group-item list-group-item-action guide">When to apply</a>
                        <a href="#what" class="list-group-item list-group-item-action guide active">What you need before you apply</a>
                        <a href="../how-to-apply/#how" class="list-group-item list-group-item-action guide">How to apply</a>
                        <a href="../after-you-apply/#after" class="list-group-item list-group-item-action guide">After you apply</a>
                        <a href="../update-us-every-two-weeks/#update" class="list-group-item list-group-item-action guide">Update us every two weeks</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h2 id="what">What you need before you apply</h2>
                <h3>Last employer information</h3>
                <p>The last employer is the last company you worked for. Or, if your employer reduced your hours, you could still work there part-time. </p>
                <ul>
                    <li>Name of the company as it appears on your paycheck or W-2 form</li>
                    <ul>
                        <li>The name could be a payroll agency or staffing agency </li>
                    </ul>
                    <li>Complete mailing address</li>
                    <li>Company’s phone number</li>
                    <li>Supervisor’s name</li>
                    <li>Total wages for the last week you worked</li>
                    <li>The reason your employer reduced your hours or that you’re no longer working there</li>
                </ul>
                <h3>Employment history</h3>
                <ul>
                    <li>All of your employers from the last 18 months, including your last employer</li>
                    <ul>
                        <li>List them as they appear on your paycheck or W-2 form </li>
                    </ul>
                    <li>Your start and end dates </li>
                    <li>Total wages earned </li>
                    <li>How often you were paid (hourly, weekly, monthly)</li>
                    <li>Hours worked per week</li>
                </ul>
                <h3>Your information</h3>
                <ul>
                    <li>Social Security Number</li>
                    <li>Driver’s license or ID card number </li>
                    <li>Citizenship status</li>
                    <li>Company’s phone number</li>
                    <li>Mailing address</li>
                    <li>Telephone number</li>
                    <li>Name, including names you no longer use (such as your married or maiden names)</li>
                </ul>
                <h3>Other information </h3>
                <ul>
                    <li>If you don’t have U.S. citizenship, information from your employment authorization document</li>
                    <li>If you are a former federal employee, your Notice to Federal Employees About Unemployment Insurance, Standard Form 8 </li>
                    <li>If you served in the military in the last 18 months, your DD Form 214</li>
                </ul>
            </div>
        </div>
    </div>
    </main>
    <footer>
        <%= require('html-loader!../../../partials/footer.html') %>
        <%= require('html-loader!../../../partials/alphabar.html') %>
        <%= require('html-loader!../../../partials/ga.html') %>
		<%= require('html-loader!../../../partials/ga.html') %>
		<%= require('html-loader!../../../js/es6/js.html') %>
    </footer>
    <%= require('html-loader!../../../js/es6/js.html') %>
</body>

</html>


