<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta
      name="description"
      content="Check your tap water quality. And find out where your water comes from and the name of your water system."
    />
    <%= require('html-loader!../../partials/meta-common.html') %> <%=
    require('html-loader!../../partials/favicons.html') %>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="630" />
    <meta property="og:title" content="Check your tap water quality - Alpha.CA.gov" />
    <meta
      property="og:description"
      content="Search for shelters in every California county."
    />
    <meta property="og:url" content="[code-url]" />
    <link rel="canonical" href="[code-url]" />
    <title>Check your tap water quality - Alpha.CA.gov</title>
  </head>

  <body class="js-water">
    <header>
      <%= require('html-loader!../../partials/official.html') %> <%=
      require('html-loader!../../partials/experiment-banner.html') %> <%=
      require('html-loader!../../partials/navbar.html') %>
    </header>
    <main>
      <div class="container-fluid jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Check your tap water quality</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="container check-water">
        <div class="row">
          <div class="col-md-8">
            <form class="form-inline js-water-form">
              <div class="form-group">
                <label for="waterlocationfield">Please enter your address: </label
                >
                <div class="awesomplete">
                  <input
                    type="text"
                    class="city-search form-control water-location-field"
                    data-multiple=""
                    id="waterlocationfield"
                    data-list=""
                    autocomplete="off"
                    aria-expanded="false"
                    aria-owns="awesomplete-list-1"
                    role="combobox"
                  />
                  <ul hidden="" role="listbox" id="awesomplete-list-1"></ul>
                  <span
                    class="visually-hidden"
                    role="status"
                    aria-live="assertive"
                    aria-atomic="true"
                    >Type 2 or more characters for results.</span
                  >
                </div>
                <button
                  id="submit-form"
                  type="submit"
                  class="btn btn-primary js-water-lookup"
                >
                  Check your water
                </button>
                <div class="invalid-feedback">
                  Please enter a city or zip code in California.
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
              
      <div id="map" class="d-none"></div>

      <div class="container pb-5 d-none system-data" aria-live="polite">
        <div class="row">
          <div class="col-lg-8">
            <div class="system-status"></div>
            <div class="system-info">
              <h2>How your water system checks for safety</h2>
              <p>
                Your water system tests at least yearly for chemicals, bacteria, and viruses that could be harmful to human health.
              </p>
              <p>
                They also track changes to the way your water tastes, looks, or smells.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <%= require('html-loader!../../partials/feedback.html') %> <%=
      require('html-loader!../../partials/footer.html') %>
      <%= require('html-loader!../../partials/alphabar.html') %> <%=
      require('html-loader!../../partials/ga.html') %>
      <%= require('html-loader!../../js/es6/jswater.html') %>
    </footer>

    <template id="loading">
      <div>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </div>
    </template>
    <template id="water-detail-template">
      <div class="safe-desc">
        <h2>Your water quality</h2>
        <p>Your tap water met <a href="https://mywaterquality.ca.gov/safe_to_drink/">California safety standards</a> as of August 30, 2019.</p>
      </div>
      <div class="comes-from">
        <h3 class="card-title">Where your water comes from</h3>
      </div>
      <div class="system-test-desc">
        They test your water before it leaves their facilities. Your water system also keeps the most up-to-date and detailed information about your water. They publish a yearly report on your water quality called a <a href="https://www.epa.gov/ccr/ccr-information-consumers">Consumer Confidence Report</a>.
      </div>
      <div class="your-water-sys">Your water system is</div>
      <div class="advice">
        Now that your water is not safe to drink, they will have advice about what to do.
      </div>
      <div class="when-tested">
        They test your water before it leaves their facilities. Your water system also has the most up-to-date and detailed information about your water. They publish a yearly report on your water quality called a <a href="https://www.epa.gov/ccr/ccr-information-consumers">Consumer Confidence Report</a>.
      </div>
      <div class="check-water">Check your water</div>
    </template>

  </body>
</html>
