<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <%= require('html-loader!../../partials/meta-common.html') %>
    <%= require('html-loader!../../partials/favicons.html') %>
  	<meta name="description" content="Follow these six steps to apply for California Lifeline, a discounted phone service. ">
	<title>Apply for a discounted phone service (California LifeLine) - Alpha.CA.gov</title>
	<!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Apply for a discounted phone service (California LifeLine) - Alpha.CA.gov">
    <meta property="og:description" content="Follow these six steps to apply for California Lifeline, a discounted phone service.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
</head>
	

<body>

<header>
	<%= require('html-loader!../../partials/official.html') %>
	<%= require('html-loader!../../partials/experiment-banner.html') %>
	<%= require('html-loader!../../partials/navbar.html') %>
</header>
<main>
  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h1>Apply for a discounted phone service</h1>
          <p class="lead">California LifeLine lowers the cost of your monthly bill for your cell or landline phone.</p>
        </div>
      </div>
    </div> 
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
	       
        
        <cwds-step-list>
		<a href="#" class="show-all">Show all</a>
        <a href="#" class="show-all d-none">Hide all</a>
          <ul class="list-group list-group-flush">
            <li class="list-group-item lead unstyled list-group-item-action">
              <button class="step-description" type="button">
                <span class="list-number" aria-label="step one">1</span>Check if you can get a discount
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details">
                <span class="step-interior">
                  <br>
		  <p>This discount is for households that:
                  <ul class="inner-list">
                    <li>Get public assistance</li>
                    <li>Or have an income below a certain amount</li> 
		  </ul>
			</p>
                  <p>A household is a group of people who live together and share income and expenses (even if they are not related to each other).</p>
                  <a class="action-link" href="../check-if-you-can-get-discounted-phone-service/">Check if you can get a discount</a>
					
                </span>
              </div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action" id="2">
              <button class="step-description" type="button">
                <span class="list-number" aria-label="step two">2</span>Choose a phone company that offers discounts
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
		      Find a new phone company that offers a California LifeLine discount. Or check if your existing phone company offers a discount. 
                  <p><a class="action-link" href="https://californialifeline.com/en/provider_search">Find a phone company</a></p>
				  </span>
              </div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button class="step-description" type="button">
                <span class="list-number step-list-and-or">[global-lang-and-lower]</span>Contact your phone company
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
				<p>Ask the phone company you chose to start your application for the California LifeLine program. They should tell you if you can get a discount and start the application process for you. Then, we’ll send you a letter in the mail. </p>
                   
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button class="step-description" type="button">
                <span class="list-number" aria-label="step three">3</span>Read our pink letter in the mail
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                <br>
                  <p>In three weeks, you should get a pink letter in the mail. Open it to find your application form. </p>
		  		  <p>If you contacted your phone company but still haven’t gotten your application form in the mail, please <a href="https://www.californialifeline.com/en/contact" target="_self">contact us</a>. </p> 
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button class="step-description" type="button">
                <span class="list-number" aria-label="step four">4</span>Apply online or by mail
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior"><br>
				
                <p><a class="action-link" href="../apply-online-discounted-phone-service/">Apply online </a></p>
				    <span class="and-or">[global-lang-or-lower]</span><br>
                  <p>Apply by mail. Simply fill out and mail back the form inside your pink letter. </p>
               
                </span></div>
            </li>
			   <li class="list-group-item lead unstyled list-group-item-action">
              <button class="step-description" type="button">
                <span class="list-number" aria-label="step five">5</span>Get our decision in the mail
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior"><br>
                  <p>We’ll send you a letter to let you know if you’re approved. If so, you’ll start getting a monthly discount from your phone company automatically.</p>
                </span></div>
            </li>
		  <li class="list-group-item lead unstyled list-group-item-action">
              <button class="step-description" type="button">
                <span class="list-number" aria-label="step six">6</span>Renew in one year
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior"><br>
		 <p>One year from your start date, we’ll send you another pink letter in the mail asking you to renew your discount. Then, you can use your letter to renew by mail or <a href="../apply-online-discounted-phone-service/">online</a>.</p> 
                </span></div>
            </li>
          </ul>
        </cwds-step-list>
		<div class="more">
	    <h2>Help</h2> 
		<p>If you need help, <a href="https://www.californialifeline.com/en/contact">contact us</a>.</p>
		</div>
      </div>

    </div>
  </div>


</main>	
<footer>
	<%= require('html-loader!../../partials/feedback.html') %>
	<%= require('html-loader!../../partials/footer.html') %>
	<%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>
</footer>
<%= require('html-loader!../../js/es6/js.html') %>
</body>
</html>
