<div class="footer alpha-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> 
        <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
          <li class="list-group-item alpha-footer"><a href="/en/about/">[global-lang-about]</a></li>
          <li class="list-group-item alpha-footer"><a href="https://news.alpha.ca.gov/">[global-lang-news]</a></li>
		  <li><a href="contact-us/" class="list-group-item list-group-item-action lead">[global-lang-contact-us]</a></li>
          <li class="list-group-item alpha-footer"><a href="[global-feedback-link]?Source=[code-url]">[global-lang-feedback]</a></li>          
        </ul>
		    <p>[global-lang-state-of-ca]</p> 
      </div>
    </div>
  </div>
</div>
<script nomodule src="/js/es5.js?cache=false" ></script>
