<div class="footer alpha-footer">
  <div class="container">
	  
    <div class="row">
		<div class="col-md-10">
			<p>Did you find what you were looking for? Please share your <a href="/feedback/">feedback</a> to help us improve this page. </p>
			<hr>
		</div>
  </div>
    <div class="row">
      <div class="col-md-12 ml-0 pl-0">
        <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
			<li class="list-group-item alpha-footer border-0">State of California</li>
          <a href="#">
            <li class="list-group-item alpha-footer">About</li>
          </a>
          <a href="/feedback/">
            <li class="list-group-item alpha-footer">Feedback</li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
