<div class="footer alpha-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
          <a href="#">
            <li class="list-group-item alpha-footer">About</li>
          </a>
          <a href="#">
            <li class="list-group-item alpha-footer">Feedback</li>
          </a>
        </ul>
      </div>
      <p class="col-md-12 pt-1 text-right">
        &copy; 2020 State of California
      </p>
    </div>
  </div>
</div>
