<nav class="navbar navbar-expand-lg navbar-dark bd-navbar navbar-inverse">
  <div class="container-xl flex-wrap flex-md-nowrap py-0 px-3">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Ca.gov">
      <img src="https://alpha.ca.gov/img/ca-light.png" class="logo-img" alt="California State" />
      <span class="navbar-brand navbar-right pr-5" href="index.html">CA.gov <sup>(ALPHA)</sup></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
