<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Alpha website for the State of California.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Alpha.CA.gov - State of California">
  <meta property="og:description" content="We’re making it easier to find and use government services and information in the State of California.
  ">
  <meta property="og:url" content="https://alpha.ca.gov">

  <link rel="canonical" href="https://alpha.ca.gov" />
  <title>Welcome to Alpha.CA.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

  <%= require('html-loader!../../partials/experiment-banner.html') %>
  <%= require('html-loader!../../partials/official.html') %>
  <%= require('html-loader!../../partials/navbar.html') %>

  <div class="jumbotron text-left">
    <div class="container">
      <h1>Find your minimum wage</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-8">

        <h2>Minimum wage in your city</h2>
        <p>Your minimum wage depends on the city where you work.</p>
        <form>
          <div class="form-group wage-city-search">
            <label for="location-query">Please enter your city or zip code:</label><br>
            <input class="city-search form-control" data-multiple id="location-query"
              data-list="City of Berkeley, City of Cupertino, City of El Cerrito, Emeryville, Los Altos, Milpitas, Mountain View, Oakland, Palo Alto, San Diego, San Francisco, San Jose, San Mateo, Santa Clara, Sunnyvale, Alameda, Belmont, Daly City, Fremont, Los Angeles (City), Los Angeles County, Malibu, Menlo Park, Novato, Pasadena, Petaluma, Redwood City, Richmond, San Leandro, Santa Monica, Santa Rosa, Sonoma, South San Francisco" />
            <div class="invalid-feedback">Please enter a city or zip code in California.</div>
          </div>
          <button type="submit" class="btn btn-primary js-wage-lookup mt-3">Find your minimum wage</button>
        </form>
        <p></p>
        <div id="answer"></div>
        <p></p>
        <h2>California minimum wage in 2020</h2>
        <p>Some cities have the same minimum wage as the State.</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Employers with 25 or fewer employees</th>
              <th scope="col">Employers with 26 or more employees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$12/hour*</td>
              <td>$13/hour*</td>
            </tr>
          </tbody>
        </table>
        <p style="padding-bottom:0;">*More about the <a href="https://www.dir.ca.gov/dlse/faq_minimumwage.htm">minimum
            wage</a>.</p>
        <p></p>
        <h3>Minimum wage by city and county</h3>
        <p>These California cities and counties have their own minimum wage laws.</p>
        <div class="display-wage-by-city"></div>
      </div>

    </div>
  </div>

  <%= require('html-loader!../../partials/feedback.html') %>

  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>