
body {
  color: #000;
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
	
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Public Sans Bold", sans-serif;
  font-weight: bold;
  letter-spacing: -.01em;
}

h1 {
  padding-bottom: 10px;
}

h2 {
  padding-bottom: 10px;
}

h3 {
  padding-bottom: 10px;
}

th {

 font-family: "Public Sans Bold", sans-serif;
	
}

.text-secondary {
color: #4F4F4F!important;
}


p, li, .list-group-item {
  font-size: auto !important;
}

a.list-group-item {
  padding: 20px;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a, a:visited, a:hover {
  color: #004abc;
}

a, a:visited {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}


:focus {
    outline: 2px solid #004abc;
}


/* Action Link */

.action-link {
    color: #004abc;
    background: #F5F9FF;
	padding: .5rem;
    padding-left: 1.75rem;
    font-size: 1.2rem;  
	text-decoration: none;
    border-bottom: 2px solid #004abc;
	line-height: 3rem;
}


.action-link, a.action-link::before {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA5IDEyIiB3aWR0aD0iOXB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlLz48ZGVzYy8+PGRlZnMvPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGZpbGw9IiMwMDAwMDAiIGlkPSJDb3JlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjYwLjAwMDAwMCwgLTkwLjAwMDAwMCkiPjxnIGlkPSJjaGV2cm9uLXJpZ2h0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjAuNTAwMDAwLCA5MC4wMDAwMDApIj48cGF0aCBkPSJNMSwwIEwtMC40LDEuNCBMNC4yLDYgTC0wLjQsMTAuNiBMMSwxMiBMNyw2IEwxLDAgWiIgaWQ9IlNoYXBlIi8+PC9nPjwvZz48L2c+PC9zdmc+");
	background-size: 1rem;
    background-repeat: no-repeat;
    background-position-x: .4rem;
    background-position-y: center;
}

a.action-link:hover {
    border-color: #000;
	color: #000;
	background-color: #d5e6ff;
}


.bold {
    font-family: "Public Sans Bold", sans-serif;
}

strong {
    font-family: "Public Sans Bold", sans-serif;
}

/* List group */

.list-number {
  background: #000000;
  border-color: #000000;
  border-width: 3px;
  color: #ffffff;
  font-family: "Public Sans Bold", sans-serif;
  font-size: 1.2rem;
  margin-right: 10px;
  line-height: normal;
  position: relative;
  display: inline-block;
  width: 33px;
  height: 33px;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  line-height: inherit;
  text-indent: 0;
}

.list-number-inverse {
	border-style: solid;
	border-radius: 50%;
	border-color: #000;
	color:#000;
	background: #fff;
	line-height: inherit;
	border-width: 3px;
}

.list-group-item {
  	border-color: #cccccc;
	//cursor: pointer;
}
.list-group-header {
  	border-bottom: 0;
	font-family: "Public Sans Bold", sans-serif;
	padding-left: 33px;
}


a.list-group-item-action {
	  color: #000000;
	  text-decoration: none;
	
}

.list-group-item-action:hover, .list-group-item-action:hover, .list-group-item-action:focus {
    z-index: 1;
    color: #000;
    text-decoration: none;
    background-color: #f8f9fa;
}

.list-checkmark li {
	text-indent: -30px;
	padding-left: 60px;
			
}

/* Navbar */

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:visited, a.navbar-brand, a.navbar-brand:visited {
	text-decoration: none !important;
}
.nav-item {
  font-size: 1.1rem;
}

.alert-left {
	border-left: 4px solid #0f1e6b;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

sup {
  font-size: normal !important;
  font-family: "Public Sans Thin", sans-serif;
}

hr {
  border-top: 1px solid #000;
  margin: 15px 0;
}

/* Tables */

.table {
  color: #000000;
  margin-bottom: 2rem;
}
.table .thead-dark th {
  background: #000000;
  color: #ffffff;
}
.table .thead-light th {
  background: #f1f1f1;
  color: #000000;
}

.table thead th {
    background: #f1f1f1;
}

/* Card */

.card-header {
  padding: .25rem;
  margin-bottom: 0;
  background-color: #f1f1f1;
  padding-right: 12%;
  border: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f1f1f1;
  border-radius: .25rem;
}

.card-body {
  font-size: 18px;
  padding: .75rem 1.25rem;
}

.card .btn-link {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  color: #000;
  background-color: transparent;
}

.card p {
  font-size: 18px;
}

/* Alerts */

.alert-info, .alert-primary {
  background: #f1f1f1;
  border-color: #cccccc;
  margin-bottom: 20px;
  color: #000;
}

.alert-secondary h2 {
  margin-top: 0;
  padding-top: 0;
}

.alert-secondary {
    color: #000000;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

/* Mods */

.official, .footer, .alphabar {
  font-size: 1rem;
}

/* Performance */

.performance {
  background: #f1f1f1;
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px;
}

.performance h4 {
  margin: 0;
  padding: 0 0 10px 0;
}

.performance ul {
  margin: 0;
  padding: 0 0 10px 0;
}

.performance li {
  list-style: none;
  padding: 2px 0;
}

.performance li, .performance p {
  font-size: 100%;
}

.performance p {
  border-top: 1px solid #fff;
  margin: 0;
  padding: 10px 0 0 0;
}

.performance .fas {
  padding-right: 5px;
}

.performance i.fa-lock {
  color: green;
}

.performance i.fa-check {
  color: blue;
}

.performance i.fa-stopwatch {
  color: #000;
}

.performance a {
  color: #555;
  text-decoration: none;
}


/* Navbar */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar img {
  margin-top: 8px;
  max-height: 35px;
}

.navbar-brand {
  font-family: 'Public Sans Bold', sans-serif;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 15%;
  background-image: url('https://www.alpha.ca.gov/img/ca-light.png');
}

.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	background: #0f1e6b;
    background: linear-gradient(60deg, #0f1e6b 0%, #1f0f6b 70%);
}

.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background: #ffffff;
}

.navbar-header a, .navbar-header a:visited, .navbar-header a:hover {
  color: #ffffff;
  text-decoration: none;
}

.navbar img {
  width: 100%;
  height: auto;
  max-width: 50px;
}

/* Jumbotron */

.jumbotron {
	background: #f1f1f1;
	border-bottom: 0;
    margin-bottom: 2%;
    padding-bottom: 1.2%;
    padding-top: 2%;
}

.jumbotron, .jumbotron h1, .jumbotron .lead {
  color: #000;
}

.jumbotron.alpha  {
	background: #0f1e6b;
    background: linear-gradient(60deg, #0f1e6b 0%, #1f0f6b 70%);
	color: #fff;
}

.jumbotron h1 {
  font-size: 2.3rem;
}

.jumbotron img {
  width: 100%;
  height: auto;
  max-width: 75px;
  padding: 10px 0;
}

.jumbotron-reverse, .jumbotron-reverse h1 {
  color: #000;
}

.jumbotron-reverse {
  background: #fff;
}

.breadcrumb {
	background-color: transparent;
	margin-top: -.5%;
	padding:0;
}

/* Official */

.official {
  background: #f1f1f1;
  padding: 10px 0;
}

.official a, .official a:visited, .official a:hover {
  color: #000;
}

.official p {
  background-image: url('https://www.alpha.ca.gov/img/ca-flag.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: contain;
  margin: 0;
  padding: 0 0 0 65px;
}

.nav-cali-bg {
  padding-left: 35px;
  background-image: url('https://www.alpha.ca.gov/img/ca-light.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 10%;
}

.official img {
  margin-right: 10px;
  max-width: 60px;
}

.official-footer {
  background-color: #fff;
  padding: 15px 0 55px 0;
}

/* alphabar */

.alphabar {
  border-top: 1px solid #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0f1e6b;
  background: linear-gradient(60deg, #0f1e6b 0%, #1f0f6b 70%);
  z-index: 10;
}

.alphabar p {
  color: #fff;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.alphabar a {
  color: #fff;
}


/* Forms */

.btn-dark, .btn-dark:hover {
  color: #fff;
  background: #000;
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0257d5;
    color: #000;
}

form {
    padding-bottom: 2rem;
}

.form-control {
    margin-right: .50rem;
}

/* Footer */

.footer {
  border-top: 1px solid #f1f1f1;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  padding-top: 50px;
}

.footer a, .footer a:visited, .footer a:hover, .footer {
  color: #000;
}

/* Cards */

.wrimagecard {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
  background: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.wrimagecard .fa {
  position: relative;
  font-size: 70px;
}

.wrimagecard-topimage_header {
  background: #f1f1f1;
  padding: 20px;
}

.wrimagecard-topimage a {
  width: 100%;
  height: 100%;
  display: block;
}

.wrimagecard-topimage_title {
  padding: 20px 24px;
  height: 80px;
  padding-bottom: 0.75rem;
  position: relative;
}

.wrimagecard-topimage a {
  border-bottom: none;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

/* bootstrap style utility classes */
.py-20 {
  padding: 20px 0;
}


/* fix bootstrap nav */
li.active ul.nav.bd-sidenav {
  display: block;
}


.text-primary {
  color: #212527 !important;
}


.alpha-footer {
	background: rgb(241,241,241);
	background: linear-gradient(180deg, rgba(241,241,241,1) 30%, rgba(255,255,255,1) 100%);
	border-top: 0;

}

.alpha-footer .container .list-group {
    padding-left: 0;
	margin-left: -.75rem;
	padding-bottom: .75rem;
}


ul .alpha-footer {
    background: transparent;
}

li.list-group-item.alpha-footer {
		border-bottom: 0;
	    border-top: 0;
}

.list-group-item-action:focus { 
    outline: 2px solid #0257d5; 
	box-shadow: 0 0 0 0.2rem #fff;
}

li.list-group-item.alpha-footer {
    padding-left: .75rem;
}


/*----- Alerts -----*/

.alert-warning {
	color: #000;
    background-color: #fffbf0;
    border: 0;
    border-left: 4px solid #ffc107;
    border-radius: 0;
    font-family: "Public Sans Bold", sans-serif;
}

.bd-callout-warning {
    border-left-color: #ffc107;
    border-radius: 0;
}

.alert-primary {
    color: #ffffff;
    background-color: #0f1e6b;
    border-color: #f1f1f1;
}



/* fix bootstrap nav */
li.active ul.nav.bd-sidenav {
  display: block;
}



/*----- from State Holidays Page -----*/


    .display-4,
    .display-3,
    .display-4,
    .display-5,
    .display-6 {
      font-family: 'Public Sans Bold', sans-serif;
    }

    .display-5 {
      font-size: 1.5rem;
    }

    .display-6 {
      font-size: 1.2rem;
    }

    .display-6.alert {
      padding: .2rem 1.25rem;
    }


    .mb-20 {
      margin-bottom: 20px;
    }



  /* --------- from Min Wage Page -------*/
.py-20 {
  padding: 20px 0;
}

  /* --------- from Min Wage Page -------*/
.py-20 {
  padding: 20px 0;
}

.lead, li.lead {
  font-weight: 400;
  font-size: 1.4rem;
}
	  
/* minimum wage override */
.wage-city-search label {
  justify-content: left;
}

label {
    padding-bottom: .75rem;
}

/* Food Banks Map Fix */
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    background-color: #fff;
}

/* have to put this in there for the image to load */
.nerf {
  background-image: url('../img/marker.png');
}


.mb-20 {
  margin-bottom: 20px;
}

   .card {
      margin-bottom: 20px;
    }
    .card-set .card {
      min-width: 200px;
      float: left;
    }
    .card-set {
      grid-gap: 20px;
    }


    .byline {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    figure {
      margin-bottom: 10px;
    }
    figcaption {
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px;
      padding-bottom: 10px;
      padding-top: 10px;
    }


a.list-group-item.list-group-item-action.lead {
    text-decoration: underline;
	color: #004abc;
}


li .list-group-item.inner-list:focus-within {
    outline: none;
}

li.list-group-item.unstyled.no-border {
    outline: none;
}

li .action-link:focus-within {
    outline: 2px solid #004abc;
}

.feedback {
	margin-top: 2rem;
}



/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

  .official p {
    padding: 3px 0 3px 60px;
  }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

.alphabar {
	font-size: .7em;
}

.alpha-footer {
	padding-left: 20px;
	padding-top: 1rem;
}
	
li.list-group-item.alpha-footer {
    padding-bottom: 1rem;
    padding-top: .5rem;
}

.one-column-fix {
	margin-top: -2px;
}
	
.card-body {
     padding: 5px;
}
	
.list-group {
     margin-left: -.6rem;
}
	
cwds-step-list li .step-interior {
    padding-left: 20px;

}
	
}