/* Step by Step List expandable classes */

cwds-step-list li .details {
  height: 0px;
  overflow: hidden;
  transition: height .3s;
}
cwds-step-list li.list-group-item.unstyled.list-group-item-action {
  	cursor: pointer;
	border-left: solid #e8e8e8;
    border-left-width: 4px;
	margin-left: 10px;
}

cwds-step-list li.list-group-item.unstyled.list-group-item-action.list-open {
    border-left: solid #004abc;
    border-left-width: 4px;
}

cwds-step-list li.list-open .list-number {
    border-style: solid;
    border-radius: 50%;
    border-color: #000;
    text-align: center;
	font-weight: 500 !important;
	text-indent: 0;
}

cwds-step-list li .step-interior {
	padding-left: 40px;
	padding-left: 32px;
    padding-top: 1rem;
	display: block;
	font-size: initial;
	padding-bottom: 20px;
}

cwds-step-list li .unstyled {
	
	border-left-width: 0!important;
    border: none!important;
	list-style-type: none;
}

	  
.show {
    float: right;
    font-size: 15px;
    color: #004abc;
    text-decoration: underline;
}
	  
.hide {
    float: right;
    font-size: 15px;
    color: #004abc;
    text-decoration: underline;
}
	  
cwds-step-list li .hide {
    display: none;
}
	  
cwds-step-list li.list-group-item.list-open > div > span.hide {
    display: none;
}

	  
cwds-step-list li.list-open .show {
    display: none;
}
	  
cwds-step-list li.list-open .hide {
    display: block;
}

cwds-step-list button.step-description {
    background: transparent;
    border: none;
    text-indent: -50px;
    padding-left: 45px;
}
	  
.step-list-and-or {	  
	border-radius: 0!important;
    width: min-content!important;
    padding: 0px 5px;
	min-width: 50px;
}	 
	  
ul > span.nested-and-or {
    border-left: #ccc solid 4px;
    padding: 5px;
    line-height: 2rem;
	font-size: 1.3rem;
}	  

.and-or {
	border-left: #ccc solid 4px;
    padding: 5px;
    line-height: 2rem;
    font-size: 1.3rem;
    margin: 10px;
    display: block;
}
	  
cwds-step-list li .unstyled {
	
    border-left-width: 0!important;
    width: fit-content;
    list-style-type: none;
	background: none;
}
	  
	   	  
.list-group-item-action {
    color: #1e1f1f;
}
	  
.list-group-item-action:active :hover {
    color: #000;
}
	  .list-group-item-action:hover {
    color: #000;
}


.list-group input[type="checkbox"] {
  margin-right: 8px;
}

.checkbox {
	vertical-align: text-top;
	margin-top: 5px;
}	 
	  
.list-group-item.active {
    background-color: #e5e8e4;
    border-color: #e5e8e4;
	color: #000;
}

.list-group-item.active {
    background-color: #efefef;
    border-color: #efefef;
	color: #000;
}
	  
.list-group-item1 {    
	background-color: #005279;
    border-color: #005279;
}
	  
.list-group-item.active > a  {
    color: #073984;
}

   
ul > li.list-group-item.and-or-lead.list-open {
   border-bottom-width: 0!important;
}

.inner-list {
	border: none!important;
	display: list-item;
    list-style-type: disc;
    background: none;
	border-width: 0;
	padding-left: 0;
	border-left: none!important;
	margin-left: 30px!important;
}

cwds-step-list li.list-group-item:focus-within {
    outline: 2px solid #0257d5;
    z-index: 10;  
	background: rgba(215, 230, 252, 0.2);  
}

cwds-step-list li .step-interior {
	padding-top:0;
	padding-right: 10%;
}

.cwds-step-list {
	margin-bottom: 3rem;
	margin-bottom: 3rem;
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 


cwds-step-list li .step-interior {
    padding-left: 0;
    padding-top: 1rem;
}

}

	
	  
	   