<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <meta name="description" content="Follow these suggested steps to make home improvements the safe way and protect your home and your money.">
    <%= require('html-loader!../../partials/meta-common.html') %>
    <%= require('html-loader!../../partials/favicons.html') %>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Hire a licensed contractor for home improvements - Alpha.CA.gov">
    <meta property="og:description" content="Follow these suggested steps to make home improvements the safe way and protect your home and your money.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
    <title>Hire a licensed contractor for home improvements - Alpha.CA.gov</title>
</head>

<body>
    <header>
        <%= require('html-loader!../../partials/official.html') %>
        <%= require('html-loader!../../partials/experiment-banner.html') %>
        <%= require('html-loader!../../partials/navbar.html') %>
    </header>
			
<main>
    <div class="container-fluid jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Hire a licensed contractor for home improvements</h1>
		    <p class="lead">Follow these suggested steps to make home improvements the safe way and protect your home and your money.</p>
                </div>
            </div>
        </div>
    </div>
 

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <cwds-step-list>
		<a href="#" class="show-all">Show all</a>
        <a href="#" class="show-all d-none">Hide all</a>
          <ul class="list-group list-group-flush">
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step one">1</span>Decide what type of contractor you need
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details">
				  <span class="step-interior">
					  <br>
					  <p><strong>General Engineering Contractors</strong> and <strong>General Building Contractors</strong> usually manage subcontractors for a job.</p><p><strong>Specialty Contractors</strong> are often hired to do a single job, such as roofing or plumbing.</p>

					  <a class="action-link" href="http://cslb.ca.gov/About_Us/Library/Licensing_Classifications/">Choose the type of contractor you need</a>
					  
                	</span>
				</div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step two">2</span>Check if you need a building permit
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>You must get a building permit from your local building department for new construction, remodeling, or repairs.</p>
                  <a class="action-link" href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Building_Permit_Requirements.aspx">Check with your local building department</a>
                </span>
              </div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step three">3</span> Find at least three licensed contractors
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <ul class="inner-list">
                    <li>Ask friends and family for contractors they’d recommend.</li>
                    <li>Search online and read reviews, but consider the source.</li>
                    <li>For repairs, your homeowners insurance might cover the cost and suggest contractors for you.</li>
                  </ul>
                  <br>
                  <a class="action-link" href="http://cslb.ca.gov/OnlineServices/CheckLicenseII/ZipCodeSearch.aspx">Find licensed contractors in your city</a>
                </span><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step four">4</span> Look up their licenses
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior"><br>
                  <p>Contractors must have a license to do work that costs $500 or more.</p>

                  <p>To look up their licenses, you could:</p>
                  
                    <p>Call (800) 321-2752</p>
				    <span class="and-or">[global-lang-or-lower]</span>

                    <a class="action-link" href="https://www.cslb.ca.gov/OnlineServices/CheckLicenseII/CheckLicense.aspx">Check your contractors’ licenses online</a>
                
                </span><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step five">5</span> Get at least three price estimates in writing
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior"><br>
                <p>Compare your contractors’ costs for the same project.</p>
                <p>Beware of a price estimate that’s much lower than the others. They may do the job with cheap materials or poor quality of work.</p>
                </span></div>
            </li>
            <li class="list-group-item and-or-lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step six">6</span>Ask your contractor to share their insurance
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>You might be held responsible for workers’ injuries if your contractor doesn’t have the right insurance.</p>
                  <p>Ask them to share the name of their insurance carrier or copies of both their:</p>

                  <ul class="inner-list">
                    <li>Workers’ compensation insurance</li>
                    <li>General liability insurance</li>
                  </ul>
                  <br>
                  <p>Your homeowners insurance may or may not cover the costs of injuries. But your insurance provider should be able to help you check your contractor’s insurance.</p>
                </span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number step-list-and-or">[global-lang-and-lower]</span>Confirm their contact information
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>Make sure your contractor has a current business address and phone number. If their work needs repair, you’ll want to be able to find them after you’ve paid the last bill.</p>
                </span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step seven">7</span>Contact their references
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <p>Ask your contractor for the contact information of their former customers.</p>
                  <p>Then, ask those customers if they were happy with your contractor’s project. And ask to see pictures, if possible. This will help you understand the quality of your contractor’s work.</p>
                </span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step eight">8</span>Ask to see your contractor’s pocket license
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>When your contractor comes to your house, ask to see a copy of their pocket license. Compare it to their driver’s license or other photo ID.</p>
                  <p>This helps you to be extra sure that your contractor is the right person.</p>
                </span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step nine">9</span>Sign a contract
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>A good contract includes how and when the work will be done, the materials used, and the total cost. It will protect you if you have a disagreement with your contractor.</p>
                  <a class="action-link" href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Contracts_And_Binding_Agreements.aspx">What to look for in your contract</a>
                </span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number" aria-label="step ten">10</span>Pay no more than $1,000 or 10 percent down, whichever is less
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>By law, a contractor can’t charge you a downpayment of more than $1,000 or 10 percent of your total, whichever is less.</p>
                  <p>And to protect your money, never pay in cash.</p>
                </span></div>
            </li>
          </ul>
        </cwds-step-list>

      </div>
   </div>
</div>
</main>
    <footer>
        <%= require('html-loader!../../partials/feedback.html') %>
        <%= require('html-loader!../../partials/footer.html') %>
        <%= require('html-loader!../../partials/alphabar.html') %>
        <%= require('html-loader!../../partials/ga.html') %>
    </footer>
    <%= require('html-loader!../../js/es6/js.html') %>
</body>

</html>
