<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Follow these suggested steps to make home improvements the safe way and protect your home and your money.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="/img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Hire a licensed contractor for home improvements - Alpha.CA.gov">
  <meta property="og:description" content="Follow these suggested steps to make home improvements the safe way and protect your home and your money.
  ">
  <meta property="og:url" content="https://alpha.ca.gov/services/minimum-wage-in-california/">

  <link rel="canonical" href="https://alpha.ca.gov/services/minimum-wage-in-california/" />
  <title>Hire a licensed contractor for home improvements - Alpha.CA.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

  <%= require('html-loader!../../partials/official.html') %>
  <%= require('html-loader!../../partials/experiment-banner.html') %>
  <%= require('html-loader!../../partials/navbar.html') %>


  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Hire a licensed contractor for home improvements</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>Steps to hire a licensed contractor</h2>
        <p>Follow these suggested steps to make home improvements the safe way and protect your home and your money.</p>
        <cwds-step-list>
          <ul class="list-group list-group-flush">
            <li class="list-group-item lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">1</span>
                <span class="bold">Decide what type of contractor you need</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p><strong>General Engineering Contractors</strong> and <strong>General Building Contractors</strong>
                    usually manage subcontractors for a job.</p>

                  <p><strong>Specialty Contractors</strong> are often hired to do a single job, such as roofing or
                    plumbing.</p>

                  <p><a href="http://cslb.ca.gov/About_Us/Library/Licensing_Classifications/">Choose the type of
                      contractor you need</a></p>

                  <br>

                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">2</span>
                <span class="bold">Check if you need a building permit</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>You must get a building permit from your local building department for new construction,
                    remodeling, or repairs.</p>
                  <a href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Building_Permit_Requirements.aspx">Check
                    with your local building department</a>
                </span>
              </div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">3</span>
                <span class="bold">Find at least three licensed contractors</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item inner-list">Ask friends and family for contractors they'd recommend.</li>
                    <li class="list-group-item inner-list">Search online and read reviews, but consider the source.</li>
                    <li class="list-group-item inner-list">For repairs, your homeowners insurance might cover the cost
                      and
                      suggest contractors for you. </li>
                  </ul>
                  <br>
                  <p><a href="http://cslb.ca.gov/OnlineServices/CheckLicenseII/ZipCodeSearch.aspx">Find licensed
                      contractors in your city</a></p>
                </span><span class="show">Show</span><span class="hide">Hide</span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">4</span>
                <span class="bold">Look up their licenses</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior"><br>
                  <p>Contractors must have a license to do work that costs $500 or more.</p>

                  <p>To look up their licenses, you could:</p>
                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item unstyled no-border">Call (800) 321-2752 <br><span
                        class="nested-and-or">OR</span></li>

                    <li class="list-group-item unstyled no-border"><a
                        href="https://www.cslb.ca.gov/OnlineServices/CheckLicenseII/CheckLicense.aspx">Check your
                        contractors' licenses online</a></li>
                  </ul>
                </span><span class="show">Show</span><span class="hide">Hide</span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">5</span>
                <span class="bold">Get at least three price estimates in writing</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior"><br>
                  <p>Compare your contractors' costs for the same project.</p>

                  <p>Beware of a price estimate that's much lower than the others. They may do the job with cheap
                    materials or poor quality of work.</p>
                </span></div>
            </li>
            <li class="list-group-item and-or-lead lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">6</span>
                <span class="bold">Ask your contractor to share their insurance</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>You might be held responsible for workers' injuries if your contractor doesn't have the right
                    insurance.</p>
                  <p>Ask them to share the name of their insurance carrier or copies of both their:</p>

                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item inner-list">Workers' compensation insurance</li>
                    <li class="list-group-item inner-list">General liability insurance</li>
                  </ul>
                  <br>
                  <p>Your homeowners insurance may or may not cover the costs of injuries. But your insurance provider
                    should be able to help you check your contractor's insurance.</p>
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number step-list-and-or">and</span>
                <span class="bold">Confirm their contact information</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>Make sure your contractor has a current business address and phone number. If their work needs
                    repair, you'll want to be able to find them after you've paid the last bill.</p>

                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">7</span>
                <span class="bold">Contact their references</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>Ask your contractor for the contact information of their former customers.</p>

                  <p>Then, ask those customers if they were happy with your contractor's project. And ask to see
                    pictures, if possible. This will help you understand the quality of your contractor's work.</p>

                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">8</span>
                <span class="bold">Ask to see your contractor's pocket license</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>

                  <p>When your contractor comes to your house, ask to see a copy of their pocket license. Compare it to
                    their driver's license or other photo ID.</p>
                  <p>This helps you to be extra sure that your contractor is the right person.</p>
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">9</span>
                <span class="bold">Sign a contract</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>A good contract includes how and when the work will be done, the materials used, and the total
                    cost. It will protect you if you have a disagreement with your contractor.</p>
                  <p><a
                      href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Contracts_And_Binding_Agreements.aspx">What
                      to look for in your contract</a></p>
                </span></div>
            </li>
            <li class="list-group-item lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">10</span>
                <span class="bold">Pay no more than $1,000 or 10 percent down, whichever is less</span>
              </button><span class="show">Show</span><span class="hide">Hide</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>By law, a contractor can't charge you a downpayment of more than $1,000 or 10 percent of your
                    total, whichever is less.</p>
                  <p>And to protect your money, never pay in cash.</p>
                </span></div>
            </li>
          </ul>
        </cwds-step-list>

      </div>

    </div>
  </div>

  <%= require('html-loader!../../partials/feedback.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>