<div class="footer alpha-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-0 pl-0">
        <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
          <li class="list-group-item alpha-footer border-0">Estado de California</li>
          <li class="list-group-item alpha-footer"><a href="/es/about/">Acerca de</a></li>
          <li class="list-group-item alpha-footer"><a href="/es/feedback/">Comentarios</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
