<div class="footer alpha-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-0 pl-0">
        <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
			<li class="list-group-item alpha-footer border-0">Estado de California</li>
          <a href="/es/about/">
            <li class="list-group-item alpha-footer">Acerca de</li>
          </a>
          <a href="/es/feedback/">
            <li class="list-group-item alpha-footer">Comentarios</li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
