<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta
      name="description"
      content="Search for shelters in every California county."
    />
    <%= require('html-loader!../../partials/meta-common.html') %> <%=
    require('html-loader!../../partials/favicons.html') %>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="630" />
    <meta property="og:title" content="Find shelters near you - Alpha.CA.gov" />
    <meta
      property="og:description"
      content="Search for shelters in every California county."
    />
    <meta property="og:url" content="[code-url]" />
    <link rel="canonical" href="[code-url]" />
    <title>Find shelters near you - Alpha.CA.gov</title>
  </head>

  <body>
    <header>
      <%= require('html-loader!../../partials/official.html') %> <%=
      require('html-loader!../../partials/experiment-banner.html') %> <%=
      require('html-loader!../../partials/navbar.html') %>
    </header>
    <main>
      <div class="container-fluid jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Find shelters near you</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="lead">
              Search for temporary housing, disaster relief shelters, and
              homeless shelters near you.
            </p>
            <form class="form-inline js-lookup">
              <div class="form-group">
                <div>
                  <label for="city-input">
                    Please enter your address, city, or zip code:
                  </label>
                </div>
                <div>
                  <input
                    type="text"
                    class="form-control city-search"
                    id="city-input"
                    data-multiple
                  />
                  <button class="btn btn-primary" type="submit">
                    Find shelters
                  </button>
                </div>
                <div class="invalid-feedback">
                  Please enter a city or zip code in California.
                </div>
              </div>
            </form>
            <div class="js-location-display d-none">
              <h2>Shelters near <span class="data-match"></span></h2>
              <p>
                This tool is a work in progress. We plan to add more shelters
                and check that these details are correct.
              </p>
            </div>
            <div>
              <ul
                class="pl-0 card-set js-nearest-results"
                aria-live="polite"
              ></ul>
            </div>
          </div>
        </div>
      </div>

      <template id="result-template">
        <li class="card mb-20 border-0">
          <div class="card-body bg-light">
            <p><span class="data-distance"></span> miles away</p>

            <h3 class="data-name">name of shelter</h3>
            <p>
              <span class="data-address"></span>
            </p>
            <p>
              <a class="data-phone"></a>
            </p>
            <p class="data-description"></p>
            <p>
              <a class="data-more">More Info</a>
            </p>
            <p>
              <a class="data-map-google">
                <a class="data-map-apple action-link">
                  Get directions
                </a>
              </a>
            </p>
          </div>
        </li>
      </template>

      <div class="container d-none" id="div-fail">
        <div class="row">
          <div class="col-lg-9">
            <p>No matching results</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <%= require('html-loader!../../partials/feedback.html') %> <%=
      require('html-loader!../../partials/footer.html') %>
      <%= require('html-loader!../../partials/alphabar.html') %> <%=
      require('html-loader!../../partials/ga.html') %>
    </footer>
  </body>
</html>
