<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="We'll help you find the food banks and pantries closest to you.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="/img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Find food banks near you - Alpha.CA.gov">
  <meta property="og:description" content="We'll help you find the California food banks and pantries closest to you.">
  <meta property="og:url" content="https://alpha.ca.gov/services/find-food-banks-near-you/">

  <link rel="canonical" href="https://alpha.ca.gov/services/find-food-banks-near-you/" />
  <title>Find food banks near you - Alpha.CA.gov</title>
   
</head>

<body>

<%= require('html-loader!../../partials/official.html') %>
<%= require('html-loader!../../partials/experiment-banner.html') %>
<%= require('html-loader!../../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Find food banks near you</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <p>We'll help you find the food banks and pantries closest to you.</p>

        <div class="form-group">
          <form class="form-inline mb-20 js-food-lookup">
            <label for="city-input" class="mr-10">Please enter your city or zip code:</label>
            <input type="text" class="form-control city-search" id="city-input" data-multiple>
            <button type="submit" class="btn btn-primary ml-10">Search</button>
            <div class="invalid-feedback">Please enter a city or zip code in California.</div>
          </form>
        </div>
        <div class="js-location-display"></div>
        <div class="js-nearest-results"></div>

        <div id="mapid" class="mv-20"></div>

        <h2>Other resources</h2>
        <h3>Text us to find food close to you</h3>

        <div class="alert alert-secondary">
          <p>Text us anytime at <a href="tel:1-415-630-4521" class="lead">(415) 630-4521</a> with your city name or zip code.</p>
          <p> We'll respond with the food bank closest to you.</p>
        </div>

        <h3>Call 211 with your questions</h3>

        <div class="alert alert-secondary">
          <p class="lead bold">Phone number:  <a href="tel:211">211</a>
            <br>Hours: 24 hours a day, every day of the year</p>
          <p><a href="http://211.org">211.org</a> is a source of local social services throughout the United States. A trained expert can help you find many resources, including:</p>
          <ul>
            <li>food programs</li>
            <li>shelter and housing</li>
            <li>emergency information</li>
            <li>help with your job search</li>
            <li>healthcare and shots</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%= require('html-loader!../../partials/feedback.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <script nomodule src="/js/es5Food.js?cache=false" ></script>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>
