<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="[lang-meta-description]">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="/img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="[lang-meta-og-title]">
  <meta property="og:description" content="[lang-meta-og-description]">
  <meta property="og:url" content="https://alpha.ca.gov/services/minimum-wage-in-california/">

  <link rel="canonical" href="https://alpha.ca.gov/services/minimum-wage-in-california/" />
  <title>[lang-title]</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>

<%= require('html-loader!../../partials/official.html') %>
<%= require('html-loader!../../partials/experiment-banner.html') %>
<%= require('html-loader!../../partials/navbar.html') %>

  <div class="jumbotron text-left">
    <div class="container">
      <h1>[lang-h1]</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-10">


        <form class="form-inline">
          <div class="form-group wage-city-search">
            <label for="location-query">[lang-form-label]</label><br>
            <input type="text" class="city-search form-control mr-3 mb-3" data-multiple id="location-query" aria-controls="submit-form" />
            <div class="invalid-feedback">[lang-form-label-feedback]</div>
			  <button id="submit-form" type="submit" class="btn btn-primary js-wage-lookup mb-3">[lang-form-button]</button>
          </div>
          
        </form>
        <p></p>
        <div id="answer"></div>
        <p></p>
        <h2>[lang-h2]</h2>
        <p>[lang-h2-p]</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">[lang-table-header-a]</th>
              <th scope="col">[lang-table-header-b]</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[lang-table-a1]</td>
              <td>[lang-table-b1]</td>
            </tr>
          </tbody>
        </table>
        
        <h3>[lang-h3]</h3>
        <p>[lang-h3-p-1]</p>
        <div class="display-wage-by-city"></div>
      </div>
		<div class="col-md-12 mt-5">
				<hr>
				<p>* [lang-h3-p-2a] <a href="https://www.dir.ca.gov/dlse/faq_minimumwage.htm">[lang-h3-p-2b]</a>.</p>
				<p></p>
			  </div>
    </div>

  </div>
	  
	  

  <%= require('html-loader!../../partials/feedback.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <script nomodule src="/js/es5Minwage.js?cache=false" ></script>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>
