<!doctype html>
<html lang="en">

<head>
  <meta name="description" content="[lang-meta-description]">
  <%= require('html-loader!../../partials/meta-common.html') %>
  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="/img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="[lang-meta-og-title]">
  <meta property="og:description" content="[lang-meta-og-description]">
  <meta property="og:url" content="https://alpha.ca.gov/services/minimum-wage-in-california/">

  <link rel="canonical" href="https://alpha.ca.gov/services/minimum-wage-in-california/" />
  <title>[lang-title]</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>
<header>
<%= require('html-loader!../../partials/official.html') %>
<%= require('html-loader!../../partials/experiment-banner.html') %>
<%= require('html-loader!../../partials/navbar.html') %>
</header>
<main>
  <div class="jumbotron text-left">
    <div class="container">
      <h1>[lang-h1]</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-10">


        <form class="form-inline">
          <div class="form-group wage-city-search">
            <label for="location-query">[lang-form-label]</label>
            <input type="text" class="city-search form-control" data-multiple id="location-query" aria-controls="submit-form" />
            <div class="invalid-feedback">[lang-form-label-feedback]</div>
			  <button id="submit-form" type="submit" class="btn btn-primary js-wage-lookup">[lang-form-button]</button>
          </div>
		  </form>
        <div id="answer"></div>
        <h2>[lang-h2]</h2>
        <p>[lang-h2-p]</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">[lang-table-header-a]</th>
              <th scope="col">[lang-table-header-b]</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[lang-table-a1]</td>
              <td>[lang-table-b1]</td>
            </tr>
          </tbody>
        </table>
        
        <h3>[lang-h3]</h3>
        <p>[lang-h3-p-1]</p>
        <div class="display-wage-by-city"></div>
		  

				
      </div>

    </div>
  </div>	  
</main>	
<footer>
  <%= require('html-loader!../../partials/feedback.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <script nomodule src="/js/es5Minwage.js?cache=false" ></script>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>
</footer>
</body>

</html>
