<!doctype html>
<html lang="en" xml:lang="en">
<head>
  <!-- [html-validate-disable heading-level] -->
  <!-- [html-validate-disable no-inline-style] -->
  <!-- [html-validate-disable no-style-tag] -->
  <meta charset="utf-8">
  <meta name="description" content="Alpha.CA.gov news.">
  <title>News - Alpha.CA.gov</title>

  <link rel="canonical" href="http://cwds.dev/docs/4.3/templates/all-news/">
  <%= require('html-loader!../partials/meta-common.html') %>
  <%= require('html-loader!../partials/favicons.html') %>

  <style>
    .card {
      margin-bottom: 20px;
    }
    .card-set {
      grid-gap: 20px;
    }
  </style>

</head>

<body>
  <%= require('html-loader!../partials/official.html') %>
  <%= require('html-loader!../partials/experiment-banner.html') %>
  <%= require('html-loader!../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>News</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-deckc ard-set row">



        <div class="card col-sm">
          <a href="/alpha-ca-gov-product-framing/"><img src="https://cagov.github.io/news/img/product-framing.jpeg" class="card-img-top" alt="Alpha.CA.gov product framing"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/alpha-ca-gov-product-framing/">Alpha.CA.gov product framing</a></h5>
            <p class="card-text">01/08/2020</p>
            <p class="card-text">Product framing helps our team think about and focus on the problem we’re here to solve.</p>
            <!--<a href="/alpha-ca-gov-product-framing/" class="btn btn-primary">View</a>-->
          </div>
        </div>
      
        <div class="card col-sm">
          <a href="/done-doing-dec-30-jan-5/"><img src="https://cagov.github.io/news/img/done-doing.jpeg" class="card-img-top" alt="Done/doing Week of Dec 30"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/done-doing-dec-30-jan-5/">Done/doing Week of Dec 30</a></h5>
            <p class="card-text">01/06/2020</p>
            <p class="card-text">Done/doing is a recap of what we’ve done this week and what we have in our sprint plan for the week ahead. While many of us were out for the holidays, a lot of work was still getting done. This post covers the week of December 30-January 5.</p>
            <!--<a href="/done-doing-dec-30-jan-5/" class="btn btn-primary">View</a>-->
          </div>
        </div>
      
        <div class="card col-sm">
          <a href="/done-doing-dec-16-dec-22/"><img src="https://cagov.github.io/news/img/done-doing.jpeg" class="card-img-top" alt="Done/Doing — Dec 16-Dec 22"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/done-doing-dec-16-dec-22/">Done/Doing — Dec 16-Dec 22</a></h5>
            <p class="card-text">12/20/2019</p>
            <p class="card-text">Done/doing is a recap of what we’ve done this week and what we have in our sprint plan for the week ahead. This post covers the week of December 16–22.</p>
            <!--<a href="/done-doing-dec-16-dec-22/" class="btn btn-primary">View</a>-->
          </div>
        </div>
      
        <div class="card col-sm">
          <a href="/alpha-ca-gov-design-principles/"><img src="https://cagov.github.io/news/img/design-principles.png" class="card-img-top" alt="Our design principles"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/alpha-ca-gov-design-principles/">Our design principles</a></h5>
            <p class="card-text">12/19/2019</p>
            <p class="card-text">Design principles help teams and stakeholders to align on design vision and decision-making.</p>
            <!--<a href="/alpha-ca-gov-design-principles/" class="btn btn-primary">View</a>-->
          </div>
        </div>
      
        <div class="card col-sm">
          <a href="/alpha-ca-gov-operational-principles/"><img src="https://cagov.github.io/news/img/operational-principles.png" class="card-img-top" alt="This is how we work"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/alpha-ca-gov-operational-principles/">This is how we work</a></h5>
            <p class="card-text">12/19/2019</p>
            <p class="card-text">Our operational principles guide how our team works.</p>
            <!--<a href="/alpha-ca-gov-operational-principles/" class="btn btn-primary">View</a>-->
          </div>
        </div>
     
        <div class="card col-sm">
          <a href="/done-doing-dec-9-dec-13/"><img src="https://cagov.github.io/news/img/done-doing.jpeg" class="card-img-top" alt="Done/Doing — Dec 9-Dec 13"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/done-doing-dec-9-dec-13/">Done/Doing — Dec 9-Dec 13</a></h5>
            <p class="card-text">12/13/2019</p>
            <p class="card-text">Done/Doing is a recap of what Team Alpha has done this week and what we have in our sprint plan for the week ahead. This post is the first in what will be a weekly series delivered every Friday.</p>
            <!--<a href="/done-doing-dec-9-dec-13/" class="btn btn-primary">View</a>-->
          </div>
        </div>
     
        <div class="card col-sm">
          <a href="/and-were-in-progress/"><img src="https://cagov.github.io/news/img/hello-california.png" class="card-img-top" alt="And ... we’re in progress"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/and-were-in-progress/">And ... we’re in progress</a></h5>
            <p class="card-text">12/11/2019</p>
            <p class="card-text">We’re reimagining CA.gov with and for the people of California.</p>
            <!--<a href="/and-were-in-progress/" class="btn btn-primary">View</a>-->
          </div>
        </div>
     
        <div class="card col-sm">
          <a href="/introducing-the-ca-gov-alpha-team/"><img src="https://cagov.github.io/news/img/alpha-team.jpeg" class="card-img-top" alt="Introducing the CA.gov Alpha Team"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/introducing-the-ca-gov-alpha-team/">Introducing the CA.gov Alpha Team</a></h5>
            <p class="card-text">12/06/2019</p>
            <p class="card-text">Our new team has a big job. We’re working to make it easier for Californians to access, understand and use digital information and services.</p>
            <!--<a href="/introducing-the-ca-gov-alpha-team/" class="btn btn-primary">View</a>-->
          </div>
        </div>
    
        <div class="card col-sm">
          <a href="/re-imagining-ca-gov-how-can-california-government-better-serve-its-people/"><img src="https://cagov.github.io/news/img/how-might-we.jpeg" class="card-img-top" alt="Re-imagining CA.gov How Can California Government Better Serve its People?"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/re-imagining-ca-gov-how-can-california-government-better-serve-its-people/">Re-imagining CA.gov How Can California Government Better Serve its People?</a></h5>
            <p class="card-text">10/31/2019</p>
            <p class="card-text">Over the last decade, governments around the world have started asking themselves, &#39;How can we use digital to better serve our people?&#39;</p>
            <!--<a href="/re-imagining-ca-gov-how-can-california-government-better-serve-its-people/" class="btn btn-primary">View</a>-->
          </div>
        </div>
      </div>
   </div>
   
   <div class="geocoder">
     <div class="mapboxgl-ctrl-geocoder"></div>
   </div>
  
  <div>Road conditions for your trip</div>
  <div>Get directions</div>
  <div>Road condition</div>
  <div>Description</div>
  <div>Landmark</div>
  <div>Sorry, we can only show road conditions in California. Please enter a California location.</div>
  <div>Sorry, we can’t find that location. Please enter a valid location in California.</div>
	  <!--
      <div class="col-md-12 mt-5 ">
        <nav aria-label="Page navigation example ">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    -->


  <%= require('html-loader!../partials/feedback.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <script nomodule src="/js/es5Food.js?cache=false" ></script>
  <%= require('html-loader!../partials/alphabar.html') %>
  <%= require('html-loader!../partials/ga.html') %>
  <%= require('html-loader!../js/es6/js.html') %>
</body>

</html>