<!doctype html>
<html lang="en">
<head>
  <!-- [html-validate-disable heading-level] -->
  <!-- [html-validate-disable no-inline-style] -->
  <!-- [html-validate-disable no-style-tag] -->
  <meta charset="utf-8">
  <meta name="description" content="Alpha.CA.gov news.">
  <title>News - Alpha.CA.gov</title>

  <link rel="canonical" href="http://cwds.dev/docs/4.3/templates/all-news/">
  <%= require('html-loader!../partials/meta-common.html') %>
  <%= require('html-loader!../partials/favicons.html') %>

  <style>
    .card {
      margin-bottom: 20px;
    }
  </style>

</head>

<body class="news">
  <%= require('html-loader!../partials/official.html') %>
  <%= require('html-loader!../partials/experiment-banner.html') %>
  <%= require('html-loader!../partials/navbar.html') %>



  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 pt-5">
        <h1>Our design principles</h1>

        <p class="lead">
          Creating a shared understanding
        </p>
        <p class="byline">By JP Petrucione &middot; 12/19/2019</p>

      
          
<figure class="figure">
  <img src="../img/design-principles.png" class="" alt="Alpha.CA.gov design principles">
  <figcaption class="figure-caption">Alpha.CA.gov design principles</figcaption>
</figure>

<p>Design principles help teams and stakeholders to align on design vision and decision-making.</p>

<p>They give us a shared understanding to help us prioritize our next steps.</p>

<p>For our design principles, we are once again, leveraging the proven work and best practices of teams like 18F and the UK Government Digital Services. As our starting point, we’re adopting and iterating on the <a href="https://www.gov.uk/guidance/government-design-principles#start-with-user-needs">design principles created by GDS</a>.</p>

<p>The Alpha.CA.gov design principles include:</p>

<ul>
	<li>Start with user needs</li>
	<li>Do less</li>
	<li>Design with data, research, intuition, and experimentation (We added “research, intuition and experimentation” for a few reasons. Data doesn’t always tell the whole story. We also need user research, experimentation and, yes, our own intuition as users and Californians to inform design.)</li>
	<li>Do the hard work to make it simple and elegant</li>
	<li>Iterate — then iterate again</li>
	<li>Make it accessible and inclusive (UK.GOV went with “This is for everyone.” We adapted it to make it more explicit and reflect California.)</li>
	<li>Understand context</li>
	<li>Build digital services, not websites</li>
	<li>Be consistent but not uniform</li>
	<li>Make things open: It makes things better</li>
	<li>Prioritize security, respect privacy (Something new we added to the list. A recognition of how incredibly important both security and privacy are.)</li>
	<li>Optimize performance (Another new one. Slow load times cost people money. That’s an accessibility and equity issue.)</li>
</ul>

<p>These principles will inform our product design. And we’ll continue to iterate and refine them as we learn by doing.</p>

<h2>Resources</h2>

<ul>
	<li><a href="https://www.gov.uk/guidance/government-design-principles">Government Design Principles</a> (GOV.UK)</li>
    <li><a href="https://methods.18f.gov/decide/design-principles/">How We Work</a> (18F)</li>
</ul>

        

      <div class="alert alert-secondary" role="alert">
        <p>Follow the Alpha.CA.gov project on <a href="https://twitter.com/cadotgov">Twitter</a> and <a href="https://github.com/cagov/">GitHub</a>.</p>
      </div>
		  
	    		<div class="col-md-12 mt-5">
				<hr>
				<p><a href="/news/">Go back to News home</a></p>
				<p></p>
			  </div>
      </div>
		
    </div>
 <%= require('html-loader!../partials/feedback.html') %>
  </div>

  <script src="https://cwds.dev/docs/cali/js/accordion/index.js" defer async></script>



  <%= require('html-loader!../partials/footer.html') %>
  <script nomodule src="/js/es5Food.js?cache=false" ></script>
  <%= require('html-loader!../partials/alphabar.html') %>
  <%= require('html-loader!../partials/ga.html') %>

</body>

</html>