<!doctype html>
<html lang="en">

<head>
  <meta name="description" content="[lang-meta-description]">
  <%= require('html-loader!../../partials/meta-common.html') %>
  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="/img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="[lang-meta-og-title]">
  <meta property="og:description" content="[lang-meta-og-description]">
  <meta property="og:url" content="https://www.alpha.ca.gov/minimum-wage-in-california/">

  <link rel="canonical" href="https://www.alpha.ca.gov/minimum-wage-in-california/" />
  <title>[lang-title]</title>


</head>

<body>

 <header>
 <%= require('html-loader!../../partials/official.html') %>
  <%= require('html-loader!../../partials/experiment-banner.html') %>
  <%= require('html-loader!../../partials/navbar.html') %>
</header>


  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>[lang-h1]</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>[lang-h2]</h2>
        <p>[lang-p]</p>
        <cwds-step-list>
          <ul class="list-group list-group-flush">
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">1</span>[lang-step-1]
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details">
                <span class="step-interior">
                  <br>
                  [lang-step-1-text]

                  <p><a href="http://cslb.ca.gov/About_Us/Library/Licensing_Classifications/">[lang-step-1-link]</a></p>
                  <br>
                </span>
              </div>
            </li>
            <li class="list-group-item unstyled list-group-item-action list-open">
              <button type="button" class="step-description">
                <span class="list-number">2</span>
                <span class="bold">[lang-step-2]</span>
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>[lang-step-2-p]</p>
                  <a
                    href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Building_Permit_Requirements.aspx">[lang-step-2-link]</a>
                </span>
              </div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">3</span>
                <span class="bold">[lang-step-3]</span>
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item inner-list">[lang-step-3-li-1]</li>
                    <li class="list-group-item inner-list">[lang-step-3-li-2]</li>
                    <li class="list-group-item inner-list">[lang-step-3-li-3]</li>
                  </ul>
                  <br>
                  <p><a
                      href="http://cslb.ca.gov/OnlineServices/CheckLicenseII/ZipCodeSearch.aspx">[lang-step-3-link]</a>
                  </p>
                </span><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">4</span>
                <span class="bold">[lang-step-4]</span>
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior"><br>
                  <p>[lang-step-4-p-1]</p>

                  <p>[lang-step-4-p-2]</p>
                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item unstyled no-border">[lang-step-4-p-li-1a] <br><span
                        class="nested-and-or">[lang-step-4-p-li-1b]</span></li>

                    <li class="list-group-item unstyled no-border"><a
                        href="https://www.cslb.ca.gov/OnlineServices/CheckLicenseII/CheckLicense.aspx">[lang-step-4-p-li-2]</a>
                    </li>
                  </ul>
                </span><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">5</span>
                <span class="bold">[lang-step-5]</span>
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior"><br>
                  <p>[lang-step-5-p-1]</p>
                  <p>[lang-step-5-p-2]</p>
                </span></div>
            </li>
            <li class="list-group-item and-or-lead unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">6</span>
                <span class="bold">[lang-step-6]</span>
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>[lang-step-6-p-1]</p>
                  <p>[lang-step-6-p-2]</p>

                  <ul class="unstyled pt-2 pl-0">
                    <li class="list-group-item inner-list">[lang-step-6-li-1]</li>
                    <li class="list-group-item inner-list">[lang-step-6-li-2]</li>
                  </ul>
                  <br>
                  <p>[lang-step-6-p-3]</p>
                </span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number step-list-and-or">[lang-step-6and-digit]</span>
                <span class="bold">[lang-step-6and]</span>
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>[lang-step-6and-p]</p>
                </span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">7</span>
                <span class="bold">[lang-step-7]</span>
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>[lang-step-7-p-1]</p>
                  <p>[lang-step-7-p-2]</p>
                </span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">8</span>
                <span class="bold">[lang-step-8]</span>
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>

                  <p>[lang-step-8-p-1]</p>
                  <p>[lang-step-8-p-2]</p>
                </span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">9</span>
                <span class="bold">[lang-step-9]</span>
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>[lang-step-9-p]</p>
                  <p><a
                      href="https://www.cslb.ca.gov/Consumers/Hire_A_Contractor/Contracts_And_Binding_Agreements.aspx">[lang-step-9-link]</a>
                  </p>
                </span></div>
            </li>
            <li class="list-group-item unstyled list-group-item-action">
              <button type="button" class="step-description">
                <span class="list-number">10</span>
                <span class="bold">[lang-step-10]</span>
              </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
              <div class="details"><span class="step-interior">
                  <br>
                  <p>[lang-step-10-p-1]</p>
                  <p>[lang-step-10-p-2]</p>
                </span></div>
            </li>
          </ul>
        </cwds-step-list>

      </div>

    </div>
  </div>
<footer>
  <%= require('html-loader!../../partials/feedback.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>
</footer>

</body>

</html>