<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Alpha website for the State of California.">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!./partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Alpha.CA.gov - State of California">
  <meta property="og:description" content="We’re making it easier to find and use government services and information in the State of California.">
  <meta property="og:url" content="https://alpha.ca.gov">

  <link rel="canonical" href="https://alpha.ca.gov" />
  <title>Welcome to Alpha.CA.gov</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />

</head>

<body>


  <%= require('html-loader!./partials/experiment-banner.html') %>
  <%= require('html-loader!./partials/official.html') %>
  <%= require('html-loader!./partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome to Alpha.CA.gov</h1>
          <p class="lead">We’re making it easier to find and use government services and information.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Featured pages</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="list-group">
          <a href="services/minimum-wage-in-california" class="list-group-item list-group-item-action lead">Find your
            minimum wage </a>
          <a href="services/california-birth-certificate"
            class="list-group-item list-group-item-action lead">Request a birth certificate</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="list-group">
          <a href="services/state-of-california-employee-holidays" class="list-group-item list-group-item-action lead">State of
            California employee holidays</a>
        </div>
      </div>
    </div>


  </div>

  <%= require('html-loader!./partials/feedback.html') %>
  <%= require('html-loader!./partials/footer.html') %>
  <%= require('html-loader!./partials/alphabar.html') %>
  <%= require('html-loader!./partials/ga.html') %>

</body>

</html>