<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <%= require('html-loader!./partials/meta-common.html') %>
    <%= require('html-loader!./partials/favicons.html') %>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Alpha.CA.gov - State of California">
    <meta property="og:description" content="We’re making it easier to find and use government services and information in the State of California.">
    <meta property="og:url" content="[code-url]">
    <title>Welcome to Alpha.CA.gov</title>
    <meta name="description" content="The Alpha website for the State of California.">
    <link rel="canonical" href="[code-url]" />
</head>

<body>
    <header>
        <%= require('html-loader!./partials/official.html') %>
        <%= require('html-loader!./partials/experiment-banner.html') %>
        <%= require('html-loader!./partials/navbar.html') %>
    </header>
    <main>
        <div class="container-fluid jumbotron alpha pt-5 pb-5">
            <div class="container">
                <div class="row text-left">
                    <div class="col-md-12">
                        <!--<img src="/img/ca-light.png" alt="State of California" title="State of California">-->
                        <h1 class="text-white">Welcome to Alpha.CA.gov</h1>
                        <p class="lead text-white">We’re making it easier to find and use government services and information.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
					
					<h2>Employment</h2>
					 <div class="list-group home">
                        <a href="apply-for-disability-insurance-benefits/" class="list-group-item list-group-item-action">Apply for disability insurance benefits</a>
						<a href="apply-for-unemployment-insurance/" class="list-group-item list-group-item-action">Apply for unemployment insurance</a> 
						<a href="find-minimum-wage-your-city/" class="list-group-item list-group-item-action">Find the minimum wage in your city</a>
                      </div>

					 <h2 class="pt-5">Housing</h2>
					 <div class="list-group home">
                        <a href="hire-licensed-contractor-home-improvements/" class="list-group-item list-group-item-action">Hire a licensed contractor for home improvements</a>
						<a href="find-shelters-near-you/" class="list-group-item list-group-item-action">Find shelters near you</a>
                      </div>
					 <h2 class="pt-5">State information</h2>
					 <div class="list-group home">
                        <a href="contact-us/" class="list-group-item list-group-item-action">Contact a state agency</a>
						<a href="state-california-employee-holidays/" class="list-group-item list-group-item-action">State of California employee holidays</a>
                      </div>
					    <h2 class="pt-5">Transportation</h2>
					 <div class="list-group home">
                        <a href="check-lane-closures/" class="list-group-item list-group-item-action">Check lane closures for your trip</a>
                      </div>

					  <h2 class="pt-5">Education</h2>
					 <div class="list-group home">
                        <a href="apply-for-cal-grant/" class="list-group-item list-group-item-action">Apply for a Cal Grant (college financial aid)</a>
                      </div>
                </div>
          
                <div class="col-md-6 mobile-padding-top">

					 <h2>Utilities</h2>
					 <div class="list-group home">
                        <a href="check-your-tap-water-quality/" class="list-group-item list-group-item-action">Check your tap water quality</a>
						<a href="check-if-you-can-get-discounted-phone-service/" class="list-group-item list-group-item-action">Check if you can get a discounted phone service</a>
						<a href="apply-discounted-phone-service/" class="list-group-item list-group-item-action">Apply for a discounted phone service</a>
                      </div>
					 <h2 class="pt-5">Disaster</h2>
					 <div class="list-group home">
                        <a href="prepare-for-wildfire/" class="list-group-item list-group-item-action">Prepare for a wildfire</a>
						<a href="considerations-after-wildfire/" class="list-group-item list-group-item-action">Considerations after a wildfire</a>
                      </div>
					 <h2 class="pt-5">Local services</h2>
					 <div class="list-group home">
                        <a href="find-food-banks-near-you/" class="list-group-item list-group-item-action">Find food banks near you</a>
						<a href="sign-up-for-local-emergency-alerts/" class="list-group-item list-group-item-action">Sign up for local emergency alerts</a>
                      </div>
					<h2 class="pt-5">Identification</h2>
                     <div class="list-group home">
                        <a href="request-birth-certificate/" class="list-group-item list-group-item-action">Request a birth certificate</a>
                      </div>
                </div>
			 </div>
         </div>	
  
    </main>
    <footer>
        <%= require('html-loader!./partials/feedback.html') %>
        <%= require('html-loader!./partials/footer.html') %>
        <%= require('html-loader!./partials/alphabar.html') %>
        <%= require('html-loader!./partials/ga.html') %>
    </footer>
    <%= require('html-loader!./js/es6/js.html') %>
</body>

</html>
