<!doctype html>
<html lang="en">

<head>
  <%= require('html-loader!../../partials/meta-common.html') %>
  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="Solicitar un acta de nacimiento - Alpha.CA.gov">
  <meta property="og:description" content="Request a California birth certificate in person, by mail, or online.">
  <meta property="og:url" content="https://alpha.ca.gov/services/california-birth-certificate/">

  <link rel="canonical" href="https://alpha.ca.gov/services/california-birth-certificate/" />
  <title>Solicitar un acta de nacimiento - Welcome to Alpha.CA.gov</title>
  <meta name="description" content="Request a California birth certificate in person, by mail, or online.">
</head>

<body>

<%= require('html-loader!../../partials/official.html') %>
<%= require('html-loader!../../partials/experiment-banner.html') %>
<%= require('html-loader!../../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Solicitar un acta de nacimiento</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <p>Hay tres maneras de solicitar un acta de nacimiento del estado de California.</p>
    <div class="row">
      <div class="col-md-4 mb-5">
		<h2 class="border p-3 bg-light">Visite una oficina de su condado</h2>
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">Usted debe solicitar el acta de nacimiento en el condado donde la persona nació.</li>
				  <li class="list-group-item">Costo: $28</li>
				  <li class="list-group-item">Tiempo de procesamiento: Varía, pero podría ser tan pronto como el mismo día</li>
				  <li class="list-group-item">Tendrá que firmar un documento legal frente a un empleado del condado.</li>
				  <li class="list-group-item">Es posible que deba traer algún tipo de identificación válida (no vencido). Puede traer su licencia de conducir, pasaporte, u otro tipo de identificación otorgada por el gobierno.</li>
				</ul>
		  <div class="col mt-3">
			  <a href="https://www.cdph.ca.gov/Programs/CHSI/Pages/County-Registrars-and-Recorders.aspx"><button
                    type="submit" class="btn btn-primary js-wage-lookup">Visite una oficina de su condado</button></a>
		  </div>
      </div>
      <div class="col-md-4 mb-5">
		<h2 class="border p-3 bg-light">Solicitar por correo</h2>
        <ul class="list-group list-group-flush">
				  <li class="list-group-item">Para obtener una <a href="https://www.cdph.ca.gov/Programs/CHSI/Pages/Authorized-Copy-vs--Informational-Copy.aspx">copia autorizada</a>, debe utilizar los servicios de un notario.</li>
				  <li class="list-group-item">Costo: $25 (más el precio de la notarización)</li>
				  <li class="list-group-item">Tiempo de procesamiento: 3 a 4 semanas o más (se anticipa que en el año 2020 este proceso tomará más tiempo)</li>
				</ul>
		  <div class="col mt-3">
			  <a a href="https://www.cdph.ca.gov/Programs/CHSI/Pages/Birth-Mail.aspx"><button type="submit"
                    class="btn btn-primary js-wage-lookup">Envíe una solicitud por correo</button></a>
		  </div>
      </div>
      <div class="col-md-4 mb-5">
        <h2 class="border p-3 bg-light">Solicitar por internet</h2>
		  <ul class="list-group list-group-flush">
				  <li class="list-group-item">Usted también puede aplicar por el internet. Para esto, hay compañías privadas (no afiliadas al gobierno) que prestan estos servicios.</li>
				  <li class="list-group-item">Costo: $31 a $110</li>
				  <li class="list-group-item">Tiempo de procesamiento: 2 a 3 semanas, dependiendo de la compañía</li>
				</ul>
		  <div class="col mt-3">
			 
			  <a href="https://www.cdph.ca.gov/Programs/CHSI/Pages/Obtaining-Certified-Copies-Online.aspx"><button
                    type="submit" class="btn btn-primary js-wage-lookup">Solicitar por internet</button></a>
			   </div>
		  
		
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p>Más sobre solicitando<a
            href="https://www.cdph.ca.gov/Programs/CHSI/Pages/Vital-Records-Obtaining-Certified-Copies-of-Birth-Records.aspx">un acta de nacimiento</a>.</p>
      </div>
    </div>
  </div>

  <%= require('html-loader!../../partials/feedback.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>
