<!doctype html>
<html lang="en" xml:lang="en">

<head>
    <meta name="description" content="Follow these steps to apply for disability insurance benefits.">
    <%= require('html-loader!../../partials/meta-common.html') %>
    <%= require('html-loader!../../partials/favicons.html') %>
    <title>Apply for disability insurance benefits - Alpha.CA.gov</title>
    <!-- Social media post -->
    <meta property="og:image" content="/img/thumbnail.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="630">
    <meta property="og:title" content="Apply for disability insurance benefits - Alpha.CA.gov">
    <meta property="og:description" content="Follow these steps to apply for disability insurance benefits.">
    <meta property="og:url" content="[code-url]">
    <link rel="canonical" href="[code-url]" />
</head>

<body>
    <header>
        <%= require('html-loader!../../partials/official.html') %>
        <%= require('html-loader!../../partials/experiment-banner.html') %>
        <%= require('html-loader!../../partials/navbar.html') %>
    </header>
    <main>
        <div class="container-fluid jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>Apply for disability insurance benefits</h1>
						<p>These short-term payments replace part of your income if you can’t work for at least eight days because you’re:
                                             <ul class="inner-list">
                                                 <li>Sick</li>
                                                 <li><strong>[global-lang-or-lower]</strong> injured</li>
                                                 <li><strong>[global-lang-or-lower]</strong> pregnant</li>
                                             </ul>
                                         </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <cwds-step-list>
					<a href="#" class="show-all">Show all</a>
        			<a href="#" class="show-all d-none">Hide all</a>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item unstyled list-group-item-action">
                                <button type="button" class="step-description">
                                    <span class="list-number" aria-label="step one">1</span>Check if you can get disability insurance benefits
                                </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
                                <div class="details">
                                    <span class="step-interior">
                                        <p><a class="action-link mt-3" href="https://www.edd.ca.gov/disability/Am_I_Eligible_for_DI_Benefits.htm">Check if you qualify</a></p>
                                        <p><strong>If your employer has a <a href="https://www.edd.ca.gov/disability/Employer_Voluntary_Plans.htm">Voluntary Plan</a></strong>, talk to your human resources office to apply for disability benefits.</p>
                                        <p><strong>If you’re self-employed</strong>, you can <a href="https://www.edd.ca.gov/disability/Self-Employed_Eligibility.htm">apply for disability insurance</a>[global-lang-period]</p>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item unstyled list-group-item-action">
                                <button type="button" class="step-description">
                                    <span class="list-number" aria-label="step two">2</span>File your claim
                                </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
                                <div class="details">
                                    <span class="step-interior">
                                        <ul>
                                            <li class="list-group-item unstyled no-border"><a class="action-link mt-3" href="https://www.edd.ca.gov/disability/How_to_File_a_DI_Claim_in_SDI_Online.htm">File online</a> <span class="and-or mt-5">[global-lang-or-lower]</span></li>
                                            <li class="list-group-item unstyled no-border"><a class="action-link mt-n1" href="https://www.edd.ca.gov/disability/How_to_File_a_DI_Claim_by_Mail.htm">File by mail</a></li>
                                        </ul>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item lead unstyled list-group-item-action">
                                <button type="button" class="step-description">
                                    <span class="list-number" aria-label="step three">3</span>Ask your doctor to certify your disability
                                </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
                                <div class="details">
                                    <span class="step-interior">
                                        <p>A doctor, nurse, or physician’s assistant has to certify your medical condition. They must submit a form within 49 days of the first day you couldn’t work because of your disability.</p>
                                        <p>Ask them what they need from you to submit the form for disability insurance.</p>
                                    </span><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span></div>
                            </li>
                            <li class="list-group-item lead unstyled list-group-item-action">
                                <button type="button" class="step-description">
                                    <span class="list-number" aria-label="step four">4</span>Read our response
                                </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
                                <div class="details">
                                    <span class="step-interior">
                                        <p>Within 14 days, we will email you or send you a letter to let you know if you can get disability benefits.</p>
                                        <p class="bold">If you do qualify:</p>
                                        <ul class="inner-list">
                                            <li>You can get paid eight days after the start of your claim.</li>
                                            <li>You can choose to get paid through a <a href="https://www.edd.ca.gov/About_EDD/The_EDD_Debit_Card.htm">debit card</a> or checks in the mail. (Checks take 7 to 10 days to mail.)</li>
                                        </ul>
                                        <p class="mt-2 bold">If you don’t qualify:</p>
                                        <ul class="inner-list">
                                            <li>You can tell us you disagree with the decision.</li>
                                            <li>In your letter, you’ll also get an Appeal Form. You can fill out this form and send it back to us within 30 days.</li>
                                        </ul>
                                    </span><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span></div>
                            </li>
                            <li class="list-group-item lead unstyled list-group-item-action">
                                <button type="button" class="step-description">
                                    <span class="list-number" aria-label="step five">5</span>Submit a form to keep getting paid
                                </button><span class="show">[global-lang-show]</span><span class="hide">[global-lang-hide]</span>
                                <div class="details">
                                    <span class="step-interior">
                                        <p>To keep your benefits, you have to let us know you still are unable to work. To do that, you must return one of the forms below. <strong>Please note: If you don’t, your payments will stop.</strong></p>
                                        <p class="mt-5">The fastest way to submit these forms is through <a href="https://www.edd.ca.gov/disability/SDI_Online.htm">SDI Online</a>.</p>
                                        <p class="mt-2 bold">If you get automatic payments:</p>
                                        <ul class="inner-list">
                                            <li>We will send you a form after 10 weeks.</li>
                                            <li>The form is called Disability Claim Continuing Certification.</li>
                                            <li>You must return this form to continue your benefits.</li>
                                        </ul>
                                        <p class="mt-2 bold">If you don’t get automatic payments:</p>
                                        <ul class="inner-list">
                                            <li>We will send you a different form every two weeks.</li>
                                            <li>The form is called Claim for Continued Disability Benefits.</li>
                                            <li>You must return this form to continue your benefits.</li>
                                        </ul>
                                    </span></div>
                            </li>
                        </ul>
                    </cwds-step-list>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%= require('html-loader!../../partials/feedback.html') %>
        <%= require('html-loader!../../partials/footer.html') %>
        <%= require('html-loader!../../partials/alphabar.html') %>
        <%= require('html-loader!../../partials/ga.html') %>
    </footer>
    <%= require('html-loader!../../js/es6/js.html') %>
</body>

</html>
