<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="[lang-meta-description]">
  <meta name="author" content="Alpha.CA.gov - State of California">

  <%= require('html-loader!../../partials/favicons.html') %>

  <!-- Social media post -->
  <meta property="og:image" content="/img/thumbnail.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="630">
  <meta property="og:title" content="[lang-meta-og-title]">
  <meta property="og:description" content="[lang-meta-og-description]">
  <meta property="og:url" content="https://alpha.ca.gov/services/state-of-california-employee-holidays/">

  <link rel="canonical" href="https://alpha.ca.gov/services/state-of-california-employee-holidays/" />
  <title>[lang-title]</title>

  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
</head>

<body>

<%= require('html-loader!../../partials/official.html') %>
<%= require('html-loader!../../partials/experiment-banner.html') %>
<%= require('html-loader!../../partials/navbar.html') %>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>[lang-h1]</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col">
        <h2>[lang-h2]</h2>

        <div class="alert alert-secondary " role="alert">
          <p class="display-4 alert">[lang-current-holiday-date]</p>
          <p class="h2 alert">[lang-current-holiday-name]</p>

        </div>

        <p><i class="far lead ca-gov-icon-calendar"></i> <a href="https://api.alpha.ca.gov/StateHolidayCalendar.ics"
            download>[lang-h2-link]</a></p>


        <h2>[lang-h2-2]</h2>
        <p>[lang-h2-2-p]</p>

        <div class="column mb-20">

          <cwds-accordion>
            <div class="card">
              <div class="card-header accordion-alpha pr-3" id="heading-one">
                <button class="btn mb-n3" type="button" aria-expanded="false">
                  <h3 class="pl-3 h4">[lang-h3-2020]</h3>
                </button>
              </div>
              <div class="card-container collapsed" aria-labelledby="heading-one">
                <div class="card-body">
                  <table class="table table-responsive-sm">
                    <thead>
                      <tr>
                        <th scope="col" class="lead">[lang-table-th-1]</th>
                        <th scope="col" class="lead">[lang-table-th-2]</th>
                        <th scope="col" class="lead">[lang-table-th-3]</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>January 1</td>
                        <td>[lang-day-wednesday]</td>
                        <td>[lang-holiday-newyears]</td>
                      </tr>
                      <tr>
                        <td>January 20</td>
                        <td>[lang-day-monday]</td>
                        <td>[lang-holiday-mlk]</td>
                      </tr>
                      <tr>
                        <td>February 17</td>
                        <td>[lang-day-monday]</td>
                        <td>[lang-holiday-presidents]</td>
                      </tr>
                      <tr>
                        <td>March 31</td>
                        <td>[lang-day-tuesday]</td>
                        <td>[lang-holiday-chavez]</td>
                      </tr>
                      <tr>
                        <td>May 25</td>
                        <td>[lang-day-monday]</td>
                        <td>[lang-holiday-memorial]</td>
                      </tr>
                      <tr>
                        <td>July 4 (<a href="#credits">holiday credit</a>)</td>
                        <td>[lang-day-saturday]</td>
                        <td>[lang-holiday-independence]</td>
                      </tr>
                      <tr>
                        <td>September 7</td>
                        <td>[lang-day-monday]</td>
                        <td>[lang-holiday-labor]</td>
                      </tr>
                      <tr>
                        <td>November 11</td>
                        <td>[lang-day-wednesday]</td>
                        <td>[lang-holiday-veterans]</td>
                      </tr>
                      <tr>
                        <td>November 26</td>
                        <td>[lang-day-thursday]</td>
                        <td>[lang-holiday-thanksgiving]</td>
                      </tr>
                      <tr>
                        <td>November 27</td>
                        <td>[lang-day-friday]</td>
                        <td>Day after Thanksgiving</td>
                      </tr>
                      <tr>
                        <td>December 25</td>
                        <td>[lang-day-friday]</td>
                        <td>Christmas Day</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="container">

                    <h4>[lang-h4]</h4>

                    <div class="alert" role="alert">

                      <p>[lang-h4-p-1]</p>
                      <p class="display-5 alert"><a href="#credits">[lang-h4-p-2]</a></p>
                      <p>[lang-h4-p-3]</p>
                      <p class="display-5 alert"><a href="#credits">[lang-h4-p-4]</a></p>
                      <p>[lang-h4-p-5]</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </cwds-accordion>
        </div>

        <div class="column mb-20">
          <cwds-accordion>
            <div class="card">
              <div class="card-header accordion-alpha pr-3" id="heading-two">
                <button class="btn mb-n3" type="button" aria-expanded="false">
                  <h3 class="pl-3 h4">[lang-h3-2021]</h3>
                </button>
              </div>
              <div class="card-container collapsed" aria-labelledby="heading-two">
                <div class="card-body">
                  <table class="table table-responsive-sm">
                    <thead>
                      <tr>
                        <th scope="col" class="lead">[lang-table-th-1]</th>
                        <th scope="col" class="lead">[lang-table-th-2]</th>
                        <th scope="col" class="lead">[lang-table-th-3]</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>January 1</td>
                        <td>[lang-day-friday]</td>
                        <td>[lang-holiday-newyears]</td>
                      </tr>
                      <tr>
                        <td>January 18</td>
                        <td>[lang-day-monday]</td>
                        <td>[lang-holiday-mlk]</td>
                      </tr>
                      <tr>
                        <td>February 15</td>
                        <td>[lang-day-monday]</td>
                        <td>[lang-holiday-presidents]</td>
                      </tr>
                      <tr>
                        <td>March 31</td>
                        <td>[lang-day-wednesday]</td>
                        <td>[lang-holiday-chavez]</td>
                      </tr>
                      <tr>
                        <td>May 31</td>
                        <td>[lang-day-monday]</td>
                        <td>[lang-holiday-memorial]</td>
                      </tr>
                      <tr>
                        <td>July 4 (or <a href="#credits">July 5</a>)</td>
                        <td>[lang-day-sunday] (or <a href="#credits">[lang-day-monday]</a>)</td>
                        <td>[lang-holiday-independence]</td>
                      </tr>
                      <tr>
                        <td>September 6</td>
                        <td>[lang-day-monday]</td>
                        <td>[lang-holiday-labor]</td>
                      </tr>
                      <tr>
                        <td>November 11</td>
                        <td>[lang-day-thursday]</td>
                        <td>[lang-holiday-veterans]</td>
                      </tr>
                      <tr>
                        <td>November 25</td>
                        <td>[lang-day-thursday]</td>
                        <td>[lang-holiday-thanksgiving]</td>
                      </tr>
                      <tr>
                        <td>November 26</td>
                        <td>[lang-day-friday]</td>
                        <td>Day after Thanksgiving</td>
                      </tr>
                      <tr>
                        <td>December 25 (<a href="#credits">holiday credit</a>)</td>
                        <td>[lang-day-saturday]</td>
                        <td>Christmas Day</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="container">
                    <h4>[lang-h4]</h4>

                    <div class="alert " role="alert">

                      <p>[lang-h4-p-1]</p>
                      <p class="display-5 alert"><a href="#credits">[lang-h4-p-2]</a></p>
                      <p>[lang-h4-p-3]</p>
                      <p class="display-5 alert"><a href="#credits">[lang-h4-p-4]</a></p>
                      <p>[lang-h4-p-5]</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </cwds-accordion>
        </div>

        <div class="column">

          <a id="credits">
            <cwds-accordion class="js-credits">
              <div class="card">
                <div class="card-header accordion-alpha pr-3" id="heading-three">
                  <button class="btn js-credit-button mb-n3" type="button" aria-expanded="false">
                    <h3 class="pl-3 h4 text-left" >[lang-h3-2]</h3>
                  </button>
                </div>
                <div class="card-container collapsed" aria-labelledby="heading-three">
                  <div class="card-body">
                    <h4>[lang-h4]</h4>
                    <ul>
                      <li>[lang-h4-1-li-1]</li>
                      <li>[lang-h4-1-li-2]</li>
                    </ul>
                    <h4>[lang-h4-2]</h4>
                    <ul>
                      <li>[lang-h4-2-li]</li>
                    </ul>
                    <h4>[lang-h4-3]</h4>
                    <ul>
                      <li>[lang-h4-3-li-1]</li>
                      <li>[lang-h4-3-li-2]</li>
                      <li>[lang-h4-3-li-3]</li>
                    </ul>
                  </div>
                </div>
              </div>
            </cwds-accordion>
          </a>
        </div>
      </div>
    </div>
  </div>

  <cwds-holidays></cwds-holidays>
  
  <%= require('html-loader!../../partials/feedback.html') %>

  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/alphabar.html') %>
  <%= require('html-loader!../../partials/ga.html') %>

</body>

</html>
